.clock-widget {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 50%;
	background: rgb(25, 25, 25);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-width: 0.2vw;
	border-style: solid;
	border-color: rgb(20, 50, 120);
	overflow: hidden;
}

.clock-widget > * {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.clock-widget > * > div {
	width: 5%;
	height: 50%;
	margin: 0 auto;
	opacity: 0.5;
}

.clock-widget .hour {
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
}

.clock-widget .hour > * {
	background-color: rgb(0, 170, 50);
}

.clock-widget .minute {
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
}

.clock-widget .minute > * {
	background-color: rgb(20, 40, 150);
}

.clock-widget .second > * {
	background: rgb(200, 50, 30);
}

.clock-widget .time {
	top: calc(50% - 2rem / 2);
	left: 30%;
	color: rgb(120, 120, 120);
	font-weight: bold;
	font-family: Arial, Tahoma, Verdana, serif;
	border: none;
	display: block;
	font-size: 2rem;
	text-align: center;
	width: 40%;
	text-shadow: 0px 0px 1.2rem rgb(0, 0, 0)
}
