*.swp
*.swo
build
*.less.css
*-stamp
debian
*.js.compiled
compiled
*.patch
*~
pkged-demo-apps
tau/tests/libs/dist
tau/dist
tau/node_modules
tau/.buildpath
tau/.*project
tau/demos/SDK/mobile/UIComponents/.project
tau/demos/SDK/mobile/UIComponents/.sdk_delta.info
tau/demos/SDK/mobile/UIComponents/.settings/
tau/demos/SDK/mobile/UIComponents/.sign/
tau/demos/SDK/wearable/UIComponents/.project
tau/demos/SDK/wearable/UIComponents/.sdk_delta.info
tau/demos/SDK/wearable/UIComponents/.settings/
tau/demos/SDK/wearable/UIComponents/.sign/
tau/demos/TVDemo/.project
tau/demos/TVDemo/TVDemo.wgt
tau/demos/TVDemo/.rds_delta
tau/demos/TVDemo/.sdk_delta.info
tau/demos/TVDemo/.build/
tau/demos/TVDemo/.buildpath
tau/demos/TVDemo/.settings/
tools/ThemeEditor/dist/
.idea
node_modules
