.basic-checkboxradio() {
	.appearance(none);
	height: 38 * @virtual_px;
	opacity: 0.0;
	width: 38 * @virtual_px;
	vertical-align: middle;
	position: relative;
}

.basic-label() {
	display: inline-block;
	height: 38 * @virtual_px;
	font-size: 28 * @virtual_px;
	line-height: 38 * @virtual_px;
	margin-left: -38 * @virtual_px;
	min-width: 38 * @virtual_px;
	padding-bottom: 38 * @virtual_px;
	padding-left: 57 * @virtual_px;
	position: relative;
}

input[type=checkbox] {
	.basic-checkboxradio();
	& + label {
		.basic-label();
		background: url('images/Checkboxradio/checkbox_uncheck_nor.png') no-repeat 0 0;
	}
	&:disabled + label {
		.basic-label();
		background: url('images/Checkboxradio/checkbox_uncheck_nor.png') no-repeat 0 0;
		opacity: 0.2;
	}
	&:checked + label {
		.basic-label();
		background: url('images/Checkboxradio/checkbox_check_nor.png') no-repeat 0 0;
	}
	&:checked:disabled + label {
		.basic-label();
		background: url('images/Checkboxradio/checkbox_check_nor.png') no-repeat 0 0;
		opacity: 0.2;
	}
}

input[type=checkbox]:focus,
input[type=checkbox].ui-focus {
	&:checked + label {
		background: url('images/Checkboxradio/checkbox_check_foc.png') no-repeat 0 0;
		color: @checkboxradio_label_text_focus;
	}
	& + label {
		background: url('images/Checkboxradio/checkbox_uncheck_foc.png') no-repeat 0 0;
		color: @checkboxradio_label_text_focus;
	}
}

input[type=radio] {
	.basic-checkboxradio();
	& + label {
		.basic-label();
		background: url('images/Checkboxradio/radiobtn_uncheck_nor.png') no-repeat 0 0;
		color: inherit;
	}
	&:disabled + label {
		.basic-label();
		background: url('images/Checkboxradio/radiobtn_uncheck_nor.png') no-repeat 0 0;
		opacity: 0.2;
	}
	&:checked + label {
		.basic-label();
		background: url('images/Checkboxradio/radiobtn_checked_nor.png') no-repeat 0 0;
	}
	&:checked:disabled + label {
		.basic-label();
		background: url('images/Checkboxradio/radiobtn_checked_nor.png') no-repeat 0 0;
		opacity: 0.2;
	}
}

input[type=radio]:focus,
input[type=radio].ui-focus {
	.basic-checkboxradio();
	&:checked + label {
		.basic-label();
		background: url('images/Checkboxradio/radiobtn_checked_foc.png') no-repeat 0 0;
		color: @checkboxradio_label_text_focus;
	}
	& + label {
		.basic-label();
		background: url('images/Checkboxradio/radiobtn_uncheck_foc.png') no-repeat 0 0;
		color: @checkboxradio_label_text_focus;
	}
}

.checkboxradio-container {
	height: 32 * @virtual_px;
}

.ui-popup:not(.ui-ctxpopup).ui-popup-listview .ui-popup-content .ui-listview .li-has-radio,
.ui-popup:not(.ui-ctxpopup).ui-popup-listview .ui-popup-content .ui-listview .li-has-checkbox {
	padding: 0;
}

.ui-listview {
	.li-has-radio,
	.li-has-checkbox {
		padding: 0;
		position: relative;
		.checkboxradio-container {
			height: auto;
			padding: 32 * @virtual_px 43 * @virtual_px;
				.ui-background {
					position: absolute;
					outline: none;
					background-color: @color_default;
					color: @color_button_basic_txt_focus;
				}
			}
		}
}

.ui-page.ui-gray-page {
	input[type=radio],
	input[type=checkbox]{
		&:checked + label {
			color: inherit;
		}
		&.ui-focus:checked + label,
		&:focus:checked + label{
			color: @checkboxradio_label_text_focus;
			font-weight: bold;
		}
	}
}

/** ANIMATION **/
.checkboxradio-container {
	.ui-background {
		position: absolute;
		.transition(200ms ease);
	}

	/* FOCUS */
	&.ui-focus {
		/* animation from down to up */
		&-up {
			.ui-background {
				top: 100%;
				height: 0;
				width: 100%;
				left: 0;
				.transition-property(top, height);
			}
		}
		/* animation from up to down */
		&-down {
			.ui-background {
				height:0;
				width: 100%;
				left: 0;
				top: 0;
				.transition-property(top, height);
			}
		}
		/* animation from rigth to left */
		&-left{
			.ui-background {
				width: 0;
				height: 100%;
				left: 100%;
				top: 0;
				.transition-property(top, height);
			}
		}
		/* animation from left to right */
		&-right {
			.ui-background {
				width:0;
				height: 100%;
				left: 0;
				top: 0;
				.transition-property(top, height);
			}
		}
	}

	&.ui-focus {
		.ui-background {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	/* BLUR */
	/* animation from down to up */
	&.ui-blur-up {
		.ui-background {
			top: 0;
			height:0;
			left: 0;
			width: 100%;
			.transition-property(top, height);
		}
	}
	/* animation from up to down */
	&.ui-blur-down {
		.ui-background {
			top: 100%;
			height: 0;
			left: 0;
			width: 100%;
			.transition-property(top, height);
		}
	}
	/* animation from rigth to left */
	&.ui-blur-left{
		.ui-background {
			width: 0;
			left: 0;
			top: 0;
			height: 100%;
			.transition-property(top, height);
		}
	}
	/* animation from left to right */
	&.ui-blur-right {
		.ui-background {
			width:0;
			left: 100%;
			top: 0;
			height: 100%;
			.transition-property(top, height);
		}
	}
}
