.ui-contextual-menu {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&.ui-contextual-menu-open {
		display: block;
	}

	.ui-contextual-menu-main {
		position: absolute;
		top: 0;
		left: 0;
		right: 596 * @virtual_px;
		bottom: 0;
		z-index: 101;
		overflow: hidden;
		.flex(1 0 auto);

		// Become flex parent for the elements below
		.display-flex();
		.flex-direction(column);
		.justify-content(center);
		.align-items(center);
	}

	.ui-contextual-menu-buttons {
		right: 40 * @virtual_px;
		top: 75 * @virtual_px;
		width: 546 * @virtual_px;
		bottom: 353 * @virtual_px;
		position: absolute;
		z-index: 101;
		overflow: hidden;


		.ui-btn {
			width: 104 * @virtual_px;
			height: 115 * @virtual_px;
			min-width: 104 * @virtual_px;
			min-height: 115 * @virtual_px;
			padding: 0;
			margin-right: 26 * @virtual_px;
			margin-bottom: 28 * @virtual_px;
			&[data-icon]:not(.ui-btn-icon_only) {
				background-color: transparent;
			}

			.ui-btn-inner {
				min-width: 104 * @virtual_px;
				background-image: url("images/icons/btn_controller_nor.png");
				background-size: 64 * @virtual_px 64 * @virtual_px;
				background-repeat: no-repeat;
				background-position: top center;
				.ui-icon {
					top: 0;
					left: 20 * @virtual_px;
					width: 64 * @virtual_px;
					height: 64 * @virtual_px;
					.mask-image();
					.mask-size(64 * @virtual_px 64 * @virtual_px);
					background-color: white;
					background-image: none;

					&.ui-icon-live {
						.mask-image("images/icons/ico_live_foc.png");
					}

					&.ui-icon-tv-show {
						.mask-image("images/icons/ico_live_foc.png");
					}

					&.ui-icon-movie {
						.mask-image("images/icons/ico_moive_foc.png");
					}
				}

				.ui-btn-text.ui-btn-text-padding-left {
					padding-left: 0;
					padding-top: 71 * @virtual_px;
					height: 115 * @virtual_px;
					font-size: 21 * @virtual_px;
					line-height: 22 * @virtual_px;
					text-align: center;
					text-transform: uppercase;
					width: 104 * @virtual_px;
					text-overflow: clip;
					white-space: normal;
				}
			}

			&.ui-focus {
				.ui-btn-inner {
					background-image: none;
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 20 * @virtual_px;
						width: 64 * @virtual_px;
						height: 64 * @virtual_px;
						.mask-image("images/icons/app_ico_bg.png");
						.mask-size(64 * @virtual_px 64 * @virtual_px);
						background-color: @default_color;
					}
				}
			}
		}
	}

	.ui-contextual-menu-related {
		right: 40 * @virtual_px;
		width: 546 * @virtual_px;
		top: 390 * @virtual_px;
		bottom: 0;
		position: absolute;
		z-index: 101;
		overflow: hidden;

		.ui-li-divider {
			padding: 37 * @virtual_px 16 * @virtual_px 8 * @virtual_px 16 * @virtual_px;
			font-size: 27 * @virtual_px;
			font-weight: bold;
		}
	}

	.ui-contextual-menu-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.8);
		z-index: 100;
	}
}