.ui-drawer .ui-listview, 
.ui-home-bar-main, 
.ui-drawer .ui-dynamic-box-no-content {
	float: left;
	height: 100vh;
	background-color: @color_drawer_bg;
	overflow: hidden;
	position: relative;
}

.ui-drawer .ui-dynamic-box .ui-listview,
.ui-home-bar-main {
	width: 270 * @virtual_px;
}

.ui-home-bar-header-box {
	overflow: hidden;
}
.ui-drawer .ui-dynamic-box .ui-listview,
.ui-home-bar,
.ui-home-bar-box,
.ui-home-bar-header-box {
	margin: 0;
	overflow-y: scroll;
	width: 270 * @virtual_px;

	.ui-li.ui-btn-up-s {
		background-color: @color_drawer_bg;
	}
	.ui-li.ui-btn-down-s {
		background-color: @color_drawer_list_press;
	}
	.ui-drawer-sub-list > .ui-btn-inner .ui-btn-text {
		.ui-link-inherit {
			padding-left: 26 * @virtual_px;
		}
	}
	li {
		text-align: center;
		border-bottom: none;
		a {
			width: auto;
			height: auto;

			&.ui-btn, &.ui-btn[data-icon]:not(.ui-btn-icon_only) {
				background-color: transparent;
			}

			.ui-btn-inner {
				color: @color_drawer_btn;
				overflow: visible;

				.ui-btn-text {
					margin: 0;
					display: block;

					&.ui-btn-text-padding-top {
						padding: 0;
					}

					.li-text-sub {
						color: @color_drawer_btn;
					}
				}
			}
		}
	}

	li:hover {
		background-color: @color_drawer_bg;
	}
	.ui-home-block {
		padding: 40 * @virtual_px;
	}
}

.ui-drawer {
	position: absolute;
	margin: 0;
	z-index: 900;
	.display-flex();
	&.ui-drawer-left {
		border-right: 1 * @virtual_px solid @color_drawer_border;
		/* drawer right border color same to list border bottom color */
	}
	&.ui-drawer-right {
		border-left: 1 * @virtual_px solid @color_drawer_border;
	}

	.ui-drawer-close {
		float: left;
		height: 100vh;
		width: 30 * @virtual_px;
		background: @color_drawer_back_bg url(@drawer_back_background) no-repeat center center;
		padding: inherit;
		min-width: inherit;

		&.ui-focus {
			background-color: @color_drawer_btn_close_background;
		}
	}

	.ui-dynamic-box {
		float: left;
		width: 636 * @virtual_px;
		height: 100vh;

		&.ui-dynamic-box-no-content {
			&.ui-dynamic-box-active {
				.display-flex();
				.flex-direction(column);
				.justify-content(center);
			}
			padding: 30 * @virtual_px;
			header {
				width: 100%;
				font-size: @fixed_popup_header_font_size_no_box;
				color: @color_popup_title_text_no_box;
				font-weight: bold;
				text-align: center;
			}

			div {
				width: 100%;
				font-size: @fixed_popup_toast_font_size;
				color: @color_popup_text_no_box;
				text-align: center;
			}
		}


		.ui-listview {
			width: 100%;
			padding: 17 * @virtual_px 20 * @virtual_px;
			li:not(.ui-list-divider) {
				text-align: left;
				background-color: @color_drawer_listview_not_divider;
				border-bottom: solid 2 * @virtual_px @color_drawer_listview_not_divider_border;
				margin-bottom: 14 * @virtual_px;
				> * {
					overflow: visible;
				}
				a {
					.ui-btn-inner {
						font-size: 32 * @virtual_px;
					}
				}
			}

			.ui-list-divider {
				padding: 14 * @virtual_px 14 * @virtual_px;
				min-height: 0;
				background-color: transparent;
				text-align: left;

				> .ui-btn-text {
					font-size: 27 * @virtual_px;
					color: @color_drawer_divider_btn;
				}

				> .ui-divider-normal-line {
					display: none;
				}
			}

			.ui-li-dynamic {
				text-transform: none;
				margin-bottom: 20 * @virtual_px;
				padding: 0;
				a {
					padding: 0;
					margin: 0;
					.ui-btn-inner {

						.ui-btn-text {
							display: flex;
							flex-direction: column;
							> img {
								width: 100%;
								z-index: 1;
								height: auto;
								float: none;
								margin: 0;
							}
							footer {
								background-color: @color_drawer_dynamic_footer_background;
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								z-index: 2;
								overflow: hidden;

								.ui-li-dynamic-footer-icon {
									order: 5;
									.mask-size(100%);
									background-color: rgba(137, 137, 137, 0.8);
									display: inline;
									float: right;
									width: 40 * @virtual_px;
									height: 40 * @virtual_px;
									margin: 5 * @virtual_px 20 * @virtual_px;
									float: right;
									img {
										display: none;
									}
								}
								h2 {
									font-size: 24 * @virtual_px;
									color: @color_drawer_footer_btn;
									font-weight: normal;
									margin: 12 * @virtual_px 0 12 * @virtual_px 0;
									display: inline-block;
									overflow: hidden;
									text-overflow: ellipsis;
									float: right;
									width: 390 * @virtual_px;
									text-align: left;
								}
								h3 {
									font-size: 20 * @virtual_px;
									color: @color_drawer_footer_btn;
									font-weight: normal;
									margin: 12 * @virtual_px 12 * @virtual_px 12 * @virtual_px 25 * @virtual_px;
									padding-right: 12 * @virtual_px;
									border-right: @virtual_px solid @color_drawer_btn;
									display: inline-block;
									float: left;
								}
								div:not(.ui-background),
								progress {
									display: none
								}
							}
						}
					}

					&.ui-focus {
						.ui-btn-inner {
							.ui-btn-text {
								footer {
									position: relative;
									h2 {
										color: @color_drawer_btn;
										font-size: 24  * @virtual_px;
										float: none;
										width: auto;
										margin: 25 * @virtual_px 0 0 25 * @virtual_px;
										display: block;
									}
									h3 {
										color: @color_drawer_btn;
										font-size: 20  * @virtual_px;
										clear: left;
										margin-top: 2 * @virtual_px;
										margin-right: 8 * @virtual_px;
									}
									.ui-li-dynamic-footer-icon {
										width: 56 * @virtual_px;
										height: 56 * @virtual_px;
										background-color: rgb(255, 255, 255);
										margin: 25 * @virtual_px 20 * @virtual_px 0 20 * @virtual_px;
									}
									div {
										display: inline-block;
										float: left;
										color: @color_drawer_btn;
										font-size: 20  * @virtual_px;
									}
									progress {
										clear: both;
										display: block;
										padding-left: 25 * @virtual_px;
										padding-right: 25 * @virtual_px;
									}
									.ui-background {
										z-index: -1;
										background-color: @color_drawer_footer_btn_background;
									}
								}
								header {
									position: absolute;
									top: 0;
									left: 0;
									z-index: 10;
									width: 100%;
									.ui-li-dynamic-info {
										float: right;
										margin-top: 14 * @virtual_px;
										margin-right: 18 * @virtual_px;
										font-size: 22 * @virtual_px;
										color: rgb(200, 200, 200);
									}
								}
							}
						}
					}
				}
				&-1line {
					a {
						.ui-btn-inner {
							.ui-btn-text {
								footer {
									display: flex;
									align-items: center;
									h2 {
										order: 3;
										flex: 1 0 auto;
										font-size: 19 * @virtual_px;
									}
									h3 {
										order: 1;
										font-size: 24 * @virtual_px;
										border-right: 0;
										padding-right: 0;
										font-weight: bold;
									}
									&::after {
										order: 2;
										content: "";
										display: inline-block;
										padding-top: 8 * @virtual_px;
										margin-right: 12 * @virtual_px;
										height: 8 * @virtual_px;
										width: 1 * @virtual_px;
										background-color: @color_drawer_btn;
									}
								}
							}
						}
						&.ui-focus {
							.ui-btn-inner {
								.ui-btn-text {
									footer {
										h2 {
											font-size: 19 * @virtual_px;
											margin: 12 * @virtual_px 0 12 * @virtual_px 0;
											line-height: 24 * @virtual_px;
										}
										h3 {
											font-size: 24 * @virtual_px;
											line-height: 26 * @virtual_px;
											margin: 12 * @virtual_px 12 * @virtual_px 12 * @virtual_px 25 * @virtual_px;
										}
									}
								}
							}
						}
					}
					&-icon {
						a {
							.ui-btn-inner {
								.ui-btn-text {
									footer {
										display: flex;
										h2 {
											order: 1;
											flex: 1 0 auto;
											margin-left: 25 * @virtual_px;
											font-size: 24 * @virtual_px;
											font-weight: bold;
										}
										.ui-li-dynamic-footer-icon {
											order: 2;
										}
									}
								}
							}
							&.ui-focus {
								.ui-btn-inner {
									.ui-btn-text {
										footer {
											h2 {
												margin: 12 * @virtual_px 0 12 * @virtual_px 25 * @virtual_px;
											}
											.ui-li-dynamic-footer-icon {
												margin-top: auto;
												margin-bottom: auto;
												width: 40 * @virtual_px;
												height: 40 * @virtual_px;
											}
										}
									}
								}
							}
						}
					}
				}
				&-icon-1line {
					a {
						.ui-btn-inner {
							.ui-btn-text {
								footer {
									display: flex;
									h2 {
										order: 2;
										flex: 1 0 auto;
										margin: 10 * @virtual_px  25 * @virtual_px 10 * @virtual_px 0;
										font-size: 30 * @virtual_px;
										font-weight: bold;
										line-height: 30 * @virtual_px;
									}
									.ui-li-dynamic-footer-icon {
										width: 37 * @virtual_px;
										height: 38 * @virtual_px; // @ webkit rendering patch original value: 37
										order: 1;
										margin-left: 25 * @virtual_px;
										margin-right: 12 * @virtual_px;
										.mask-image("images/icons/ico_bg_37.png");
										.mask-size(37 * @virtual_px, 25 * @virtual_px);
										.mask-composite(source-out);
										.mask-repeat(no-repeat, no-repeat);
										.mask-position(center, center);
										&::after {
											content: "";
											background-color: white;
											widht: 100%;
											height: 100%;
										}
									}
								}
							}
						}
						&.ui-focus {
							.ui-btn-inner {
								.ui-btn-text {
									footer {
										h2 {
											font-size: 30 * @virtual_px;
											font-weight: bold;
											line-height: 30 * @virtual_px;
											margin: 10 * @virtual_px  25 * @virtual_px 10 * @virtual_px 0;
										}
										.ui-li-dynamic-footer-icon {
											margin: auto 12 * @virtual_px auto 25 * @virtual_px;
											width: 37 * @virtual_px;
											height: 38 * @virtual_px; // @ webkit rendering patch original value: 37
										}
									}
								}
							}
						}
					}
				}
				&-multiline {
					a {
						.ui-btn-inner {
							.ui-btn-text {
								footer {
									display: flex;
									align-items: center;
									h2 {
										order: 3;
										flex: 1 0 auto;
										font-size: 24 * @virtual_px;
										line-height: normal;
										margin: 11 * @virtual_px 0;
									}
									h3 {
										display: flex;
										align-items: center;
										order: 1;
										font-size: 19 * @virtual_px;
										line-height: 22 * @virtual_px;
										border-right: 0;
										padding-right: 0;
										font-weight: normal;
										&::after {
											content: "";
											display: inline-block;
											margin-left: 12 * @virtual_px;
											height: 15 * @virtual_px;
											width: 1 * @virtual_px;
											background-color: @color_drawer_btn;
										}
									}
									progress {
										margin-right: 0;
										margin-bottom: 0;
										height: 4 * @virtual_px;
										margin-top: 9 * @virtual_px;
										&::-webkit-progress-bar {
											background-color: @color_drawer_progressbar_bg;
										}
										&::-webkit-progress-value {
											background-color: @color_drawer_progressbar_value;
										}
									}
								}
							}
						}
						&.ui-focus {
							.ui-btn-inner {
								.ui-btn-text {
									footer {
										display: inline;
										h2 {
											color: @color_drawer_btn;
											font-size: 34 * @virtual_px;
											line-height: 34 * @virtual_px;
											font-weight: bold;
											float: none;
											width: auto;
											margin: 25 * @virtual_px 0 0 25 * @virtual_px;
											display: block;
										}
										h3 {
											color: @color_drawer_btn;
											font-size: 20 * @virtual_px;
											font-weight: bold;
											clear: left;
											margin-top: 2 * @virtual_px;
											margin-right: 0;
											margin-bottom: 11 * @virtual_px;
											padding-right: 8 * @virtual_px;
										}
										div {
											.ui-li-dynamic-from {
												font-size: 20 * @virtual_px;
											}
											.ui-li-dynamic-to {
												font-size: 20 * @virtual_px;
											}
										}
										progress {
											height: 4 * @virtual_px;
											margin-bottom: 20 * @virtual_px;
										}
									}
								}
							}
						}
					}
				}
				&.ui-li-grid-icon {
					width: 280 * @virtual_px;
					height: 280 * @virtual_px;
					a {
						height: 100%;
						.ui-btn-inner {
							height: 100%;
							.ui-btn-text {
								height: 100%;
								img {
									width: 100%;
									position: absolute;
									top: 0;
								}
								footer {
									display: flex;
									h2 {
										order: 2;
										flex: 1 0 auto;
										margin: 25 * @virtual_px  25 * @virtual_px 25 * @virtual_px 0;
										color: white;
										font-size: 30 * @virtual_px;
										line-height: normal;
										font-weight: bolder;
									}
									.ui-li-dynamic-footer-icon {
										width: 38 * @virtual_px;
										// webkit rendering issue, original value 37:
										height: 38 * @virtual_px;
										order: 1;
										margin: auto 12 * @virtual_px auto 25 * @virtual_px;
										.mask-image("images/icons/ico_bg_37.png");
										.mask-size(37 * @virtual_px, 25 * @virtual_px);
										.mask-composite(source-out);
										.mask-repeat(no-repeat, no-repeat);
										.mask-position(center, center);
										background-color: @color_drawer_footer_btn_background;
									}
								}
							}
						}
						&.ui-focus {
							.ui-btn-inner {
								.ui-btn-text {
									footer {
										h2 {
											font-size: 30 * @virtual_px;
											margin: 25 * @virtual_px  25 * @virtual_px 25 * @virtual_px 0;
										}
										.ui-li-dynamic-footer-icon {
											margin: auto 12 * @virtual_px auto 25 * @virtual_px;
											width: 37 * @virtual_px;
											// webkit rendering issue, original value 37:
											height: 38 * @virtual_px;
											background-color: rgb(255, 255, 255);
										}
									}
								}
							}
						}
					}
				}
				&.ui-li-grid {
					width: 280 * @virtual_px;
					float: left;
					margin-left: 6 * @virtual_px;
					a {
						.ui-btn-inner {
							.ui-btn-text {
								img {
									width: 100%;
									position: relative;
								}
								footer {
									display: block;
									position: relative;
									h2 {
										font-size: 24 * @virtual_px;
										line-height: normal;
										padding: 0 25 * @virtual_px;
										margin: 20 * @virtual_px  0;
										width: 100%;
										color: white;
									}
								}
							}
						}
						&.ui-focus {
							.ui-btn-inner {
								.ui-btn-text {
									footer {
										h2 {
											//font-size: 30 * @virtual_px;
											padding: 0 25 * @virtual_px;
											margin: 20 * @virtual_px  0;
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
			}

			.ul-li-poster,
			.ul-li-icon {
				width: 185 * @virtual_px;
				float: left;
				a .ui-btn-inner .ui-btn-text {
					img {
						width: 185 * @virtual_px;
					}
					footer {
						background-color: @color_drawer_poster_icon_footer_background;
						h2 {
							margin: 25 * @virtual_px;
							width: 135 * @virtual_px;
							float: none;
							.transition(font 200ms);
						}
					}
				}
				a.ui-focus .ui-btn-inner .ui-btn-text {
					footer {
						position: absolute;
						h2 {
							font-size: 24 * @virtual_px;
							margin: 25 * @virtual_px;
							width: 135 * @virtual_px;
						}
					}
				}
			}

			.ui-li-thumb {
				padding: 0;
				a {
					margin: 0;
					padding: 0;
					.ui-btn-inner {
						display: flex;
						.ui-btn-text {
							color: @color_list_btn_txt;
							flex: 1 0 auto;
							margin: 32 * @virtual_px 32 * @virtual_px 37 * @virtual_px 38 * @virtual_px;
							.ui-text {
								margin: 0;
								font-size: 32 * @virtual_px;
								line-height: normal;
								font-weight: bold;
							}
							.li-text-sub {
								margin: 0;
								font-size: 20 * @virtual_px;
								line-height: normal;
								color: @color_list_btn_txt;
							}
						}
						.thumb {
							min-height: 124 * @virtual_px;
							min-width: 124 * @virtual_px;
							background-position: center center;
							background-size: 100%;
							img {
								display: none;
							}
						}
					}
					&.ui-focus {
						.ui-btn-inner {
							.ui-btn-text {
								color: @color_list_btn_txt_focus;
								.ui-text {
									font-weight: bold;
								}
								.li-text-sub {
									color: @color_list_btn_txt_focus;
								}
							}
						}
					}
				}
			}

			.ui-li-lines-icon {
				padding: 0;
				a {
					margin: 0;
					padding: 0;
					.ui-btn-inner {
						display: flex;
						width: 100%;
						align-items: center;
						.ui-btn-text {
							display: flex;
							flex: 1 0 auto;
							flex-direction: column;
							margin: 32 * @virtual_px 0 37 * @virtual_px 38 * @virtual_px;
							padding-right: 0 * @virtual_px;
							color: @color_list_btn_txt;
							.ui-text {
								margin: 0;
								font-size: 32 * @virtual_px;
								line-height: normal;
								font-weight: bold;
							}
							.li-text-sub {
								margin: 0;
								font-size: 20 * @virtual_px;
								line-height: normal;
								color: @color_list_btn_txt;
							}
						}
						.ui-icon {
							min-height: 80 * @virtual_px;
							min-width: 80 * @virtual_px;
							position: relative;
							right: 0;
							top: 0;
							margin: auto 32 * @virtual_px;
							.mask-composite(source-over, source-out);
						}
					}
					&.ui-focus {
						.ui-btn-inner {
							.ui-btn-text {
								color: @color_list_btn_txt_focus;
								.ui-text {
									font-weight: bold;
								}
								.li-text-sub {
									color: @color_list_btn_txt_focus;
								}
							}
							.ui-icon {
								background-color: white;
								.mask-composite(source-over);
							}
						}
					}
				}
			}

			.ui-li-icon-progressbar {
				padding: 0;
				a {
					margin: 0;
					padding: 0;
					.ui-btn-inner {
						display: flex;
						width: 100%;
						align-items: center;
						.ui-btn-text {
							color: @color_list_btn_txt;
							flex: 1 0 auto;
							flex-direction: column;
							margin: 32 * @virtual_px 0 47 * @virtual_px 38 * @virtual_px;
							padding-right: 0;
							.ui-text {
								display: inline-block;
								margin: 0;
								font-size: 32 * @virtual_px;
								line-height: normal;
								font-weight: normal;
							}
							progress {
								margin-right: 0;
								margin-bottom: 0;
								height: 4 * @virtual_px;
								margin-top: 9 * @virtual_px;
								&::-webkit-progress-bar {
									background-color: @color_drawer_progressbar_bg;
								}
								&::-webkit-progress-value {
									background-color: @color_drawer_progressbar_value;
								}
							}
							label {
								float: right;
								font-size: 20 * @virtual_px;
								line-height: 100%;
								margin-top: 24 * @virtual_px;
							}
						}
						.ui-icon {
							min-height: 80 * @virtual_px;
							min-width: 80 * @virtual_px;
							position: relative;
							right: 0;
							top: 0;
							margin: auto 32 * @virtual_px;
							.mask-composite(source-over, source-out);
						}
					}
					&.ui-focus {
						.ui-btn-inner {
							.ui-btn-text {
								color: @color_list_btn_txt_focus;
								.ui-text {
									font-weight: bold;
								}
								.li-text-sub {
									color: @color_list_btn_txt_focus;
								}
							}
							.ui-icon {
								background-color: white;
								.mask-composite(source-over);
							}
						}
					}
					&:not(.ui-focus) {
						.ui-btn-inner {
							.ui-icon {
								background-image: none !important;
							}
						}
					}
				}
			}


			.ul-li-icon {
				height: 185 * @virtual_px;
				a .ui-btn-inner .ui-btn-text {
					height: 191 * @virtual_px;
					footer {
						background-color: transparent;
					}
				}
			}

			.ul-li-icon.ui-li-dark {
				a {
					.ui-btn-inner .ui-btn-text {

						footer {
							h2 {
								color: black;
								.transition(color 200ms);
							}
						}

					}

					&.ui-focus {
						.ui-btn-inner .ui-btn-text {

							footer {
								h2 {
									color: white;
								}
							}
						}
					}
				}
			}

			.ul-li-poster,
			.ul-li-icon {
				&:nth-child(2n) {
					margin-right: 16 * @virtual_px;
				}
			}
		}
	}
}

.ui-listview {
	li.ui-li-contextual-menu {
		padding: 0;
		a {
			&.ui-btn {
				margin: 0;
				padding: 0;
				.ui-btn-inner {
					display: flex;
					width: 100%;
					align-items: center;
					.ui-btn-text {
						order: 2;
						flex: 1 0 auto;
						display: flex;
						align-items: center;
						margin: 0;
						padding: 0;
						.ui-text {
							margin: 0;
							font-size: 24 * @virtual_px;
							line-height: 24 * @virtual_px;
							font-weight: normal;
							color: @color_list_btn_txt;
						}
						img {
							margin: 0 0 0 14 * @virtual_px;
							float: none;
							width: auto;
							height: auto;
						}
						.ui-status-icon {
							opacity: 0.7;
							width: 30 * @virtual_px;
							height: 30 * @virtual_px;
						}
					}
					.ui-icon-wrapper {
						display: flex;
						flex-direction: column;
						width: 95 * @virtual_px;
						align-items: center;
						.ui-icon {
							flex: 1 0 auto;
							position: relative;
							margin: 29 * @virtual_px 19 * @virtual_px 3 * @virtual_px 32 * @virtual_px;
							width: 44 * @virtual_px;
							height: 44 * @virtual_px;
							.mask-size(100%);
							.mask-composite(source-over, source-out);
							left: 0;
						}
						.ui-icon-title {
							flex: 1 0 auto;
							font-size: 24 * @virtual_px;
							line-height: 24 * @virtual_px;
							margin-bottom: 19 * @virtual_px;
							text-align: center;
							margin-left: 13 * @virtual_px;
							color: @color_list_btn_txt;
						}
					}
				}
			}
			&.ui-focus {
				.ui-btn-inner {
					.ui-btn-text {
						.ui-text {
							color: @color_list_btn_txt_focus;
						}
						.ui-status-icon {
							opacity: 1.0;
						}
					}
					.ui-icon-wrapper {
						.ui-icon {
							background-color: white;
						}
						.ui-icon-title {
							color: @color_list_btn_txt_focus;
						}
					}
				}
			}
		}
	}
}




.ui-drawer-overlay {
	position: absolute;
	z-index: 899;
}

.ui-header.ui-bar-s {
	&.ui-drawer-header {
		.ui-title {
			margin-left: 40 * @virtual_px;
		}
		.ui-btn.ui-drawer-button.ui-btn-icon_only {
			position: absolute;
			top: 0;
			left: 0;
			padding-left: 7 * @virtual_px;
			padding-right: 8 * @virtual_px;
			width: 27 * @virtual_px;
			height: 48 * @virtual_px;

			&.ui-btn-down-s {
				background-color: @color_bar_header_btn;
			}

			.ui-btn-inner.ui-btn-icon-only .ui-icon {
				top: 2 * @virtual_px;
				width: 27 * @virtual_px;
				height: 27 * @virtual_px;
				background-color: @color_bar_btn_normal;
			}
		}
	}
}

.ui-dynamic-box {
	display: none;
}

.ui-dynamic-box-active {
	display: block;
}

.ui-home-bar {

	&-background {
		position: absolute;
		display: none;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 901;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&-background-active {
		display: block;
	}

	&-container {
		position: absolute;
		top: 0;
		z-index: 902;
		transition: all 0.2s ease-out;
	}
	&-box {
		position: absolute;
		left: 0;
		bottom: 50 * @virtual_px;
		top: 50 * @virtual_px;
	}

	&-button-up {
		background: url(@drawer_up) no-repeat center center;
		right: 50 * @virtual_px;
		height: 50 * @virtual_px;
		top: 0;
		left: 0;
		position: absolute;
	}

	&-button-down {
		background: url(@drawer_down) no-repeat center center;
		right: 50 * @virtual_px;
		height: 50 * @virtual_px;
		bottom: 0;
		left: 0;
		position: absolute;
	}

	&-button-close {
		width:  50 * @virtual_px;
		top:  50 * @virtual_px;
		bottom:  50 * @virtual_px;
		right: 0;
		background: rgba(255, 255, 255, 0.15) url(@drawer_close) no-repeat center center;
		position: absolute;
		text-align: center;
		opacity: 0.5;
		.transition(opacity 200ms);

		&.ui-focus {
			opacity: 1;
		}
	}
}

.ui-home-bar-main,
.ui-home-bar-box,
.ui-home-bar-header-box {
	li {
		width: 270 * @virtual_px;
		height: 150 * @virtual_px;
		.transition(all 0.2s ease-out);
		overflow: hidden;
		a.ui-btn {
			padding: 0;
			height: 100%;
			font-size: 21 * @virtual_px;
			font-weight: bold;
			.border-radius(0);
			.ui-btn-inner {
				margin-top: 25 * @virtual_px;
				margin-bottom: 14 * @virtual_px;
				padding: 76 * @virtual_px 30 * @virtual_px 0;

				.ui-text {
					line-height: 35 * @virtual_px;
				}
			}
			.transition(font 200ms);

			&.ui-focus {
				font-size: 25 * @virtual_px;
			}
		}
	}

	li.ui-home-bar-header {
		height: 196 * @virtual_px;
		a {
			padding: 40 * @virtual_px 0;
		}
	}
}
