/* content configurations. */
.ui-grid {
	&-a,
	&-b,
	&-c,
	&-d {
		overflow: hidden;

		.ui-block {
			&-a,
			&-b,
			&-c,
			&-d,
			&-e {
				margin: 0;
				padding: 0;
				border: 0;
				float: left;
				min-height: 1 * @virtual_px;
			}
		}
	}

	/* grid solo: 100 - single item fallback */
	&-solo .ui-block-a {
		width: 100%;
		float: none;
	}

	/* grid a: 50/50 */
	&-a {
		.ui-block {
			&-a,
			&-b {
				width: 50%;
			}

			&-a {
				clear: left;
			}
		}
	}

	/* grid b: 33/33/33 */
	&-b {
		.ui-block {
			&-a,
			&-b,
			&-c {
				width: 33.333%;
			}

			&-a {
				clear: left;
			}
		}
	}

	/* grid c: 25/25/25/25 */
	&-c {
		.ui-block {
			&-a,
			&-b,
			&-c,
			&-d {
				width: 25%;
			}

			&-a {
				clear: left;
			}
		}
	}

	/* grid d: 20/20/20/20/20 */
	&-d {
		.ui-block {
			&-a,
			&-b,
			&-c,
			&-d,
			&-e {
				width: 20%;
			}

			&-a {
				clear: left;
			}
		}
	}
}
