input:not([type=number]):not([type=checkbox]):not([type=radio]),
textarea {
	background-color: @color_input_bg;
	color: @color_input_text;
	text-align: left;
	vertical-align: middle;
	font-size: 32 * @virtual_px;

	&:focus {
		color: @color_input_text_focus;
	}
}

textarea {
	height: 117 * @virtual_px;
}

input[type]:not([type=number]).small {
	font-size: 24 * @virtual_px;
}

input[type=password].pin {
  background-color: @color_input_bg;
  color: @color_input_text;
  vertical-align: middle;
  text-align: center;
  font-size: 45 * @virtual_px;
  width: 58 * @virtual_px;
  height: 58 * @virtual_px;
}

.ui-listview li {
	input:not([type=number]):not([type=checkbox]):not([type=radio]) {
		margin: -10 * @virtual_px 0;

		&[type=password].pin {
			margin: -17 * @virtual_px 0;
		}
	}
}

.input-box {
	display: inline-block;
}
