.ui-listview.white {
	background-color: @color_listview_bg_color_white;
}

.circle-icon {
	content: "";
	z-index: 100;
	position: absolute;
	left:0;
	top:0;
	bottom: 50 * @virtual_px;
	right: 0;
	background-repeat: no-repeat;
	background-position: center center;
}

.ui-listview {
	li {
		font-size: @fixed_list_item_font_size;
		width: 100%;
		border-bottom: 1 * @virtual_px solid @color_listview_border;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: relative;
		color: @color_listview_text;

		padding: 32 * @virtual_px 43 * @virtual_px;

		&.rowspan-2 {
			height: 182 * @virtual_px;
		}

		> * {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			.user-select(none);
		}
		a.ui-btn {
			display: block;
			text-align: left;
			margin: -32 * @virtual_px -43 * @virtual_px;
			padding: 32 * @virtual_px;
			border-radius: 0;
			.ui-btn-inner {
				margin: 0;
				color: rgb(164, 167, 174);
				.ui-btn-text {
					margin: 11 * @virtual_px 0;
					display: block;
					> img {
						margin: -32 * @virtual_px;
						height: 125 * @virtual_px;
						float: right;
					}
				}
				.ui-icon {
					background-color: rgb(164, 167, 174);
				}
			}
			&.ui-btn-icon-right {
				.ui-icon {
					right: -2 * @virtual_px;
					top: -4 * @virtual_px;
				}
			}
			&.ui-state-disabled {
				opacity: 0.2;
				background-color: inherit;
			}
		}
		a.ui-btn.ui-focus {
			.ui-btn-inner {
				color: @color_list_btn_txt_focus;
			}
		}
		label.ui-popup-radio-label,
		label.ui-popup-checkbox-label {
			width: 70%;
			padding: 0;
			float: left;
		}
		.checkboxradio-container {
			position: relative;
		}
		.li-text-sub {
			display: block;
			color: @list_sub_txt_color;
			font-size: 22 * @virtual_px;
			text-overflow: ellipsis;
			overflow: hidden;
			line-height: 30 * @virtual_px;
		}
		progress {
			display: block;
			padding-left: 0;
			padding-right: 0;
		}

		&.ul-li-box-icon {
			height: 210 * @virtual_px;
			border-bottom: none;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 20 * @virtual_px;
			a {
				margin: 0;
				background-color: @color_drawer_poster_icon_footer_background;
				padding: 40 * @virtual_px 32 * @virtual_px;
				.ui-btn-inner.ui-btn-hastxt {
					.ui-btn-text {
						padding: 0;
						margin: 0;
					}
				}
			}
		}

		&.ul-li-box  {
			height: 210 * @virtual_px;
			border-bottom: none;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 20 * @virtual_px;
			a {
				margin: 0;
				padding: 0;
				.ui-btn-inner {
					.ui-btn-text {
						margin: 0;
						position: relative;
						> img {
							min-width: 100%;
							height: 160 * @virtual_px;
							margin: 0;
							margin-bottom: 50 * @virtual_px;
						}
						footer {
							background-color: @color_drawer_poster_icon_footer_background;
							position: absolute;
							height: 50 * @virtual_px;
							bottom: 0;
							left: 0;
							right: 0;
							img {
								margin: 10 * @virtual_px;
								max-height: 30 * @virtual_px;
								max-width: 30 * @virtual_px;
								position: absolute;
								left: 0;
								top: 0;
							}
							> h2 {
								position: absolute;
								left: 0;
								right: 0;
								text-overflow: ellipsis;
								overflow: hidden;
								font-size: 26 * @virtual_px;
								margin: 10 * @virtual_px;
								float: none;
								font-weight: normal;
								* {
									font-size: 26 * @virtual_px;
									font-weight: normal;
								}
							}
							img + h2 {
								margin-left: 50 * @virtual_px;
							}
						}
					}
				}
			}
		}

		&.ui-music::after {
			.circle-icon();
			background-image: url(images/icons/btn_controller_nor.png), url(images/icons/app_ico_music.png);
		}

		&.ui-movie::after {
			.circle-icon();
			background-image: url(images/icons/btn_controller_nor.png), url(images/icons/app_ico_photo_video.png);
		}

		&.ui-notification::after {
			.circle-icon();
			background-image: url(images/icons/btn_controller_nor.png), url(images/icons/app_ico_noti.png);
		}

		&.ui-web::after {
			.circle-icon();
			background-image: url(images/icons/btn_controller_nor.png), url(images/icons/app_ico_wb.png);
		}

		&.ui-setting::after {
			.circle-icon();
			background-image: url(images/icons/btn_controller_nor.png), url(images/icons/app_ico_setting.png);
		}
	}

	.ui-li-divider,
	.ui-li-divider-btn {
		box-sizing: border-box;
		padding-top: 18 * @virtual_px;
		padding-bottom: 18 * @virtual_px;
		font-size: @fixed_list_divider_font_size;
		background-color: @color_listview_bg_color_white;
		color: @color_list_divider_text;
		border: 0;

		.ui-divider-normal-line {
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 2 * @virtual_px;
			background-color: @color_list_divider_line_bg;
		}

		& > .ui-btn-text {
			box-sizing: border-box;
			color: @color_list_divider_text;
		}
	}
}

.ui-listview-transparent {
	.ui-li-divider,
	.ui-li-divider-btn {
		background-color: transparent;
		font-size: 27 * @virtual_px;
		color: @color_drawer_divider_btn;
		.ui-divider-text {
			span {
				opacity: 0.5;
			}
		}

		.ui-divider-normal-line {
			display: none;
		}
	}
}

.ui-popup-listview.ui-ctxpopup {
	.ui-listview {
		li {
			padding: 0;
			border-bottom-color: @color_popover_border;
			border-bottom-width: 2 * @virtual_px;
			a.ui-btn {
				padding: 0;
				margin: 0;
				&[data-icon]:not(.ui-btn-icon_only) {
					background-color: transparent;
				}

				.ui-background {
					background-color: @default_color;
				}

				.ui-btn-inner {
					min-width: 220 * @virtual_px;
					.ui-btn-text {
						padding: 25 * @virtual_px;
						color: @color_popover;
						margin: 0;
						.ui-text {
							color: @color_popover;
						}
					}
					.ui-icon {
						height: 37 * @virtual_px;
						width: 37 * @virtual_px;
						top: 20 * @virtual_px;
						left: 32 * @virtual_px;
						.mask-size(37 * @virtual_px  37 * @virtual_px);
					}
				}

				&.ui-state-disabled {
					background-color: white;
					.ui-btn-inner {
						.ui-btn-text {
							color: @color_popover_disabled;
							.ui-text {
								color: @color_popover_disabled;
							}
						}
					}
				}

				&.ui-focus {
					.ui-btn-inner {
						.ui-btn-text {
							color: @color_popover_focus;
							.ui-text {
								color: @color_popover_focus;
							}
						}
					}
					&.ui-state-disabled {
						.ui-btn-inner {
							.ui-btn-text {
								color: @color_popover_focus_disabled;
								.ui-text {
									color: @color_popover_focus_disabled;
								}
							}
						}
					}
				}

				&.ui-btn-icon-left {
					.ui-btn-inner {
						min-width: 310 * @virtual_px;
						.ui-btn-text {
							padding-left: 89 * @virtual_px;
						}
					}
				}
			}
		}
	}
}

.ui-gray-page {
	.ui-listview li {
		background-color: @gray_content_listview_bg;
		color: @gray_content_listview_text;
		border-color: @gray_content_list_divider_line_bg;
	}
}

.ui-content > .ui-listview {
	margin: -@fixed_header_title_margin;
}

div[data-role="popup"] .ui-listview {
	.li-has-checkbox,
	.li-has-radio {
		border-bottom-style: solid;
		border-bottom-width: thick;
	}
}
