.ui-marquee-start {
	position: relative !important;
	text-overflow: clip !important;
}

.ui-marquee-clone {
	display: inline !important;
	margin-left: 50 * @virtual_px;
	margin-rigth: 50 * @virtual_px;
}

