/***********************
Normal Popup
***********************/

@no_header_border_width: 13 * @virtual_px;
@popup_box_shadow_radius: 9;
@popup_box_shadow_radius_total: 2 * @popup_box_shadow_radius;

.ui-selectmenu-hidden {
	top: -9999px;
	left: -9999px;
	visibility: hidden;
}

.ui-popup {
	position: absolute;
	display: inline-table;
	visibility: hidden;
	z-index: 1000;
	max-height: 80%;

	header {
		width: 100%;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

	}

	&:not(.ui-popup-no-box) {
		&:not(.ui-ctxpopup) {
			&:not(.ui-popup-toast) {
				// 411 - 18px of box-shadow
				min-height: (411 - @popup_box_shadow_radius_total) * @virtual_px;

				&.ui-popup-progress {
					min-height: (378 - @popup_box_shadow_radius_total) * @virtual_px;

					.ui-popup-wrapper {
						min-height: (378 - @popup_box_shadow_radius_total) * @virtual_px - @no_header_border_width;
					}
				}

				&.ui-header-empty {
					min-height: (305 - @popup_box_shadow_radius_total) * @virtual_px;
					border-top: @no_header_border_width solid @color_popup_header_bg;

					.ui-popup-wrapper {
						min-height: (305 - @popup_box_shadow_radius_total) * @virtual_px - @no_header_border_width;
					}

					&.ui-popup-progress {
						min-height: (208 - @popup_box_shadow_radius_total) * @virtual_px;

						.ui-popup-wrapper {
							min-height: (208 - @popup_box_shadow_radius_total) * @virtual_px - @no_header_border_width;
						}
					}
				}

				// This block corresponds to the cases where popup is missing header
				// so the whole block will have different height
				.ui-popup-wrapper {
					min-height: (411 - @popup_box_shadow_radius_total) * @virtual_px;
				}
			}
		}

		header {
			min-height: @fixed_popup_header_height;
			line-height: @fixed_popup_header_height;
			font-size: @fixed_popup_header_font_size;
			background-color: @color_popup_header_bg;
			color: @color_popup_title_text;
			padding-right: @fixed_popup_header_padding_right;
			padding-left: @fixed_popup_header_padding_left;

			&:first-child {
				.border-top-radius(@fixed_popup_border_radius);
			}
		}

		.ui-popup-content {
			color: @color_popup_text;
			background-color: @color_popup_bg;
			font-size: @fixed_popup_body_font_size;
			line-height: 33 * @virtual_px;
			padding: 53 * @virtual_px 73 * @virtual_px;

			&:first-child {
				.border-top-radius(@fixed_popup_border_radius);
			}

			&:last-child {
				.border-bottom-radius(@fixed_popup_border_radius);
			}
		}
	}

	&:not(.ui-popup-toast) {
		background-color: @color_popup_bg;
		// 688 - total box-shadow width
		width: (688 - @popup_box_shadow_radius_total) * @virtual_px;
		.border-radius(@fixed_popup_border_radius);
		.box-shadow(0 2 * @virtual_px @popup_box_shadow_radius * @virtual_px @color_popup_shadow);
		position: absolute;
	}

	.ui-popup-wrapper {
		.display-flex();
		.flex-direction(column);
		.justify-content(space-between);
	}

	&.ui-popup-no-box {
		background-color: transparent;
		.box-shadow(none);

		.calc-width(~"100% - " (100 * @virtual_px));
		header {
			font-size: @fixed_popup_header_font_size_no_box;
			color: @color_popup_title_text_no_box;
			font-weight: bold;
		}

		.ui-popup-content {
			font-size: @fixed_popup_toast_font_size;
			color: @color_popup_text_no_box;
		}
	}

	.ui-popup-content {
		width: 100%;
		text-align: center;
		overflow: hidden;

		// For expanding to the whole content
		.flex(1 0 auto);

		// Become flex parent for the elements below
		.display-flex();
		.flex-direction(column);
		.justify-content(center);
		.align-items(center);

		p {
			margin-top: 0;
			margin-bottom: 0;
		}

		h1 {
			font-size: @fixed_popup_body_title_font_size;
			font-weight: bold;
			line-height: 35 * @virtual_px;
			padding-top: 14.5 * @virtual_px;
			padding-bottom: 14.5 * @virtual_px;
			margin-top: 0;
			margin-bottom: 0;
		}

		.ui-listview {
			text-align: left;

			li {
				font-size: @fixed_popup_body_font_size;
				color: @color_popup_text_content;
				> *,
				.ui-btn-text {
					color: @color_popup_text_content;
				}
			}
		}
	}

	// Padding is not even when progress bar is inside popup with headers
	&:not(.ui-header-empty):not(.ui-footer-empty) {
		.ui-popup-content {
			// Padding top is 1.125 bigger than bottom (53 * 1.125 ~= 60)
			padding-top: 64 * @virtual_px;
			padding-bottom: 56 * @virtual_px;
		}
	}

	// Popup settings for progress content
	&.ui-popup-progress {
		.ui-popup-content {
			.flex-direction(row);

			.ui-progress-processing {
				margin: 0;
				.flex(0 0 50 * @virtual_px); // Progress wheel width

				& + * {
					text-align: left;
					margin-left: 20 * @virtual_px;
					.flex(0 1 auto);
				}
			}
		}
	}

	footer {
		width: 100%;
		height: @fixed_popup_footer_height;
		background-color: @color_popup_bg;
		margin: 0;

		&:last-child {
			.border-bottom-radius(@fixed_popup_border_radius);
		}

		&.ui-grid-col-2 {
			.display-flex();

			> .ui-btn {
				border-left: 0 none;
				&:first-child {
					margin-right: 0;
				}

				&:not(:first-child) {
					margin-left: 20 * @virtual_px;
				}
			}
		}

		.ui-btn {
			font-size: @fixed_popup_footer_btn_font_size;
			width: 216 * @virtual_px;
			height: 70 * @virtual_px;
			padding-top: 21 * @virtual_px;
			padding-bottom: 21 * @virtual_px;
			margin-left: auto;
			margin-right: auto;

			.ui-btn-inner {
				margin: 0;
			}

			&.ui-btn-up-s, &.ui-btn-hover-s {
				background-color: @color_button_basic_normal;
				color: @color_button_basic_txt_normal;
			}

			&.ui-btn-down-s, &.ui-focus {
				background-color: @color_popup_footer_btn_focus;
				color: @color_button_basic_txt_focus;
			}
		}
	}

	&.ui-popup-ticker {
		top: initial !important;
		bottom: 20 * @virtual_px !important;
		left: 20 * @virtual_px !important;
		margin: 0 !important;
	}

	&.ui-tooltip {
		font-size: 22 * @virtual_px;
		color: @color_tooltip;
		text-align: center;
		padding: 0 18 * @virtual_px;
		&.ui-ctxpopup {
			border-image-source: url(images/tooltip/tooltip_bg.png);
			border-image-slice: 6 6 8 6 fill;
			border-image-width: auto;
			border-image-outset: 8 * @virtual_px;
			// in border width units vw is not acceptable, we have to use px
			border-width: round(8 * @one_px) ;
			.border-radius(0);

			&.ui-popup-arrow-b {
				.ui-arrow {
					background-image: url("images/tooltip/tooltip_arrow.png");
					background-color: transparent;
					background-repeat: no-repeat;
					transform: none;
					margin-bottom: -24 * @virtual_px;
					width: 12 * @virtual_px;
					height: 12 * @virtual_px;
				}
			}

			/*arrow at the top of popup*/
			&.ui-popup-arrow-t {
				.ui-arrow {
					background-image: url("images/tooltip/tooltip_arrow_up.png");
					background-color: transparent;
					background-repeat: no-repeat;
					transform: none;
					margin-top: -26 * @virtual_px;
					width: 12 * @virtual_px;
					height: 12 * @virtual_px;
				}
			}
		}
	}
}

/****************************************
Popup with listview
****************************************/
.ui-popup:not(.ui-ctxpopup) {
	&.ui-popup-listview {
		width: (944 - @popup_box_shadow_radius_total) * @virtual_px;

		.ui-popup-wrapper {
			.flex-direction(row);
			.flex-wrap(wrap);
		}

		header {
			.align-self(stretch);
		}

		.ui-popup-content {
			// Stop being flex
			display: block;

			width: initial;
			min-width: 670 * @virtual_px;
			height: 501 * @virtual_px;
			padding: 0;

			.border-bottom-left-radius(@fixed_popup_border_radius);

			.ui-listview {
				margin: 0;

				li {
					border-bottom-color: rgb(218, 218, 218);
					color: rgb(89, 89, 89);
					padding: 32 * @virtual_px 43 * @virtual_px ;
					font-size: 22 * @virtual_px;

					a.ui-btn {
						margin: -32 * @virtual_px -43 * @virtual_px ;
					}
				}
			}
		}

		footer {
			width: 256 * @virtual_px;
			height: 501 * @virtual_px;
			background-color: rgb(237, 237, 237) ;

			> .ui-btn {
				margin-left: 20 * @virtual_px;
				margin-right: 20 * @virtual_px;
				margin-top: 10 * @virtual_px;
				width: 216 * @virtual_px;

				&:first-child {
					margin-top: 20 * @virtual_px;
				}
			}
		}
	}
}

/****************************************
Popup Toast
****************************************/
.ui-popup {
	&.ui-popup-toast {
		position: absolute;
		width: 1838 * @virtual_px;
		margin-left: 41 * @virtual_px;
		margin-right: 41 * @virtual_px;
		margin-bottom: 38 * @virtual_px;
		font-size: @fixed_popup_toast_font_size;
		bottom: 0;
		top: auto;
		height: 205 * @virtual_px;
		border-image-source: url(images/popup/modal_dialogs_banner_bg.png);
		border-image-slice: 15 18 21 18 fill;
		border-image-width: auto;
		// in border width units vw is not acceptable, we have to use px
		border-width: round(21 * @one_px);
		.border-radius(0);

		.ui-popup-wrapper {
			background-color: @color_popup_bg;
			display: table;
			width: 100%;
			height: 163 * @virtual_px;

			.ui-popup-content {
				display: table-cell;
				vertical-align: middle;
				background-color: @color_popup_bg;
				text-align: center;
				// 53vpx = 205vpx - 3 * (line height).
				// 3 lines is the max toast capacity in UX Guide
				padding: 0 73 * @virtual_px;
			}
		}
	}
}

/****************************************
Active Popup
****************************************/

.ui-popup-active.ui-popup {
	visibility: visible;
	.transform(translate3d(-50%, -50%, 0));
	left: 50%;
	top: 50%;

	&.ui-popup-toast {
		top: auto;
	}
}

.ui-popup-overlay  {
	position: absolute;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.7);
	&.ui-popup-toast-overlay {
		.mask-image("images/popup/modal_banner_type_shadow.png");
		.mask-position(bottom);
		.mask-repeat(repeat-x);
	}
}


/****************************************
Context Popup
****************************************/
.ui-popup.ui-ctxpopup {
	position: absolute;
	box-shadow: none;
	width: initial;
	.transform(translate3d(0, 0, 0));

	.ui-popup-content {
		padding: 0;
		.border-radius(4 * @virtual_px);

		li {
			a.ui-btn {
				color: inherit;
				.ui-btn-inner:after {
					background-image: none;
				}
				&.ui-state-disabled,
				.ui-btn:disabled  {
					opacity: 1;
					.ui-icon,
					.ui-btn-text {
						opacity: 1;
					}
				}
			}
		}
	}

	/*arrow at the bottom of popup*/
	&.ui-popup-arrow-b {
		.ui-arrow {
			bottom: 0;
			margin-bottom: -7 * @virtual_px;
		}
	}

	/*arrow at the top of popup*/
	&.ui-popup-arrow-t {
		.ui-arrow {
			top: 0;
			margin-top: -7 * @virtual_px;
		}
	}

	/*arrow at the left of popup*/
	&.ui-popup-arrow-l {
		.ui-arrow {
			margin-left: -7 * @virtual_px;
			left: 0;
		}
	}

	/*arrow at the right of popup*/
	&.ui-popup-arrow-r {
		.ui-arrow {
			margin-right: -7 * @virtual_px;
			right: 0;
		}
	}
	.ui-arrow {
		z-index: -1;
		border: 1 * @virtual_px;
		width: 14.14 * @virtual_px;
		height: 14.14 * @virtual_px;
		background: @color_popup_bg;
		position: absolute;
		.rotate(45deg);

		.transition(background-color 200ms ease);
		&.ui-focus {
			background-color: @color_default;
		}
	}
}

/***********************
    Custom Popup
***********************/
.ui-popup.ui-popup-custom {
	.ui-popup-header-icon {
		vertical-align: middle;
		margin-right: 14 * @virtual_px;
		max-height: 50 * @virtual_px;
		height: auto;
		width: auto;
	}
}
