::-webkit-scrollbar {
	width: 0;
	height: 0;
	-webkit-border-radius: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	background-color:transparent;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 8 * @virtual_px;
	border-radius: 8 * @virtual_px;
	background-color: @color_scrollbar_thumb_bg;
}
