.ui-handler {
	position: fixed;
	overflow: hidden;
	opacity: 0;
	height: 100%;
	width: 100%;
	.transition(opacity 200ms);

	&.disabled {
		display: none;
	}

	&.ui-handler-direction- {
		&x {
			height: 25 * @virtual_px;
			bottom: 4 * @virtual_px;
			left: 0;

			.ui-handler-handle {
				height: 100%;
				min-width: 47 * @virtual_px;
				padding: 0 4 * @virtual_px;
			}

			.ui-handler-thumb {
				min-width: 47 * @virtual_px;
			}
		}
		&y {
			top: 0;
			right: 4 * @virtual_px;
			width: 16 * @virtual_px;

			.ui-handler-handle {
				width: 100%;
				min-height: 47 * @virtual_px;
				padding: 4 * @virtual_px 0;
			}

			.ui-handler-thumb {
				margin: 0 auto;
				width: 8 * @virtual_px;
				min-height: 47 * @virtual_px;
			}
		}
	}

	.ui-handler-track {
		position: relative;
		width: 100%;
		height: 100%;

		.ui-handler-handle {
			position: absolute;
			top: 0;
			left: 0;
			.transition-transform(400ms);
			.border-box();

			.ui-handler-thumb {
				background-position: center;
				background-repeat: no-repeat;
				height: 100%;
				.border-radius(11 * @virtual_px);
				background-color: @color_scrollview_handler_dark;
			}

		}
	}
}

.ui-handler-visible {
	opacity: 1;
}

.scrollbar-disabled {
	overflow: hidden !important;
}

