.ui-scrollview-clip {
	position: relative;
	z-index: 99;

	.ui-scrollview-view {
		overflow-x: hidden;
		overflow-y: visible;
		box-sizing: border-box;
	}

	// top indicator is shown
	&.ui-scrollindicator-top {
		.ui-overflow-indicator-top {
			opacity: 1;
		}
	}
	//bottom indicator is shown
	&.ui-scrollindicator-bottom {
		.ui-overflow-indicator-bottom {
			opacity: 1;
		}
	}
}

.ui-scrolllistview .ui-li-divider {
	z-index: 10;
}

.ui-scroll-jump-top-bg {
	position: absolute;
	top: 9 * @virtual_px;
	right: 13 * @virtual_px;
	width: 37 * @virtual_px;
	height: 37 * @virtual_px;
}

.ui-scroll-jump-left-bg {
	position: absolute;
	bottom: 9 * @virtual_px;
	left: 13 * @virtual_px;
	width: 37 * @virtual_px;
	height: 37 * @virtual_px;
}

.ui-overflow-indicator-top,
.ui-overflow-indicator-bottom {
	position: fixed;
	opacity: 0;
	display: block;
	.transition(opacity 400ms);
	height: 47 * @virtual_px;

	.mask-repeat(repeat-x);
}

.ui-page.ui-footer-empty .ui-content .ui-overflow-indicator-top {
	.border-top-left-radius(@fixed_layout_page_border_radius);
	.border-top-right-radius(@fixed_layout_page_border_radius);
}

.ui-page.ui-footer-empty .ui-content .ui-overflow-indicator-bottom {
	.border-bottom-left-radius(@fixed_layout_page_border_radius);
	.border-bottom-right-radius(@fixed_layout_page_border_radius);
}


.ui-overflow-indicator-top {
	.mask-image("./images/Scrollview/scrollbar_mask_top.png");
	.mask-position(top);
}

.ui-overflow-indicator-bottom {
	.mask-image("./images/Scrollview/scrollbar_mask_bottom.png");
	.mask-position(bottom);
}


/*
 * the values below are for the group index
 */
.ui-content {
	&.ui-scrollview-clip {
		/*
		 * padding here set to zero - otherwise the list scrolls underneath the top heading and can be seen above it
		 */
		&:not(.content-padding) {
			padding: 0;
		}
		> .ui-scrollview-view {
			margin: 0;
		}

		> .ui-listview.ui-scrollview-view {
			/*
			 * this seems to effect how far the top divider is place wrt to the scrollview
			 * without this, it is placed too high, so it is clipped in half
			 */
			margin: 0;
		}

		/*
		 * Section for scroll handler to hide native scrollbar
		 */
		&.ui-hide-scrollbar::-webkit-scrollbar {
			display: none;
		}
	}
}