.ui-selectmenu {
	box-sizing: border-box;
	width: 100%;
	display: table;
	position: relative;
	background-color: @color_selectmenu_bg;
	color: @color_selectmenu_list_item_txt;

	.border-radius(8 * @virtual_px);

	height: 72 * @virtual_px;
	&:focus,
	&:active {
		color: @color_selectmenu_list_item_focus_txt;
		background-color: @color_default;
		span::before {
			background-color: @color_selectmenu_list_item_bg;
		}
	}
	&:not(.ui-selectmenu-inline) > span {
		max-width: 0 * @virtual_px;
	}
	span::before {
		content: "";
		position: absolute;

		right: 0;
		top: 0;
		left: 20 * @virtual_px;
		bottom: 0;

		width: 26 * @virtual_px;
		height: 26 * @virtual_px;
		background-color: @color_selectmenu_list_item_txt;
		overflow: auto;
		margin: auto 24 * @virtual_px auto auto;

		.mask-repeat(no-repeat);
		.mask-image("images/Selectmenu/ico_dropdown_menu_open_arrow.png");
		.mask-size(26 * @virtual_px 26 * @virtual_px);
	}
	&:focus span::before {
		background-color: @color_selectmenu_list_item_bg;
	}

	&.ui-selectmenu-label {
		height: 100%;
		background-color: @color_selectmenu_label_bg;
	}
	select {
		width: 100%;
		display: none;
	}

	&-inline {
		width: auto;
		height: auto;
		display: inline-block;
	}

	&-placeholder {
		box-sizing: border-box;
		text-align: left;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		position: relative;
		height: 100%;
		line-height: 72 * @virtual_px;
		white-space: nowrap;
		padding: 0 70 * @virtual_px 0 32 * @virtual_px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: @font_size_selectmenu_list;
	}

	&-disabled {
		color: @color_selectmenu_font_dim;
		opacity: 1;
	}

	&-active {
		.border-bottom-right-radius(0);
		.border-bottom-left-radius(0);

		background-color: @color_selectmenu_active;

		&::-webkit-scrollbar {
			display: none;
		}

	}

	/* Options */
	&-options {
		position: absolute;
		opacity: 0;
		display: none;
		box-sizing: border-box;
		list-style: none;
		padding: 0;
		overflow: hidden;
		margin: 0 0;

		background-color: @color_selectmenu_list_item_bg;
		.border-bottom-right-radius(8 * @virtual_px);
		.border-bottom-left-radius(8 * @virtual_px);

		color: @color_selectmenu_list_item;
		&:focus {
			outline: none;
		}
		&.ui-selectmenu-active {
			opacity: 1;
			overflow-y: auto;
			z-index: (@z_base_popup + 1);
			display: block;
		}
		li {
			padding: 0 70 * @virtual_px 0 32 * @virtual_px;
			border-top: 1 * @virtual_px solid @color_selectmenu_list_item_border_top;
			font-size: @font_size_selectmenu_list;
			display: block;
			position: relative;
			min-height: 72 * @virtual_px;
			line-height: 72 * @virtual_px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:first-child {
				border-top: 0;
			}
			&:not(.ui-selectmenu-optiongroup):not(.ui-selectmenu-disabled):active {
				background-color: @color_selectmenu_list_item_bg_press;
			}
			&:focus,
			&:active {
				outline: none;
				background-color: @color_default;
				color: @color_selectmenu_list_item_bg;
			}

			&.ui-selectmenu-selected {
				color: @color_selectmenu_list_item_selected;

				&:focus {
					color: @color_selectmenu_list_item_focus;
					span {
						background-color: @color_selectmenu_list_item_focus;
					}

					&::after {
						background-color: @color_selectmenu_list_item_selected_focus;
					}
				}

				&:focus::after {
					background-color: @color_selectmenu_list_item_focus_txt;
				}


				& span {
					background-color: @color_selectmenu_list_item_selected;
				}

				&::after {
					content: "";
					position: absolute;

					right: 0;
					top: 0;
					left: 20 * @virtual_px;
					bottom: 0;

					width: 26 * @virtual_px;
					height: 26 * @virtual_px;
					.mask-repeat(no-repeat);
					.mask-image("images/Selectmenu/ico_dropdown_menu_check.png");
					.mask-size(26 * @virtual_px 26 * @virtual_px);

					background-color: @color_selectmenu_list_item_selected;

					overflow: auto;
					margin: auto 24 * @virtual_px auto auto;

				}
			}
		}

	}
}

.ui-select-native select {
	display: block;
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	outline: 0;
	opacity: 0;
	border: 0;
	margin: 0;
}

.ui-title + .ui-selectmenu {
	float: right;
	margin: 35 * @virtual_px;
}
