
.ui-spin-control {
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		.appearance(none);
	}
	input[type=number]::-webkit-textfield-decoration-container {
		padding: 0;
		margin: 0;
		display: inline;
	}
	input[type=number]::-webkit-input-placeholder {
		padding: 0;
		margin: 0;
	}

	position: relative;
	input[type=number] {
		display: none;
	}
	.ui-spin-control-number {
		color: @color_input_number_text;
		text-align: center;
		vertical-align: middle;
		font-size: 30 * @virtual_px;
		font-weight: bold;
		border: 0;
		background-color: transparent;
		&:focus {
			color: @color_input_number_text_focus;
		}
	}
	&:not(.ui-spin-control-active) {
		display: inline-block;
		.ui-spin-control-number {
			display: inline;
		}
	}
	~.ui-spin-control:not(.ui-spin-control-active) {
		margin-left: 4 * @virtual_px;
	}

	&.ui-spin-control-active {
		z-index: 1000;
		display: inline-block;
		background-color: @color_input_bg;
		text-align: center;
		position: absolute;
		right: 0;
		top: ~"-webkit-calc(-50% - 0.70em)";
		.up {
			display: none;
		}
		.down {
			display: none;
		}
		.ui-spin-control-number {
			color: @color_input_number_text;
			text-align: center;
			vertical-align: middle;
			font-size: 30 * @virtual_px;
			font-weight: bold;
			border: 0;
			background-color: transparent;
			padding: (15 + 12) * @virtual_px 33 * @virtual_px;
			line-height: 64 * @virtual_px;
		}
		&.ui-spin-control-focus {
			.up {
				-webkit-mask: url("images/SpinControl/ico_spincontrol_up.png") no-repeat center top;
				background-color: white;
				width: 100%;
				height: 15 * @virtual_px;
				top: 12 * @virtual_px;
				position: absolute;
				display: block;
			}
			.down {
				-webkit-mask: url("images/SpinControl/ico_spincontrol_down.png") no-repeat center bottom;
				background-color: white;
				width: 100%;
				height: 15 * @virtual_px;
				bottom: 12 * @virtual_px;
				position: absolute;
				display: block;
			}
		}
	}
	&.ui-spin-control-focus {
		background-color: @color_input_number_bg_focus;
		.ui-spin-control-number {
			color: @color_input_number_text_focus;
		}
	}
	.ui-spin-control-active ~ .ui-spin-control-active {
		border-left: 2 * @virtual_px solid @color_spincontrol_separator;
	}
  }

  .ui-spin-control-placeholder {
	display: inline-block;
	position: relative;
	font-size: 30 * @virtual_px;
	vertical-align: top;
  }

  .ui-spin-control-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
  }

  /**
  * Interacion with others UI components
  */
  .ui-listview li {
	input[type=number] {
		margin: -19 * @virtual_px 0;
	}
  }
