/** Abstract class for standard input */
.LESSinput-normal {
	.border-radius(5 * @virtual_px);
	border-color: @color_list_editfield;
	border-width: 5 * @virtual_px;
	border-style: solid;
	color: @color_input_text;
}

/** Abstract class for standard input, which is focused*/
.LESSinput-focus {
	border-color: @default_color;
	color: @color_input_text_focus;
	&::-webkit-input-placeholder {
		color: @color_input_text_focus;
	}
	background-clip: padding-box;
}

/** Abstract class for standard input, which is hightlighted */
.LESSinput-highlight {
	.LESSinput-normal();
	color: @color_input_text_focus;
	/* and blue caret*/
}

/** Abstract class for small input */
.LESSsmall-or-inside-popup-normal{
	.border-radius(0);
	padding: 7 * @virtual_px 14 * @virtual_px;
	font-size: 24 * @virtual_px;
	border-style: solid;
	border-width: 4 * @virtual_px;
	border-color: @color_input_border_small;
	color: @color_input_text_small;
}

/** Abstract class for small input, which is focused */
.LESSsmall-or-inside-popup-focus {
	.LESSinput-focus();
	border-color: @color_input_border_small_focus;
	color: @color_input_text_small;
}

/** Abstract class for small input, which is hightlighted */
.LESSsmall-or-inside-popup-highlight {
	.LESSsmall-or-inside-popup-normal();
	border-color: @color_list_editfield;
	/* and blue caret*/
}


input:not([type=number]):not([type=checkbox]):not([type=radio]):not([type=date]):not([type=time]).ui-input-text,
textarea.ui-input-text {
	.appearance(none);

	background-color: @color_list_editfield;
	background-image: none;
	padding: 11 * @virtual_px 24 * @virtual_px;
	font-size: 32 * @virtual_px;

	color: @color_input_text;
	&::-webkit-input-placeholder {
		color: @color_input_text;
		.focus-animation(color);
	}
	.focus-animation(color, border, border-radius);

	&.pin {
		padding: 14 * @virtual_px;
		text-align: center;
	}

/*to disable*/
	&:not(.ui-textinput-small).ui-focus {
		.LESSinput-focus();
	}

	&.ui-textinput-small {
		.LESSsmall-or-inside-popup-normal();
		&.ui-focus {
			.LESSsmall-or-inside-popup-focus();
		}
	}
}


/** Input in popup is always small */
.ui-popup {
	// container for textbox, which can be focusable
	.input-box {
		&.ui-focus {
			input:not([type=number]):not([type=checkbox]):not([type=radio]):not([type=date]):not([type=time]).ui-input-text,
			textarea.ui-input-text {
				&.ui-highlight {
					.LESSsmall-or-inside-popup-highlight();
				}
				.LESSsmall-or-inside-popup-focus();
			}
		}
		input:not([type=number]):not([type=checkbox]):not([type=radio]):not([type=date]):not([type=time]).ui-input-text,
		textarea.ui-input-text {
			&.ui-textinput-small,
			&:not(.ui-textinput-small) {
				.LESSsmall-or-inside-popup-normal();
			}
		}
	}
}

/** Input in container (e.g. search bar and text input) */
.input-box,
.input-search-bar {
	// normal container
	input:not([type=number]):not([type=checkbox]):not([type=radio]):not([type=date]):not([type=time]).ui-input-text,
	textarea.ui-input-text {
		&:not(.ui-textinput-small) {
			.LESSinput-normal();
		}

		&.ui-textinput-small {
			.LESSsmall-or-inside-popup-normal();
		}
	}
	// focused container
	&.ui-focus {
		input:not([type=number]):not([type=checkbox]):not([type=radio]):not([type=date]):not([type=time]).ui-input-text,
		textarea.ui-input-text {
			&:not(.ui-textinput-small) {
				.LESSinput-focus();
				// ready to write
				&.ui-highlight {
					.LESSinput-highlight();
				}
			}

			&.ui-textinput-small {
				.LESSsmall-or-inside-popup-focus();
				// ready to write
				&.ui-highlight {
					.LESSsmall-or-inside-popup-highlight();
				}
			}
		}
	}
}



/** Search bar */
.input-search-bar {
	position: relative;
	overflow: hidden;

	.ui-input-search {
		display: block;
		margin: 33 * @virtual_px 23 * @virtual_px 23 * @virtual_px;
		position: relative;

		input:not([type=number]):not([type=checkbox]):not([type=radio]):not([type=date]):not([type=time]).ui-input-text {
			padding-right: 30 * @virtual_px;
			padding-left: 15 * @virtual_px;
			width: 100%;

			display: block;
		}

		.ui-search-bar-icon-box {
			position: absolute;
			right: 11 * @virtual_px;
			top: 11 * @virtual_px;
			width: 45 * @virtual_px;
			height: 45 * @virtual_px;
			.mask-image('images/Searchbar/ico_search.png');
			.mask-size(45 * @virtual_px);
			background-color: @color_searchbar_icon;
		}
	}

	.ui-btn.ui-btn-search-front-icon {
		position: absolute;
		top: 32 * @virtual_px;
		width: 130 * @virtual_px;
		min-width: 130 * @virtual_px;
		padding: 0;
		.ui-btn-inner {
			padding: 0;
			.ui-icon {
				margin: 12 * @virtual_px auto;
				width: 45 * @virtual_px;
				height: 45 * @virtual_px;
				background-size: 45 * @virtual_px 45 * @virtual_px;
				.mask-image();
			}
		}
	}
}

.ui-search-bar-icon-left {
	.ui-input-search {
		margin-left: 150 * @virtual_px;
	}
	.ui-btn.ui-btn-search-front-icon {
		left: 0;
	}
}

.ui-search-bar-icon-right {
	.ui-input-search {
		margin-right: 150 * @virtual_px;
	}
	.ui-btn.ui-btn-search-front-icon {
		right: 0;
	}
}

.ui-title + .input-search-bar {
	float: right;
}
