// keyframes need to be prefixed by hand since prefixer does not support them
// and less below version 1.7.0 does not autoprefix them
.tv-fadein() {
    from { opacity: 0; }
    to { opacity: 1; }
}

.tv-fadeout() {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes fadein {
    .tv-fadein();
}

@-moz-keyframes fadein {
    .tv-fadein();
}

@-ms-keyframes fadein {
    .tv-fadein();
}

@-o-keyframes fadein {
    .tv-fadein();
}

@keyframes fadein {
    .tv-fadein();
}

@-webkit-keyframes fadeout {
    .tv-fadeout();
}

@-moz-keyframes fadeout {
    .tv-fadeout();
}

@-ms-keyframes fadeout {
    .tv-fadeout();
}

@-o-keyframes fadeout {
    .tv-fadeout();
}

@keyframes fadeout {
    .tv-fadeout();
}

.fade.out {
	opacity: 0;
        .animation(fadeout 125ms);
}

.fade.in {
	opacity: 1;
        .animation(fadein 225ms);
}
