/***********************
Processing
***********************/
@-webkit-keyframes fullprocess {
	0% {
		-webkit-mask-position: 0 0;
	}
	1.5% {
		-webkit-mask-position: -100vw 0;
	}
	3% {
		-webkit-mask-position: -200vw 0;
	}
	4.5% {
		-webkit-mask-position: -300vw 0;
	}
	6% {
		-webkit-mask-position: -400vw 0;
	}
	7.5% {
		-webkit-mask-position: -500vw 0;
	}
	9% {
		-webkit-mask-position: -600vw 0;
	}
	12% {
		-webkit-mask-position: 0 -100vw;
	}
	13.5% {
		-webkit-mask-position: -100vw -100vw;
	}
	15% {
		-webkit-mask-position: -200vw -100vw;
	}
	16.5% {
		-webkit-mask-position: -300vw -100vw;
	}
	18% {
		-webkit-mask-position: -400vw -100vw;
	}
	19.5% {
		-webkit-mask-position: -500vw -100vw;
	}
	21% {
		-webkit-mask-position: -600vw -100vw;
	}
	24% {
		-webkit-mask-position: 0 -200vw;
	}
	25.5% {
		-webkit-mask-position: -100vw -200vw;
	}
	27% {
		-webkit-mask-position: -200vw -200vw;
	}
	28.5% {
		-webkit-mask-position: -300vw -200vw;
	}
	30% {
		-webkit-mask-position: -400vw -200vw;
	}
	31.5% {
		-webkit-mask-position: -500vw -200vw;
	}
	33% {
		-webkit-mask-position: -600vw -200vw;
	}
	36% {
		-webkit-mask-position: 0 -300vw;
	}
	37.5% {
		-webkit-mask-position: -100vw -300vw;
	}
	39% {
		-webkit-mask-position: -200vw -300vw;
	}
	40.5% {
		-webkit-mask-position: -300vw -300vw;
	}
	42% {
		-webkit-mask-position: -400vw -300vw;
	}
	43.5% {
		-webkit-mask-position: -500vw -300vw;
	}
	45% {
		-webkit-mask-position: -600vw -300vw;
	}
	48% {
		-webkit-mask-position: 0 -400vw;
	}
	49.5% {
		-webkit-mask-position: -100vw -400vw;
	}
	51% {
		-webkit-mask-position: -200vw -400vw;
	}
	52.5% {
		-webkit-mask-position: -300vw -400vw;
	}
	54% {
		-webkit-mask-position: -400vw -400vw;
	}
	55.5% {
		-webkit-mask-position: -500vw -400vw;
	}
	57% {
		-webkit-mask-position: -600vw -400vw;
	}
	60% {
		-webkit-mask-position: 0 -500vw;
	}
	61.5% {
		-webkit-mask-position: -100vw -500vw;
	}
	63% {
		-webkit-mask-position: -200vw -500vw;
	}
	64.5% {
		-webkit-mask-position: -300vw -500vw;
	}
	66% {
		-webkit-mask-position: -400vw -500vw;
	}
	67.5% {
		-webkit-mask-position: -500vw -500vw;
	}
	69% {
		-webkit-mask-position: -600vw -500vw;
	}
	72% {
		-webkit-mask-position: 0 -600vw;
	}
	73.5% {
		-webkit-mask-position: -100vw -600vw;
	}
	75% {
		-webkit-mask-position: -200vw -600vw;
	}
	76.5% {
		-webkit-mask-position: -300vw -600vw;
	}
	78% {
		-webkit-mask-position: -400vw -600vw;
	}
	79.5% {
		-webkit-mask-position: -500vw -600vw;
	}
	81% {
		-webkit-mask-position: -600vw -600vw;
	}
	84% {
		-webkit-mask-position: 0 -700vw;
	}
	85.5% {
		-webkit-mask-position: -100vw -700vw;
	}
	87% {
		-webkit-mask-position: -200vw -700vw;
	}
	88.5% {
		-webkit-mask-position: -300vw -700vw;
	}
	90% { // 60
		-webkit-mask-position: -400vw -700vw;
	}
	91.5% {
		-webkit-mask-position: -500vw -700vw;
	}
	93% {
		-webkit-mask-position: -600vw -700vw;
	}
	94.5% {
		-webkit-mask-position: 0 -900vw;
	}
	96% {
		-webkit-mask-position: -100vw -900vw;
	}
	97.5% {
		-webkit-mask-position: -200vw -900vw;
	}
	99% {
		-webkit-mask-position: -300vw -900vw;
	}
	100% {
		-webkit-mask-position: -400vw -900vw;
	}
}

@-webkit-keyframes smallprocess {
	0% {
		-webkit-mask-position: 0 0;
	}
	1.5% {
		-webkit-mask-position: 0 -86px;
	}
	3% {
		-webkit-mask-position: 0 -172px;
	}
	4.5% {
		-webkit-mask-position: 0 -258px;
	}
	6% {
		-webkit-mask-position: 0 -344px;
	}
	7.5% {
		-webkit-mask-position: 0 -430px;
	}
	9% {
		-webkit-mask-position: 0 -516px;
	}
	10.5% {
		-webkit-mask-position: 0 -602px;
	}
	12% {
		-webkit-mask-position: 0 -688px;
	}
	13.5% {
		-webkit-mask-position: 0 -774px;
	}
	15% {
		-webkit-mask-position: 0 -860px;
	}
	16.5% {
		-webkit-mask-position: 0 -946px;
	}
	18% {
		-webkit-mask-position: 0 -1032px;
	}
	19.5% {
		-webkit-mask-position: 0 -1118px;
	}
	21% {
		-webkit-mask-position: 0 -1204px;
	}
	22.5% {
		-webkit-mask-position: 0 -1290px;
	}
	24% {
		-webkit-mask-position: 0 -1376px;
	}
	25.5% {
		-webkit-mask-position: 0 -1462px;
	}
	27% {
		-webkit-mask-position: 0 -1548px;
	}
	28.5% {
		-webkit-mask-position: 0 -1634px;
	}
	30% {
		-webkit-mask-position: 0 -1720px;
	}
	31.5% {
		-webkit-mask-position: 0 -1806px;
	}
	33% {
		-webkit-mask-position: 0 -1892px;
	}
	34.5% {
		-webkit-mask-position: 0 -1978px;
	}
	36% {
		-webkit-mask-position: 0 -2064px;
	}
	37.5% {
		-webkit-mask-position: 0 -2150px;
	}
	39% {
		-webkit-mask-position: 0 -2236px;
	}
	40.5% {
		-webkit-mask-position: 0 -2322px;
	}
	42% {
		-webkit-mask-position: 0 -2408px;
	}
	43.5% {
		-webkit-mask-position: 0 -2494px;
	}
	45% {
		-webkit-mask-position: 0 -2580px;
	}
	46.5% {
		-webkit-mask-position: 0 -2666px;
	}
	48% {
		-webkit-mask-position: 0 -2752px;
	}
	49.5% {
		-webkit-mask-position: 0 -2838px;
	}
	51% {
		-webkit-mask-position: 0 -2924px;
	}
	52.5% {
		-webkit-mask-position: 0 -3010px;
	}
	54% {
		-webkit-mask-position: 0 -3096px;
	}
	55.5% {
		-webkit-mask-position: 0 -3182px;
	}
	57% {
		-webkit-mask-position: 0 -3268px;
	}
	58.5% {
		-webkit-mask-position: 0 -3354px;
	}
	60% {
		-webkit-mask-position: 0 -3440px;
	}
	61.5% {
		-webkit-mask-position: 0 -3526px;
	}
	63% {
		-webkit-mask-position: 0 -3612px;
	}
	64.5% {
		-webkit-mask-position: 0 -3698px;
	}
	66% {
		-webkit-mask-position: 0 -3784px;
	}
	67.5% {
		-webkit-mask-position: 0 -3870px;
	}
	69% {
		-webkit-mask-position: 0 -3956px;
	}
	70.5% {
		-webkit-mask-position: 0 -4042px;
	}
	72% {
		-webkit-mask-position: 0 -4128px;
	}
	73.5% {
		-webkit-mask-position: 0 -4214px;
	}
	75% {
		-webkit-mask-position: 0 -4300px;
	}
	76.5% {
		-webkit-mask-position: 0 -4386px;
	}
	78% {
		-webkit-mask-position: 0 -4472px;
	}
	79.5% {
		-webkit-mask-position: 0 -4558px;
	}
	81% {
		-webkit-mask-position: 0 -4644px;
	}
	84% {
		-webkit-mask-position: 0 -4730px;
	}
	88% {
		-webkit-mask-position: 0 -4816px;
	}
	92% {
		-webkit-mask-position: 0 -4902px;
	}
	96% {
		-webkit-mask-position: 0 -4988px;
	}
	100% {
		-webkit-mask-position: 0 -5074px;
	}
}


.ui-processing {
	background-color: @color_processing;
	-webkit-mask-image: url("./images/Processing/processingsmall.png");
	-webkit-mask-repeat: no-repeat;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
	-webkit-animation-name: smallprocess;

	width: 86 * @unit_base;
	height: 86 * @unit_base;
	margin: 0 auto;
	margin-top: 34 * @unit_base;
	margin-bottom: 14 * @unit_base;
}
.ui-processing-text {
	margin: 0 auto;
	text-align: center;
	width: 168 * @unit_base;
	font-size: 24 * @unit_base;
	color: @color_processing_text;
}

.ui-processing.ui-processing-full-size {
	background-color: transparent;
	-webkit-mask-image: none;
	-webkit-animation: none;
	pointer-events: none;
	position: fixed;
	width: 100vw;
	height: 100vw;
	top: 50%;
	left: 0;
	.transform(translate3d(0, -50%, 0));
	margin: 0;
}

.ui-processing.ui-processing-full-size::after {
	content: "";
	background-color: @color_processing;
	-webkit-mask-image: url("./images/Processing/processingfull.png");
	-webkit-mask-size: 700vw 900vw;
	-webkit-mask-repeat: no-repeat;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: step-start;
	-webkit-animation-name: fullprocess;
	width: 100%;
	height: 100%;
	position: absolute;
}
