.core_button_bg() {
	-webkit-mask-box-image-repeat: repeat;
	-webkit-mask-box-image-width: auto;
	-webkit-mask-box-image-source: url(images/nine-patch/core_button_bg.png);
	-webkit-mask-box-image-slice: 37 38 36 38 fill;
}

.core_button_bg_pressed() {
	-webkit-mask-box-image-repeat: repeat;
	-webkit-mask-box-image-width: auto;
	-webkit-mask-box-image-source: url(images/nine-patch/core_button_bg.png);
	-webkit-mask-box-image-slice: 37 38 36 38 fill;
}

