/***************************************************************************
                  Body
***************************************************************************/
@color_bg: C001;
@color_text: T023;
@color_content_bg: B0211P;

/***************************************************************************
                   Naviframe
***************************************************************************/
@color_bar_naviframe_bg : B011;
@color_bar_naviframe_press : F043P;
@color_bar_naviframe_line : B0512;
@color_bar_title_button_bg : B0541;
@color_bar_title_button_bg_press : B0541P;
@color_bar_title_button_bg_dim : B0541D;
@color_bar_title_button_all : F043L1i;
@color_bar_title_button_all_press : F043L1i;
@color_bar_title_button_all_dim : F043L1iD;
@color_bar_title_text : T020;
@color_bar_title_multiline_text: T0203;
@color_bar_title_sub_text: T0204;
@color_bar_title_landscape_multiline_text: T0203;
@color_bar_title_landscape_sub_text: T0204;
@color_bar_title_button_text : T020;
@color_bar_title_button_text_press : T020;
@color_bar_title_button_text_select : T020;
@color_bar_divider_line : B0551;

/***************************************************************************
		   Toolbar
***************************************************************************/
@color_bar_toolbar_bg : B062;
@color_bar_toolbar_press : B062;
@color_bar_toolbar_button : B052L6;
@color_bar_toolbar_button_press : B052L6P;
@color_bar_toolbar_button_text : T111;
@color_bar_toolbar_button_text_press : T111P;
@color_bar_toolbar_button_text_selected : T111S;
@color_bar_toolbar_divider : B0552;

/***************************************************************************
                   Tabbar
***************************************************************************/
@color_tabbar_bg : B0514;
@color_tabbar_press : B0514P;
@color_tabbar_divider : B012L4;
@color_tabbar_bg_line : B0512;
@color_tabbar_select_bar : B0514S;
@color_tabbar_title_bg : B0514;
@color_tabbar_title_bg_press : B0514P;
@color_tabbar_btn_normal : B052L6;
@color_tabbar_btn_press : B052L6P2;
@color_tabbar_btn_dim : B052L6D;
@color_tabbar_btn_selected : B052L6P;
@color_tabbar_btn_bg_normal : B0514;
@color_tabbar_btn_bg_press : B0514P;
@color_tabbar_text_normal : T1117;
@color_tabbar_text_press : T1117P;
@color_tabbar_text_dim : T1117D;
@color_tabbar_text_selected : T1117S;

/***************************************************************************
	Textinput Clear Button
***************************************************************************/
@color_editfield_bg: B0215;

@color_editfield_outline: F059;
@color_editfield_selected_bg: F056;
@color_editfield_selected_outline: F057;
@color_editfield_disabled_bg: F058;
@color_editfield_disabled_outline : F059;

@color_editfield_text: T1013;
@color_editfield_selected_text: T1013;
@color_editfield_placeholder_text: T1012;
@color_editfield_placeholder_selected_text: T1012;
@color_editfield_disabled_text: T1011D;

@color_editfield: F054;

@color_editfield_clear_icon: F053;
@color_editfield_clear_icon_press: F053P;
@color_editfield_clear_icon_disabled: F053D;

/***************************************************************************
                   List
***************************************************************************/
@color_list_bg: B0211;
@color_list_press : B0211P;
@color_list_focus : W161;
@color_list_border_bottom: C002;
@color_list_main_text_normal: T023;
@color_list_main_text_press : T023P;
@color_list_main_text_selected : T023S;
@color_list_main_text_dim : T023D;
@color_list_3line_main_text: T028;
@color_list_3line_main_text_read: T028R;
@color_list_3line_sub_text: T029;
@color_list_3line_sub3_text: T030;
@color_list_3line_read_bg: B0218;

@color_list_sub_text_normal: T024;
@color_list_sub_text_press : T024P;
@color_list_sub_text_selected : T024S;
@color_list_sub_text_dim : T024D;
@color_list_divider : B0221L2;
@color_list_divider_text : T027L1;
@color_list_divider_line : W021L2;
@color_list_divider_bg : W021L1;
@color_list_divider_bg_press : W021L1;
@color_list_divider_text_press : T027L1;

@color_list_swipe_text: T023;
@color_list_swipe_text_press: T023P;
@color_list_swipe_bg: B0211;
@color_list_swipe_left_bg: B011;
@color_list_swipe_right_bg: B0211;

@color_list_editfield_bg: @color_editfield_bg;
@color_list_editfield_outline: @color_editfield_outline;
@color_list_editfield_selected_bg: @color_editfield_selected_bg;
@color_list_editfield_selected_outline: @color_editfield_selected_outline;
@color_list_editfield_disabled_bg:  @color_editfield_disabled_bg;
@color_list_editfield_disabled_outline: @color_editfield_disabled_outline;
@color_list_editfield_text: @color_editfield_text;
@color_list_editfield_selected_text: @color_editfield_selected_text;
@color_list_editfield_placeholder_text: @color_editfield_placeholder_text;
@color_list_editfield_disabled_text: @color_editfield_disabled_text;
@color_list_editfield: @color_editfield;

@color_list_dialogue_bg : B011;
@color_dialogue_border : B0223;
@color_dialogue_main_text_press: T023P;
@color_dialogue_main_text_selected: T023S;
@color_dialogue_divider_bg : B0221L2;
@color_list_expanded_bg : B011;
@color_checklist_btn_bg : B011;

@color_list_bubble_receive_bg : C002;
@color_list_bubble_sent_bg : B0541P;
@color_list_bubble_sent_text: T023;
@color_list_bubble_receive_text: T023;
@color_list_bubble_sos_text: rgb(219, 0, 0);
@color_list_bubble_date_text: T023;

@color_list_bubble_time_sent_text: T023;
@color_list_bubble_time_receive_text: T023;
@color_list_bubble_help_text: T023;

@color_list_collapsible_arrow: W023;
@list-smallicon-size: 22 * @unit_base;
@list-li-padding-horizontal: 8 * @unit_base;

@list-bigicon-size2: 72 * @unit_base;


/***************************************************************************
                   Fast Scroll
***************************************************************************/
@color_fastscroll_rollover_bg: B0722;
@color_fastscroll_rollover_down_border: B0725;
@color_fastscroll_rollover_text: T113;
@color_fastscroll_rollover_text_press: T113P;
@color_fastscroll_rollover_left_border: B0723;
@color_fastscroll_rollover_left_border_press : B0724;
@color_fastscroll_popup_bg: B0731L1;
@color_fastscroll_popup_text: T114;
@color_fastscroll_popup_border: B0731L2;

/***************************************************************************
                   SearchBar(forms.textinput)
***************************************************************************/
@color_searchbar_bg : B0215;
@color_searchbar_bg_press : B0215;
@color_searchbar_text : T1061;
@color_searchbar_text_press : T106P;
@color_searchbar_typing_text : T1063;
@color_searchbar_search_icon : F041i;
@color_searchbar_clear_icon : F053;
@color_searchbar_clear_icon_press : F053P;
@color_searchbar_input_field_bg : B011;
@color_searchbar_border : F059;
@color_searchbar_border_focus : F057;
@color_searchbar_button_bg : B0215;
@color_searchbar_button_bg_press : B0215;

/***************************************************************************
                        Button(connected with other winset)
***************************************************************************/
@color_button_EditText:         T1069;
@color_button_EditTextPress:    T1069;

@color_button_text_normal:      T051L2;
@color_button_text_press:       T051L2P;
@color_button_text_select:T051S;

@color_button_icon: F032L3;
@color_button_icon_press: F060L2P;
@color_button_icon_dim: F032L3D;
@color_button_icon_nobg: W012;
@color_button_icon_nobg_press: W012P;
@color_button_icon_nobg_dim: W012D;
@color_button_bg: W012;
@color_button_bg_press: W012P;

@color_button_add: F060L2;
@color_button_add_press: F060L2P;
@color_button_add_dim: F060L2D;

@color_button_warning: F060L3;
@color_button_warning_press: F060L3P;
@color_button_warning_dim : F060L3D;

@color_button_edit:		W011;
.LESSbutton_box_style{
        color: @color_button_text_normal;
}

.LESSbutton_down_style{
        color: @color_button_text_press;
}

.LESSbutton_edit_style{
	background: @color_button_edit;
}

/***************************************************************************
                        contextual popup
***************************************************************************/
@color_ctxpopup_text:		T1221;
@color_ctxpopup_background:	B0211; //this is temporal
@color_ctxpopup_background_border:		B011; //this is temporal
@color_ctxpopup_border_left:	B0733L2;
@color_ctxpopup_border_right:	B0733L2;
@color_ctxpopup_border_top:	B0733L2;
@color_ctxpopup_border_bottom:	B0733L2;
@color_ctxpopup_btn_press:	B0211P;
@color_ctxpopup_focus:		B0211;
@color_ctxpopup_icon:		B068;
@color_ctxpopup_divider:	B0733L2;
@color_ctxpopup_border: 	B067;

/***************************************************************************
                   Scrollview
***************************************************************************/
@color_scrollbar: B071;

/***************************************************************************
                   Date Time picker
***************************************************************************/
@color_timepicker_selector_color:	rgb(37, 50, 150);
@color_timepicker_divider_color1:	rgb(39, 40, 43);
@color_timepicker_divider_color2:	rgb(64, 64, 64);
/***************************************************************************
                   SegmentControl
***************************************************************************/
@color_segmentcontrol_Seg_text : rgba(199, 199, 199, 1);
@color_segmentcontrol_Seg_text_pressed : rgb(59,119,150);
/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_bg: B061L1;
@color_popup_title_bg:	B061L3;
@color_popup_title_text: T121;
@color_popup_text: T123;
@color_popup_list_style_bg_press: B061L1P;
@color_popup_list_style_text: T125;
@color_popup_list_style_text_press: T125P;
@color_popup_button_bg:	B062;
@color_popup_button_text: T051L2;
@color_popup_dim_screen_bg: B015;

/***************************************************************************
                    Tickernoti
***************************************************************************/
@color_ticker_bg: B061L5;
@color_ticker_text1: T023;
@color_ticker_text2: T023;

/***************************************************************************
                    Smallpopup
***************************************************************************/
@color_smallpopup_bg: B061L5;
@color_smallpopup_outline: B011;
@color_smallpopup_text: T1221;

/***************************************************************************
                    Slider
***************************************************************************/
@color_slider_handle_text: T057L1;
@color_slider_handle_text_press: T057L1;
@color_slider_popup_text: T023;
@color_slider_popup_bg:  W0631;
@color_slider_popup_stroke: W0632;
@color_slider_icon: W0661;
@color_slider_left_text: T023;
@color_slider_num_text: T023;
@color_slider_text: T023;
@color_slider_center: W062L1;
@color_slider_handle_bg: W062L2;
@color_slider_handle_press_bg: W062L2;
@color_slider_img_bg: W0661;


/***************************************************************************
                    Toggle
***************************************************************************/
@color_toggle_bg: W015L1;

@color_toggle_outline: W015L1D;

@color_toggle_handle_on_bg: W015L1;
@color_toggle_handle_off_bg: W015L1E1;

@color_toggle_handle_on_icon: W015L1i;
@color_toggle_handle_off_icon: W015L1i;




/***************************************************************************
                    Progress
***************************************************************************/
@color_progress_bg: W062L1;
@color_progress_value: W062L2;
@color_progress_text1: T057L1;
@color_progress_text2: T058;
@color_progress_circle_bg: W157E1;

/***************************************************************************
                   tokentextarea
***************************************************************************/
@color_tokentextarea_bg : W010;
@color_tokentextarea_block_text : T020;
@color_tokentextarea_block_text_press : T020;
@color_tokentextarea_block_bg : W012;
@color_tokentextarea_press_bg : W012P;
@color_tokentextarea_input_text : T059L1;
@color_tokentextarea_label_text : T059L2;

/***************************************************************************
                   Splitview
***************************************************************************/
@color_splitview_spliter_bar : W062L1;
@color_splitview_spliter_bar_active : W062L2;

/***************************************************************************
                  Checkbox / Radio
****************************************************************************/
@color_checkboxradio_bg_line: W013L2;
@color_checkboxradio_bg_press_line: W013L2P;
@color_checkboxradio_checkbox_bg_line: W013L2;

@color_checkboxradio_checkbox_bg_icon: W013L1i;

@color_checkboxradio_bg_on: W013L1;
@color_checkboxradio_bg_off: W013L1E1;
@color_checkboxradio_bg_on_icon: W013L1D;

@color_checkboxradio_radio_bg_on: W014L1;
@color_checkboxradio_radio_bg_off: W014L1E1;
@color_checkboxradio_radio_btn_icon: W014L1D;

@color_checkboxradio_radio_bg_icon: W014Li;

@color_checkboxradio_favorite_off : W016L1iE1;
@color_checkboxradio_favorite_on : W016L1i;

/***************************************************************************
		Scrollview
****************************************************************************/
@color_scrollview_handler_bg: B0731L3;
@color_scrollview_handler_thumb_01: B0731L4;
@color_scrollview_handler_thumb_02: B0731L5;
/***************************************************************************
                        Drawer
***************************************************************************/
@color_drawer_bg : C001;
@color_drawer_list_press : B0211P;
@color_drawer_overlay_bg : B016;
@color_drawer_icon : F043L1i;
@color_drawer_icon_press : F043P;

/***************************************************************************
                                Empty State
***************************************************************************/
@color_emptystate_header_bg : B011;
@color_emptystate_content_bg : B238L1;
@color_emptystate_content_pattern_bg : B238L2;

/***************************************************************************
                        SelectMenu
***************************************************************************/
@color_selectmenu_list_group_index_bg : W021L1;
@color_selectmenu_list_line : W021L2;
@color_selectmenu_label_bg : B0733;
@color_selectmenu_label_bg_stroke : B0733L1;
@color_selectmenu_label_bg_press : B0733P;
@color_selectmenu_label_line : B0733L2;
@color_selectmenu_icon : B0734;
@color_selectmenu_font_dim : T12351D;

/***************************************************************************
                        Navigation
***************************************************************************/
@color_navigation_text: T042;
@color_navigation_text_press: T042P;
@color_navigation_text_dim: T042D;
@color_navigation_bg : B011;
@color_navigation_bar_bg : B012L1;
@color_navigation_bar_icon: B012L3;
@color_navigation_tab_divider : B012L4;
