 
/*
body {
    margin: 0px;
    background-color:#222;
	-webkit-user-select: none;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}
*/

#sendBack {
	position: absolute;
	width: 320px;
	height: 320px;
	top: 0px;
	left: 0px;
	z-index: 2000;
	pointer-events: none;
	background: green;
	opacity: 0;
}
#sendBack.press {
	-webkit-animation-name: sendAni;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: .5s;
}
@-webkit-keyframes sendAni {
	from { opacity: .5; }
	to { opacity: 0; }
}
/************************************************
*****************  popupPage ********************
************************************************/

#popupPage {
}

/************************************************
****************  Swipe view ********************
************************************************/

.swipePage.center {
	display: block;
	visibility: visible;
/* 	-webkit-transform: translate3d( 0, 0, 0); */
}
.swipePage.left {
	display: block;
	visibility: visible;
	top: 0px;
/* 	-webkit-transform: translate3d( -100%, 0, 0); */
}
.swipePage.right {
	display: block;
	visibility: visible;
	top: 0px;
/* 	-webkit-transform: translate3d( 100%, 0, 0); */
}
.swipeParent {
	overflow: visible;
}

.swipePage {
	width: 320px;
	display: block;
	visibility: hidden;
	position: absolute;
}
/************************************************
******************* Intro Page ******************
************************************************/
#main > footer {
	height: 153px;
}
#main > footer > :first-child {
	margin-bottom: 1px;
}
#main .tmpFontSize {
	font-size: 27px;
}
/************************************************
**************** Dynamic Setting ****************
************************************************/
.buttonBox {
	height: 96px;
	margin: 19px auto 19px auto;
	text-align: center;
	pointer-events: none;
}
.buttonBox.hover {
}

.buttonBox .bgBtnImg {
	width: 96px;
	height: 96px;
	background-image: url('../images/watch_remote_setup_btn_bg.png');
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
	margin: auto;
	pointer-events: all;
}
.buttonBox .fgBtnImg {
	width: 96px;
	height: 96px;
	background-image: url('../images/remote_setup/watch_remote_setup_ic_on.png');
	background-repeat: no-repeat;
	z-index: 2;
	position: absolute;
	pointer-events: none;
}
.buttonBox.hover .bgBtnImg {
	background-image: url('../images/watch_remote_setup_btn_bg_press.png');
}
.buttonBox.hover .fgBtnImg {
	background-image: url('../images/remote_setup/watch_remote_setup_ic_on_press.png');
}


#dynamicSettingPage2 .commandLabel {
	height: 43px;
	line-height: 38px;
	margin: 0px 16px 20px 16px;
	text-align: center;	
}


/**************************************************
****************** Common Sytle *******************
**************************************************/
body {
/* 	background-image: url('../images/watch_bg.png'); */
}

.titleMenuBox {
	width: 68px;
	height: 62px;
	position: absolute;
	right: 0px;
	margin: 0px 0px 0px 0px;
}
.titleMenuBox.hover > .titleMenuImg {
	opacity: .2;
}
.titleMenuImg {
	width: 52px;
	height: 51px;
	background-image: url('../images/tw_ic_menu_moreoverflow_holo_dark.png');
	background-repeat: no-repeat;
	pointer-events: none;
	margin: 0px 8px 0px 8px;
}
.titleFadeOut {
	width: 14px;
	height: 52px;
	background-image: url(../images/tw_action_text_fadeout_right_holo_dark.png);
	float: right;
	position: absolute;
	right: 78px;
	display: none;
}
.titleLogoImg {
	width: 34px;
	height: 34px;
	margin: 9px 0px 8px 16px;
	float: left;
	background-image: url('../images/watch_ic_header_remotecontrol.png');
	background-repeat: no-repeat;
}

.none {
	display: none;
}



/**************************************************
**************** Define Font Sytle ****************
**************************************************/

.contentLabel {
	margin: 16px;
}
.Basic_text_s_default_FONT {
	font-size: 30px;
	color: rgb(255,255,255);
}
.Title_FONT {	/* .ui-title */
	font-size: 30px;
	color: rgb( 195,184,255 );
}
.Button_test_FONT {
	text-align: center;
	font-size: 34px;
	color: rgb( 255, 255, 255 );
	line-height: 38px;
}

.Button_general_FONT {
	text-align: center;
	font-size: 32px;
	color: rgb(255,255,255);
}
.Button_general_FONT.ui-state-disabled {
	color: rgba(255,255,255,0.8);
}
/**************************************************
****************** IndicatorTab *******************
**************************************************/

.indicatorTab {
	height: 6px;
}
.eachBar {
	height: 100%;
  	background-color: #35302c;  
/*  	background: #363663;  */
	float: left;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	background-clip: padding-box;
}
.eachBar:first-child {
	border-left: none;
}
.eachBar:last-child {
	border-right: none;
}
.eachBar.active {
/* 	background-color: #7259ff; */
 	background-color: #f99107; 
}


/*
.scrollbar-bar-type {
	height: 6px;
	background: #35302c;
}
.scrollbar-indicator {
	background-color: #f99107;
	height: 6px;
	position: absolute;
}
*/

/**************************************************
**************** theme custumizing ****************
**************************************************/

.ui-state-disabled {
	pointer-events: none;
}

.ui-header {
	line-height: 51px;
	position: relative;
/* 	background-color: #0b0c38; */
/*  	background-color: #1e1e1e;  */
/* 	border-bottom: 1px solid #363663; */
/*  	border-bottom: 1px solid #323232;  */
	text-overflow: clip;
}
.ui-header .ui-title {
	pointer-events: none;
/* 	color: rgb( 195,184,255 ); */
}
.ui-title.withLogo {
	float: left;
	margin: 0px 10px 0px 10px;
	width: 182px;
	overflow-x: hidden;
	padding: 0px;
	text-overflow: clip;
}
.ui-btn.hover {
	background-color: #635d59;
}
.ui-listview > .ui-btn {
/* 	min-height: 76px; */
	border-bottom: 1px solid black;
}
.ui-listview > .ui-btn:last-child {
	border-bottom: none;
}
.ui-listview > .ui-btn.hover {
/*  background-color: #565269;   */
	background-color: #635d59;
}
.ui-listview > li.hover {
/* 	background-color: #565269; */
/* 	background-color: #635d59; */
 	background-color: #584a3a; 
}
.ui-listview > li.diable {
/* 	background-color: #565269; */
/* 	background-color: #635d59; */
 	background-color: #262626; 
}
.ui-listview li input[type=radio] {
	float: right;
	width: 40px;
	height: 40px;
	margin-top: 0px;
}
.ui-listview li label.ui-popup-radio-label, 
.ui-listview li label.ui-popup-checkbox-label {
	float: none;
}
#selectRemoconPage input {
	pointer-events: none;
}
#selectRemoconPage label {
	pointer-events: none;
}
#removeContent {
	overflow: visible !important;
}

.ui-header .ui-more.hover {
	opacity: .2;
}

/* index scrollerbar */
/*
.ui-indexscrollbar {
	background-color: #000000;
	opacity: .7;
}

.ui-indexscrollbar ul li {
  color: rgb(114,114,139);
  border-bottom: 1px solid rgba(97,97,97,.2);
}

.ui-indexscrollbar ul li.ui-state-selected {
  background-color: #9c8cf5;
  color: #ffffff;
}

.ui-indexscrollbar-indicator span {
  background-color: rgb(6, 0, 48);
  color: rgb(156,140,245);
}
*/

