
@import "config.less";

/* dayselector CSS */
.ui-dayselector label {
    height: 56px;
    width: 64px;
}

.ui-dayselector  {
	
	.ui-btn {
		border-color : @color_dayselector_Btn_border;
		border-style : solid;
		border-width : 1 * @unit_base;
		.ui-btn-inner {
			text-align :center;			
			padding : 0.8em 0px;
		}
	}
 	.ui-checkbox-off {
		background : @color_dayselector_Btn_normal;
		.ui-btn-text {
			color : @color_dayselector_Btn_Mon_to_Fri;
		}	
	}
	
	.ui-checkbox-off.ui-btn-down-s.ui-btn-hover-s {
		background : @color_dayselector_Btn_press;
	}
	
	.ui-checkbox-on {
		background : @color_dayselector_Btn_press;
		.ui-btn-text {
			color : @color_dayselector_Btn_Mon_to_Fri;	
	   	}	
	}

	.ui-checkbox-on.ui-btn-down-s.ui-btn-hover-s {
		background : @color_dayselector_Btn_normal;
	}
	.ui-dayselector-label-saturday {
		.ui-btn-text {	
	    	color: @color_dayselector_Btn_Sat;
		}
	}
	.ui-dayselector-label-sunday {
		.ui-btn-text {
		    color: @color_dayselector_Btn_Sun;
		}
	}
	.ui-checkbox {	
		height : 90 * @unit_base;
		
		.ui-btn {
			width : 94 * @unit_base;
		}
		.ui-btn.ui-corner-left	{
			border-top-left-radius : 5 * @unit_base;
			border-bottom-left-radius : 5 * @unit_base;
		} 
		.ui-btn.ui-corner-right	{
			border-top-right-radius : 5 * @unit_base;
			border-bottom-right-radius : 5 * @unit_base;
		}			 
}

}

