@font_size_list_item: 38 * @unit_base;
/************************
Listview
*************************/
.ui-listview li {
	font-size: @font_size_list_item;
	line-height: 48 * @unit_base;
	width: 100%;
	min-height: 90 * @unit_base;
	padding: 21*@unit_base 8*@unit_base 20*@unit_base 16*@unit_base;
	border-bottom: 1px solid @color_listview_border;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;

	> * {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-user-select: none;
	}
}
.ui-listview li > a {
	display: block;
	width: 100%;
	height: 100%;
	margin: -21*@unit_base -16*@unit_base;	// Fill-up to the parent li
	padding: 21*@unit_base 16*@unit_base;	// Compensate lost padding of li
	.LESSbox-boxsizing( content-box );	// Change size calculation criteria
}

.ui-listview li.ui-li-active {
	background-color: @color_list_press_bg;
}
