@-webkit-keyframes rotating {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
.ui-processing {
	background-image: url("./images/Progress/tw_widget_popup_activity.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-animation: rotating 1s linear infinite;
	width:80 * @unit_base;
	height:80 * @unit_base;
	margin: 0 auto;
	margin-top: 34 * @unit_base;
	margin-bottom: 14 * @unit_base;
}
.ui-processing-text {
	margin: 0 auto;
	text-align: center;
	width: 168 * @unit_base;
	font-size: 24 * @unit_base;
}
