/*
 * toggle switch
 */
.ui-switch-activation, .ui-switch-handler {
	display: block;
	background: url('images/Controller_icon/tw_btn_toggle_dark.png') no-repeat;
}

.ui-switch {
	width: 100%;
	color: @color_switch_text;
}

.ui-toggleswitch {
	display: block;
	width: @fixed_toggleswitch_width;
	margin: 0 auto;
}
.ui-switch-text {
	margin-top: @fixed_toggleswitch_text_margin_top;
	margin-bottom: @fixed_toggleswitch_text_margin_bottom;
	padding: 0 30;
	font-size: @fixed_toggleswitch_text_font_size;
	text-align: center;
}
.ui-switch-input {
	display: none;
}

.ui-switch-inneroffset {
	width: 50%;
	height: 100%;
}

.ui-switch-activation {
	width: @fixed_toggleswitch_width;
	height: @fixed_toggleswitch_height;
	background-position: -2px -72px;
	margin: 0 auto;
	margin-top: @fixed_toggleswitch_act_margin_top;

	.ui-switch-handler {
		position: relative;
		width: @fixed_toggleswitch_handler_width;
		height: @fixed_toggleswitch_handler_height;
		background-position: -2px -288px;
		left: 0%;
	}
}

.ui-switch-activation:active {
	width: @fixed_toggleswitch_width;
	height: @fixed_toggleswitch_height;
	background-position: -2px -144px;
	margin: 0 auto;
	margin-top: @fixed_toggleswitch_act_margin_top;

	.ui-switch-handler:active {
		position: relative;
		width: @fixed_toggleswitch_handler_width;
		height: @fixed_toggleswitch_handler_height;
		background-position: -2px -360px;
		left: 0%
	}
}

.ui-switch-activation:disable {
	width: @fixed_toggleswitch_width;
	height: @fixed_toggleswitch_height;
	background-position: -2px -0px;
	margin: 0 auto;
	margin-top: @fixed_toggleswitch_act_margin_top;

	.ui-switch-handler:disable {
		position: relative;
		width: @fixed_toggleswitch_handler_width;
		height: @fixed_toggleswitch_handler_height;
		background-position: -2px -216px;
		left: 0%;
	}
}

.ui-switch-input:checked ~ & {
	display: none;

	.ui-switch-activation {
		width: @fixed_toggleswitch_width;
		height: @fixed_toggleswitch_height;
		background-position: -2px -72px;
		margin: 0 auto;
		margin-top: @fixed_toggleswitch_act_margin_top;

		.ui-switch-handler {
			position: relative;
			width: @fixed_toggleswitch_handler_width;
			height: @fixed_toggleswitch_handler_height;
			background-position: -2px -504px;
			left: 72%;
		}
	}
	.ui-switch-activation:active {
		width: @fixed_toggleswitch_width;
		height: @fixed_toggleswitch_height;
		background-position: -2px -144px;
		margin: 0 auto;
		margin-top: @fixed_toggleswitch_act_margin_top;

		.ui-switch-handler:active {
			position: relative;
			width: @fixed_toggleswitch_handler_width;
			height: @fixed_toggleswitch_handler_height;
			background-position: -2px -576px;
			left: 72%;
		}
	}
	.ui-switch-activation:disable {
		width: @fixed_toggleswitch_width;
		height: @fixed_toggleswitch_height;
		background-position: -2px -0px;
		margin: 0 auto;
		margin-top: @fixed_toggleswitch_act_margin_top;

		.ui-switch-handler:disable {
			position: relative;
			width: @fixed_toggleswitch_handler_width;
			height: @fixed_toggleswitch_handler_height;
			background-position: -2px -432px;
			left: 72%;
		}
	}
}

