<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/ContactCard" version="1.0.0" viewmodes="maximized">
    <tizen:application id="xfhqT1Xhea.ContactCard" package="xfhqT1Xhea" required_version="2.2"/>
    <content src="src/index.html"/>
    <icon src="src/icon.png"/>
    <name>ContactCard</name>
</widget>
