<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<title>Relative layout in JS</title>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
	<link rel="stylesheet" href="../../../src/css/custom.css">
</head>
<body>
<div data-role="page" id="relative-page-js" class="layout-page">
	<header>
		<h1>Relative in JS</h1>
	</header>
	<div data-role="content">
		<div id="relative-sample-box-js">
		</div>
	</div>

	<script>
		function createButtonInstance() {
			var button = tau.widget.Button();
			button.value("Test " + Math.random());
			return button;
		}

		function pageShow() {
			var layoutInstance = tau.widget.Box(document.getElementById("relative-sample-box-js"), {
				layout: "relative",
				position: {
					// Position
					// "index_or_selector" : "xPosition[-yPosition]"
					"1": "left-center",
					"2": "center-bottom",
					":nth-child(4)": "right-top",
					"3": "center-center"
				}
			});

			layoutInstance.append([createButtonInstance(),
					createButtonInstance(),
					createButtonInstance(),
					createButtonInstance()]);
		}

		//document.getElementById("relative-page").addEventListener("pageshow", pageShow);
		tau.event.one(document.getElementById("relative-page-js"), "pageshow", pageShow);
	</script>
</div>
</body>
</html>
