<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<title>Layout Widgets - Float (default: left)</title>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
	<div data-role="page" id="float-page-in-float" class="layout-page">
		<header><h1>Float inside float</h1></header>
		<div data-role="content">
			<div id="sample-box-in-float" data-role="box" data-layout="float">
				<div class="a"></div>
				<div class="b"></div>
				<div class="c"></div>
				<div class="d"></div>
				<div class="e" id="sample-box-in-float-2" data-role="box" data-layout="float"
						data-float-layout-align="right">
					<div class="ea"></div>
					<div class="eb"></div>
				</div>
				<div class="f"></div>
			</div>
		</div>
	</div>
</body>
</html>
