<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<title>Layout Widgets - Float right</title>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<link rel="stylesheet" href="../../css/custom.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
</head>
<body>
	<div data-role="page" id="float-page-right-top" class="layout-page">
		<header><h1>Float - right, top</h1></header>
		<div data-role="content">
			<div id="sample-box-right-top" data-role="box" data-layout="float"
				 data-float-layout-align="right" data-float-vertical-align="top">
				<div class="a"></div>
				<div class="b"></div>
				<div class="c"></div>
				<div class="d"></div>
				<div class="e"></div>
				<div class="f"></div>
			</div>
		</div>
	</div>
</body>
</html>
