<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=no"/>
<title>Layout Widgets</title>
<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
<link rel="stylesheet" href="../../../src/css/custom.css">
</head>
<body>
	<div data-role="page" id="float-page">
		<div data-role="header">
			<h1 class="ui-page-title">Layout examples</h1>
		</div>
		<div data-role="content">
			<ul data-role="listview">
				<li class="ui-list-divider">Float layout</li>
				<li><a href="./float-left-top.html">default: left, top</a></li>
				<li><a href="./float-center-top.html">center, top</a></li>
				<li><a href="./float-right-top.html">right, top</a></li>
				<li><a href="./float-center-middle.html">center, middle</a></li>
				<li><a href="./float-right-bottom.html">right, bottom</a></li>
				<li><a href="./float-left-top-spacing.html">spacing</a></li>
				<li><a href="./float-left-middle-spacing.html">left-middle with spacing</a></li>
				<li><a href="./float-in-float.html">in float layout</a></li>
				<li class="ui-list-divider">Relative layout</li>
				<li><a href="./relative.html">Relative</a></li>
				<li><a href="./nested-relative.html">Nested relative</a></li>
				<li><a href="./dynamic-relative.html">Dynamic relative</a></li>
				<li class="ui-list-divider">Linear horizontal</li>
				<li><a href="./linear-horizontal-3elem.html">3 elements</a></li>
				<li><a href="./linear-horizontal-3elem-fill.html">3 elements filled</a></li>
				<li><a href="./linear-horizontal-3elem-wrap.html">3 elements wrapped</a></li>
				<li><a href="./linear-horizontal-3elem-wrap-fill.html">3 elements wrapped and filled</a></li>
				<li><a href="./linear-horizontal-4elem.html">4 elements</a></li>
				<li><a href="./linear-horizontal-4elem-wrap.html">4 elements wrapped</a></li>
				<li><a href="./linear-horizontal-4elem-fill.html">4 elements filled</a></li>
				<li><a href="./linear-horizontal-4elem-wrap-fill.html">4 elements wrapped and filled</a></li>
				<li class="ui-list-divider">Linear vertical</li>
				<li><a href="./linear-vertical-3elem.html">3 elements</a></li>
				<li><a href="./linear-vertical-3elem-fill.html">3 elements filled</a></li>
				<li><a href="./linear-vertical-3elem-wrap.html">3 elements wrapped</a></li>
				<li><a href="./linear-vertical-3elem-wrap-fill.html">3 elements wrapped and filled</a></li>
				<li><a href="./linear-vertical-4elem.html">4 elements</a></li>
				<li><a href="./linear-vertical-4elem-wrap.html">4 elements wrapped</a></li>
				<li><a href="./linear-vertical-4elem-fill.html">4 elements filled</a></li>
				<li><a href="./linear-vertical-4elem-wrap-fill.html">4 elements wrapped and filled</a></li>

			</ul>
		</div>
	</div>
</body>
</html>
