<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=no"/>
<title>Layout Widgets - Append method</title>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
	<link rel="stylesheet" href="../../../src/css/custom.css">
</head>
<body>
<div data-role="page" id="append-example-page" class="layout-page">
	<header><h1>Linear from JS</h1></header>
	<div data-role="content">
		<div data-role="content" id="append-example-content"></div>
	</div>
</div>
<script src="./linear-append-example.js"></script>
</body>
</html>
