<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<title>Layout Widgets - Float (default: left)</title>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
	<link rel="stylesheet" href="../../../src/css/custom.css">
</head>
<body>
    <div data-role="page" id="linear-page-h-3-wrap" class="layout-page">
        <header><h1>Horizontal - wrap</h1></header>
        <div data-role="content">
            <!-- <div id="sample-box" data-role="box" data-layout="linear" data-direction="vertival" data-wrap=true data-fill=true> --><!-- data-direction="vertival" data-fillParent=true-->
            <div id="sample-box-h-3-wrap" data-role="box" data-layout="linear" data-linear-wrap=true style="width:500px">
                <div class="a"></div>
                <div class="b"></div>
                <div class="c"></div>
            </div>
        </div>
    </div>
</body>
</html>
