<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<title>Layout Widgets - Float (default: left)</title>
	<link rel="stylesheet" href="../../../lib/tau/mobile/theme/default/tau.css">
	<script type="text/javascript" src="../../../lib/tau/mobile/js/tau.js" data-build-remove="false"></script>
	<link rel="stylesheet" href="../../../src/css/custom.css">
</head>
<body>
<div data-role="page" id="relative-page" class="layout-page">
	<div data-role="header">
		<h1 class="ui-page-title">Relative layout</h1>
	</div>
	<div data-role="content">
		<div id="sample-box-relative" class="ui-box" data-layout="relative">
			<div class="example-child-box a" data-position="top">TOP</div>
			<div class="example-child-box b" data-position="bottom">BOTTOM</div>
			<div class="example-child-box c" data-position="left">LEFT</div>
			<div class="example-child-box d" data-position="right">RIGHT</div>
			<div class="example-child-box e" data-position="center">CENTER</div>
			<div class="example-child-box f" data-position="center-bottom">CENTER BOTTOM</div>
			<div class="example-child-box ea" data-position="center-right">CENTER RIGHT</div>
			<div class="example-child-box eb" data-position="top-right">TOP RIGHT</div>
			<div class="example-child-box a" data-position="bottom-left">BOTTOM LEFT</div>
		</div>
	</div>
</div>
</body>
</html>
