/***************************************************************************
                  Body
***************************************************************************/
@color_bg: rgb(0, 0, 0); // #[color] main background body color
@color_text: rgb(250, 250, 250); // #[color] main body text color

/***************************************************************************
                   Action Bar
***************************************************************************/
@color_actionbar_title_text: rgb(255, 255, 255); // #[color] title text color
@color_actionbar_title_bg: rgb(42,76,130); // #[color] title background color
@color_actionbar_more_pressed_bg: rgb(99, 93, 89); // #[color] more pressed background color
@icon_actionbar_more_detail_normal: "./images/Actionbar/tw_ic_menu_detail_normal_holo_dark.png";
@icon_actionbar_more_detail_disable: "./images/Actionbar/tw_ic_menu_detail_disable_holo_dark.png";
@icon_actionbar_more_overflow_normal: "./images/Actionbar/tw_ic_menu_moreoverflow_normal_holo_dark.png";
@icon_actionbar_more_overflow_disable: "./images/Actionbar/tw_ic_menu_moreoverflow_disable_holo_dark.png";
@icon_actionbar_more_selectall_normal: "./images/Actionbar/tw_ic_menu_selectall_normal_holo_dark.png";
@icon_actionbar_more_selectall_disable: "./images/Actionbar/tw_ic_menu_selectall_disable_holo_dark.png";

/****************************************************************************
                Content
****************************************************************************/
@color_content_bg: rgb(53, 80, 123); // #[color] background color

/****************************************************************************
    Progress Bar
****************************************************************************/
@color_progressbar_text: rgb(255, 255, 255); // #[color] text color
@color_progressbar_normal_bg: rgb(17, 17, 17); // #[color] normal background color
@color_progressbar_value_bg: rgb(255, 134, 0); // #[color] value background color

/****************************************************************************
    Toggle Switch
****************************************************************************/
@color_switch_text: rgb(255, 255, 255); // #[color] text color

/***************************************************************************
                   Buttons
***************************************************************************/
@color_button_default_text: rgb(255, 255, 255); // #[color] default text color
@color_button_default_text_disable: rgb(51, 51, 51); // #[color] Disabled button default text color
@color_button_basic_normal: rgb(211, 211, 211); // #[color] Color of basic button background - normal
@color_button_basic_txt_normal: rgb(89, 89, 89); // #[color] Color of basic button text - normal
@color_button_basic_txt_focus: rgb(255, 255, 255); // #[color] Color of basic button text - focused
@color_button_icon_source: rgb(69, 143, 255); // #[color] Background color of icon source button
@color_button_icon_app: rgb(69, 143, 255); // #[color] Background color of icon app button
@color_button_with_icon: rgb(255, 255, 255); // #[color] Text color of button with icon

@color_button_red_text: rgb(255, 255, 255); // #[color] Red button text color
@color_button_red_text_disable: rgba(255, 255, 255, 0.15); // #[color] Disabled red button text color
@color_button_red_normal_bg: #ce2302; // #[color] Red button normal background color
@color_button_red_focus_bg: #ce2302; // #[color] Red button focused background color
@color_button_red_press_bg: #dd654e; // #[color] Red button pressed background color
@color_button_red_disable_bg: #4e1910; // #[color] Red button disabled background color

@color_button_orange_text: rgb(255, 255, 255); // #[color] Orange button text color
@color_button_orange_text_disable: rgba(255, 255, 255, 0.15); // #[color] Orange button disabled text color
@color_button_orange_normal_bg: #ed8600; // #[color] Orange button normal background color
@color_button_orange_focus_bg: #ed8600; // #[color] Orange button focused background color
@color_button_orange_press_bg: #f0aa56; // #[color] Orange button pressed background color
@color_button_orange_disable_bg: #462805; // #[color] Orange button disabled background color

@color_button_green_text: rgb(255, 255, 255); // #[color] Green button text color
@color_button_green_text_disable: rgba(255, 255, 255, 0.15); // #[color] Green button disabled text color
@color_button_green_normal_bg: #64a323; // #[color] Green button normal background color
@color_button_green_focus_bg: #64a323; // #[color] Green button focused background color
@color_button_green_press_bg: #92be5e; // #[color] Green button pressed background color
@color_button_green_disable_bg: #26351e; // #[color] Green button disabled background color

@color_bar_header_btn: rgba(95, 159, 232, 1); // #[color] Bar header button background color
@color_bar_btn_normal: rgba(244, 244, 244, 1); // #[color] Bar button normal background color

/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_title_text: rgb(255, 255, 255); // #[color] title text color
@color_popup_bg: rgb(255, 255, 255); // #[color] background color
@color_popup_border: rgb(128, 72, 0); // #[color] border background color
@color_popup_header_bg: rgb(42,76,130); // #[color] header background color
@color_popup_header_border: rgb(67, 67, 67); // #[color] header border background color
@color_popup_text: rgb(61, 61, 61); // #[color] text color
@color_popup_footer_btn_focus: rgb(69, 143, 255); // #[color] button background color - focused
@color_popup_text_content: rgb(61, 61, 61); // #[color] content text color
@color_popup_shadow: rgba(0, 0, 0, 0.67); // #[color] shadow color

/***************************************************************************
                  Index scrollbar (vertical)
***************************************************************************/
@color_indexscrollbar_bg: rgb(34, 34, 34); // #[color] bar background color
@color_indexscrollbar_bg_supplementary: rgb(44, 44, 44); // #[color] bar supplementary background color
@color_indexscrollbar_text: rgb(89, 89, 89); // #[color] bar text color
@color_indexscrollbar_selected_bg: #f99107; // #[color] bar selected background color
@color_indexscrollbar_selected_text: rgb(255, 255, 255); // #[color] bar selected text color
@color_indexscrollbar_selected_text_supplementary: rgb(255, 144, 0); // #[color] bar selected supplementary text color

@color_indexscrollbar_indicator_bg: rgb(88, 73, 58); // #[color] bar indicator background color
@color_indexscrollbar_indicator_text_normal: rgb(255, 255, 255); // #[color] bar indicator text normal color
@color_indexscrollbar_indicator_text_selected: rgb(255, 144, 0); // #[color] bar indicator text selected color

/***************************************************************************
                  Listview
***************************************************************************/
@color_listview_border: rgb(74, 102, 144); // #[color] border color
@color_listview_text: rgb(255, 255, 255); // #[color] text color
@color_list_btn_txt_focus: rgb(255, 255, 255); // #[color] Focused button text color
@color_listview_txt_disabled: rgb(51, 51, 51); // #[color] Disabled element text color
@color_list_divider_text: rgb(66, 87, 144); // #[color] List divider text color
@color_list_divider_line_bg: rgb(66, 87, 144); // #[color] List divider normal line background color
@color_listview_bg_color_white: rgb(255, 255, 255); // #[color] white background color
@list_sub_txt_color: rgb(189, 167, 146); // #[color] sub element text color

/***************************************************************************
                   Scroller
***************************************************************************/
@color_tab_normal: rgb(53, 48, 44); // #[color] Tab indicator normal background color
@color_tab_active: rgb(249, 145, 7); // #[color] Tab indicator active background color
@color_scroller_scrollbar_color: #666666; // #[color] scrollbar color
@bg_scroller_bouncing_effect_top: "./images/Scroller/scrollbar-bouncing-effect-top.png";
@bg_scroller_bouncing_effect_bottom: "./images/Scroller/scrollbar-bouncing-effect-bottom.png";
@bg_scroller_bouncing_effect_left: "./images/Scroller/scrollbar-bouncing-effect-left.png";
@bg_scroller_bouncing_effect_right: "./images/Scroller/scrollbar-bouncing-effect-right.png";

/***************************************************************************
      Drawer
***************************************************************************/
@color_drawer_bg: rgba(0,0,0,.85); // #[color] background color
@color_drawer_border: rgba(64, 64, 64, 1); // #[color] border color
@color_drawer_list_press: rgba(95, 160, 233, 1); // #[color] listview button down background color
@drawer_back_background: "./images/Drawer/ico_homebar_menu_arrow.png";
@color_drawer_btn_close_background: rgb(69, 143, 255); // #[color] button close background color
@color_drawer_footer_btn_background: rgb(69, 143, 255); // #[color] footer button background color
@color_drawer_btn: rgb(255, 255, 255); // #[color] listview elements background color
@color_drawer_listview_not_divider: rgb(42, 50, 64); // #[color] listview not listdivider background color
@color_drawer_listview_not_divider_border: rgb(6, 8, 11); // #[color] listview not listdivider border color
@color_drawer_divider_btn: rgb(211, 211, 211); // #[color] list divider button color
@color_drawer_footer_btn: rgb(211, 211, 211); // #[color] footer button color
@color_drawer_dinamic_footer_background: rgb(45, 45, 45); // #[color] footer background color of dinamic list elements
@color_drawer_poster_icon_footer_background: rgb(45, 45, 45); // #[color] footer background color of poster/icon elements

/***************************************************************************
      Grid
***************************************************************************/
@color_grid_txt_normal: rgb(211, 211, 211); // #[color] buttons text basic color
@color_grid_btn_focus_border: rgb(69, 143, 255); // #[color] Focused button border color
@color_grid_btn_focus_thumb_content: rgb(69, 143, 255); // #[color] Focused thumbnail content background color

/***************************************************************************
      Input
***************************************************************************/
@color_input_bg: rgb(255, 255, 255); // #[color] background color
@color_input_text: rgba(61, 61, 61, 0.5); // #[color] text color
@color_input_border: rgba(61, 61, 61, 0.5); // #[color] border color
@color_input_text_focus: rgb(61, 61, 61); // #[color] Focused text color
@color_input_number_text: rgb(69, 143, 255); // #[color] Number text color
@color_input_number_bg_focus: rgb(69, 143, 255); // #[color] Focused number background color
@color_input_number_border_focus: rgb(69, 143, 255); // #[color] Focused number border color
@color_input_number_text_focus: rgb(255, 255, 255); // #[color] Focused number text color

/***************************************************************************
      Scrollbar
***************************************************************************/
@color_scrollbar_thumb_bg: rgba(0, 0, 0, 0.25); // #[color] thumb background color

/***************************************************************************
      Slider
***************************************************************************/
@color_slider_handle_text: rgb(250, 250, 250); // #[color] handle text color
@color_slider_handle_text_press: rgb(250, 250, 250); // #[color] handle pressed text color
@color_slider_popup_text: rgb(76, 81, 88); // #[color] popup text color
@color_slider_popup_bg: rgb(238, 238, 238); // #[color] popup background color
@color_slider_left_text: rgb(186, 186, 186); // #[color] left text color
@color_slider_right_text: rgb(186, 186, 186); // #[color] right text color
@color_slider_not_toggle_switch: rgb(51, 67, 83); // #[color] not toggle switch, background color
@color_slider_bg: rgb(65, 91, 254); // #[color] background color
@slider_lessbox_shadow: rgb(116, 113, 127); // #[color] lessbox shadow
