/***************************************************************************
                   Body
***************************************************************************/
@color_bg: rgb(248, 246, 239);					/* B011 : Main Background color */
@color_text: rgb(0, 0, 0);							/* B012 : Main font color */

/***************************************************************************
                   Naviframe
***************************************************************************/
@color_bar_title_text : rgba(59, 115, 182, 1);			/* B042 : title text */
@color_bar_title_button_text : rgba(58, 58, 58, 1);	/* B052L4 : Title text button */
@color_bar_title_button_text_press : rgba(59, 115, 182, 1);	/* B052L5 : Title text button press */
@color_bar_btn_press : rgba(64, 147, 247, 0.1);			/* B052L1P : Title text button press bg */
@color_bar_divider_line : rgba(192, 192, 192, 1);		/* 00_divider_line.9.png */

/***************************************************************************
                   Tabbar
***************************************************************************/
@color_tabbar_btn_tab_press : -webkit-linear-gradient(top, rgba(210,210,200,1) 0%, rgba(246,248,239,1) 100%); /* B0514P1 : 00_tab_press_ef.9.png */
@color_tabbar_btn_pressed : rgba(59, 115, 182, 1);	/* B052L6P */
@color_tabbar_btn_normal : rgba(153, 153, 153, 1);	/* B052L6 */

/***************************************************************************
                   List
***************************************************************************/
@color_list_bg:	rgba(248, 246, 239, 1);								/* B0211 */
@color_list_press : rgba(87, 135, 194, 1);						/* B041	*/
@color_list_border_bottom: rgba(211, 209, 203, 0.5);	/* B0221 */
@color_list_main_text_focus: rgba(249, 249, 249, 1);
@color_list_main_text_unfocus: rgba(0, 0, 0, 1);
@color_list_sub_text_default: rgba(100, 100, 100, 1);

@color_list_divider_expand_div : rgba(0, 0, 0, 0.5);
@color_list_divider_bg : rgba(248, 246, 239, 1);			/* W021L1 */
@color_list_divider_text : rgba(59, 115, 182, 1);			/* W021L2 */

@color_list_dialogue_bg : rgba(239, 237, 229, 1);
@color_dialogue_main_text: rgba(59, 115, 182, 1);
@color_dialogue_border_right: rgba(142, 154, 163, 1);

@color_list_expanded_bg : rgba(220, 218, 211, 1);

@color_list_bubble_sent_text:	rgb(0, 0, 0);
@color_list_bubble_receive_text:	rgb(255, 255, 255);
@color_list_bubble_sos_text:	rgb(233, 73, 73);
@color_list_bubble_date_text:	rgb(104, 104, 104);
@color_list_bubble_date_bg:		rgba(225, 225, 225, 0);
@color_list_bubble_time_sent_text:	rgb(57, 166, 215);
@color_list_bubble_time_receive_text:	rgb(211, 0, 0);
@color_list_bubble_time_sos_text:	rgb(211, 0, 0);
@color_list_bubble_name_text:	rgb(139, 139, 139);
@color_list_bubble_help_text:	rgb(154, 154, 154);
@color_list_bubble_link_text:	rgb(34, 129, 157);

@list-font-size-main:	22 * @unit_base;
@list-font-size-divider: 16 * @unit_base;	// NOTE: defined in dialogue group

@list-smallicon-size: 17 * @unit_base;
@list-li-padding-horizontal: 8 * @unit_base;

@list-bigicon-size2: 72 * @unit_base;

/***************************************************************************
                   Shortcut Scroll
***************************************************************************/
@color_fastscroll_rollover_bg: rgba(230, 227, 216, 1);		/* B0723 : 00_fast_scroll_rollover_bg.9.png */
@color_fastscroll_rollover_text: rgba(160, 159, 154, 1);	/* B0721 : Rollover text */
@color_fastscroll_popup_bg: rgba(59, 115, 182, 1);		/* B0731 : 00_fast_scroll_popup_bg.png */
@color_fastscroll_popup_shadow: rgba(199, 199, 199, 0.5);
@color_fastscroll_popup_text: rgba(255, 255, 255, 1);		/* B0732 : Scroll popup text */


/***************************************************************************
                   SearchBar(forms.textinput)
***************************************************************************/
@color_searchbar_bg : rgba(248, 246, 239, 1);
@color_searchbar_default_text : rgba(121, 131, 138, 1);		/* Search default text */
@color_searchbar_input_field_bg : rgba(255, 255, 255, 1);	/* W301 : 00_search_edit_field_bg.png */
@color_searchbar_border : rgba(153, 153, 153, 1);


/***************************************************************************
                   Popup
***************************************************************************/
@font_size_popup_info_style: 24 * @unit_base;
@color_popup_text_bg: rgba(248, 246, 239, 1);	/* B061L1 : Popop info */


/***************************************************************************
                        Button(connected with other winset)
***************************************************************************/

@color_button_text_black:	rgb(0, 0, 0);

@color_button_EditText:         rgb(249, 249, 249);
@color_button_EditTextPress:    rgb(61, 61, 61);

@color_button_text_normal:      rgb(58, 58, 58);
@color_button_text_press:       rgb(248, 246, 239);
@color_button_text_white:       rgb(249, 249, 249);

@color_button_normal:           rgb(235, 232, 227);
@color_button_normal_webkit:    -webkit-linear-gradient(top, rgb(235, 232, 227), rgb(234, 231, 226));
@color_button_normal_moz:       -moz-linear-gradient(top, rgb(235, 232, 227), rgb(234, 231, 226));
@color_button_normal_o:         -o-linear-gradient(top, rgb(235, 232, 227), rgb(234, 231, 226));
@color_button_normal_ms:        -ms-linear-gradient(top, rgb(235, 232, 227), rgb(234, 231, 226));
@color_button_press:            rgb(59, 115, 182);

@color_button_inner:            rgb(247, 245, 238);
@color_button_inner_webkit:     -webkit-linear-gradient(top, rgb(250, 247, 242), rgb(248, 245, 240));
@color_button_inner_moz:        -moz-linear-gradient(top, rgb(250, 247, 242), rgb(248, 245, 240));
@color_button_inner_o:          -o-linear-gradient(top, rgb(250, 247, 242), rgb(248, 245, 240));
@color_button_inner_ms:         -ms-linear-gradient(top, rgb(250, 247, 242), rgb(248, 245, 240));

@button_shadow_outer:		0 0 1px 1px rgba(255, 255, 255, 1);
@button_shadow_inner:		none;

@color_button_edit:		rgb(201, 88, 88);
@color_button_edit_webkit:	-webkit-gradient(linear, left top, left bottom, from(rgb(201, 88, 88)), to(rgb(161, 40, 40)));
@color_button_edit_moz:		-moz_linear-gradient(top, rgb(201, 88, 88), rgb(161, 40, 40));

.LESSbutton_box_style{
        color: @color_button_text_normal;
}

.LESSbutton_up_style{
        background: @color_button_normal;
        background: @color_button_normal_webkit;
        background: @color_button_normal_moz;
        background: @color_button_normal_o;
        background: @color_button_normal_ms;
}

.LESSbutton_box_style{
	background: @color_button_normal;
	background: @color_button_normal_webkit;
	background: @color_button_normal_moz;
	background: @color_button_normal_o;
	background: @color_button_normal_ms;
	border: 1px solid;
	border-color: rgba(220, 218, 211, 1);
	.LESSbox-shadow-line( @button_shadow_outer );
}
.LESSbutton_inner_box_style{
	background: @color_button_inner;
	background: @color_button_inner_webkit;
	background: @color_button_inner_ms;
	background: @color_button_inner_o;
	background: @color_button_inner_moz;
	.LESSbox-shadow-line( @button_shadow_inner );
}
.LESSbutton_inner_pressstyle{
        color: @color_button_text_press;
}

.LESSbutton_text1_style{
        font-family: @font_family;
        font-weight: normal;
        font-size: 1.0rem;
        font-style:normal;
        color: @color_button_text_black;
}

.LESSbutton_hover_style{
        color: @color_button_text_normal;
}

.LESSbutton_down_style{
        background: @color_button_press;
        color: @color_button_text_press;
}

.LESSbutton_edit_style{
	background: @color_button_edit;
	background: @color_button_edit_webkit;
	background: @color_button_edit_moz;
}

/***************************************************************************
                        contextual popup
***************************************************************************/
@color_ctxpopup_text:                   rgb(255, 255, 255);
@color_ctxpopup_background:             rgb(68, 68, 68);
@color_ctxpopup_border_left:            rgb(91, 91, 91);
@color_ctxpopup_border_right:           rgb(45, 45, 45);
@color_ctxpopup_border_top:             rgb(91, 91, 91);
@color_ctxpopup_border_bottom:          rgb(45, 45, 45);

@color_ctxbutton_press:            rgb(59, 115, 182);

@color_ctxpopup_timepicker_text:        rgba( 255, 255, 255, 0.7 );
@color_ctxpopup_timepicker_text_focus:  rgba( 255, 255, 255, 1 );


/***************************************************************************
                   Scrollview
***************************************************************************/
@color_scrollbar: 		rgb(198, 196, 190);


/***************************************************************************
                   Date Time picker
***************************************************************************/
@color_timepicker_selector_color:	rgb(59,115,182);
@font_size_datetime_main_text:              22 * @unit_base;
@font_size_datetime_sub_text:               16 * @unit_base;

/***************************************************************************
                   SegmentControl
***************************************************************************/
@color_segmentcontrol_Seg_text : rgba(58, 58, 58, 1);	/* B052L4 : Title text button */
@color_segmentcontrol_Seg_text_pressed : rgb(59,119,150);

/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_center_progressbar_title:	rgba(153, 153, 153, 1);
@color_popup_title_bg:		rgba(80, 147, 182, 255);	/* popup_title_bg.png */

@color_popup_button_bg:		rgba(248, 246, 239, 1);
@color_popup_font: rgba(248, 246, 239, 1); /* maybe not use only popupwindow*/
@color_popup_text_font:		black;

@color_popup_buttonbg:		rgb(84, 126, 153);
@color_popup_buttonbg_webkit:	-webkit-gradient(linear, left top, left bottom, from(rgb(84, 126, 153)), to(rgb(69, 105, 128)));
@color_popup_buttonbg_moz:	-moz-linear-gradient(top, rgb(84, 126, 153), rgb(69, 105, 128));
@color_popup_buttonbg_ms:	-ms-linear-gradient(top, rgb(84, 126, 153), rgb(69, 105, 128));
@color_popup_buttonbg_o:	-o-linear-gradient(top, rgb(84, 126, 153), rgb(69, 105, 128));
@color_popup_buttontext:	rgb(249, 249, 249);
@color_popup_buttonbg_over:	rgb(94, 136, 163);

@color_popup_buttonbg_press:	rgb(67, 160, 217);
@color_popup_buttonbg_press_webkit:	-webkit-gradient(linear, left top, left bottom, from(rgb(67, 160, 217)), to(rgb(56, 139, 185)));
@color_popup_buttonbg_press_moz:	-moz-linear-gradient(top, rgb(67, 160, 217), rgb(56, 139, 185));
@color_popup_buttonbg_press_ms:		-ms-linear-gradient(top, rgb(67, 160, 217), rgb(56, 139, 185));
@color_popup_buttonbg_press_o:		-o-linear-gradient(top, rgb(67, 160, 217), rgb(56, 139, 185));

@color_popup_scroller_bg:	rgba(248, 246, 239, 1);


@font_size_popup_basic_style_title:		24 * @unit_base; //1.1875rem;	/* 38px */
@font_size_popup_center_progressbar_title:	26 * @unit_base; //0.8125rem;	/* 26px */
@font_size_popup_text_progress_title:		42 * @unit_base; //1.3125rem;	/* 42px */
@font_size_popup_button_text:			32 * @unit_base; //1.0rem;	/* 32px */

.LESSpopup_button_style{
/*	background: @color_popup_buttonbg;
	background: @color_popup_buttonbg_webkit;
	background: @color_popup_buttonbg_moz;
	background: @color_popup_buttonbg_ms;
	background: @color_popup_buttonbg_o;
	color: @color_popup_buttontext;*/
}

.LESSpopup_button_hover_style{
	background: @color_popup_buttonbg_over;
}

.LESSpopup_button_press_style{
	background: @color_popup_buttonbg_press;
	background: @color_popup_buttonbg_press_webkit;
	background: @color_popup_buttonbg_press_moz;
	background: @color_popup_buttonbg_press_ms;
	background: @color_popup_buttonbg_press_o;
}

.LESSpopup_padding_style{
}

/***************************************************************************
                    Tickernoti
***************************************************************************/
@color_ticker_bg:			rgb(68, 68, 68);
@color_ticker_text1:			rgb(255, 255, 255);
@color_ticker_text2:			rgb(255, 255, 255);
@color_ticker_btn:			rgb(64, 64, 64);
@color_ticker_btn_border:		rgb(50, 50, 50);


/***************************************************************************
                    Smallpopup
***************************************************************************/
@color_smallpopup_bg:			rgb(68, 68, 68);
@color_smallpopup_text:			rgb(255, 255, 255);

/***************************************************************************
                    Slider
***************************************************************************/
@color_slider_handle_text:		rgb(59, 115, 182);
@color_slider_popup_text:		rgb(249, 249, 249);


/***************************************************************************
                    Progress
***************************************************************************/
@color_progress_bar0:			rgb(202, 200, 196);
@color_progress_bar1:			rgb(246, 243, 239);
@color_progress_border:		rgb(163, 160, 158);
@color_progress_value0:			rgb(54, 119, 195);
@color_progress_value1:			rgb(150, 184, 224);


/***************************************************************************
                   Handler
***************************************************************************/
@color_scrollview_handler_bg : rgba(150, 150, 150, 0.5);


/***************************************************************************
                   multimediaview
***************************************************************************/
@color_multimediaview_bg : rgb(249, 249, 249);
@color_multimediaview_control_bg : rgba(248, 246, 239, 0.5);
@color_multimediaview_button_bg : rgb(248, 246, 239);
@color_multimediaview_timestamp_text : rgb(74, 132, 201);
@color_multimediaview_duration_text : rgb(128, 128, 128);
@color_multimediaview_bar_gray : rgb(203, 200, 197);
@color_multimediaview_bar_active : rgb(74, 132, 201);
@color_multimediaview_bar_handle : rgb(249, 249, 249);
@color_multimediaview_button_border : rgb(186, 185, 180);

.LESSmultimediaview_bar_active_style{
	background-color : @color_multimediaview_bar_active;
	background-image : -webkit-gradient(linear, left top, left bottom, from(rgb(98, 137, 217)), to(rgb(41, 91, 152)));
	background-image : -moz-linear-gradient(top, rgb(98, 137, 217), rgb(41, 91, 152));
	background-image : -o-linear-gradient(top, rgb(98, 137, 217), rgb(41, 91, 152));
	background-image : -ms-linear-gradient(top, rgb(98, 137, 217), rgb(41, 91, 152));
}

.LESSmultimediaview_bar_handle_style{
	background-color : @color_multimediaview_bar_handle;
	background-image : -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(230, 230, 230)));
	background-image : -moz-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
	background-image : -o-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
	background-image : -ms-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
}


/***************************************************************************
                   tokentextarea
***************************************************************************/
@color_tokentextarea_block_text : rgb(255, 255, 255);
@color_tokentextarea_block_bg : rgb(95, 138, 189);
@color_tokentextarea_press_bg : rgb(54, 89, 132);
@color_tokentextarea_input_text : #222222;
@color_tokentextarea_label_text : rgb(102, 102, 102);

/***************************************************************************
                   Splitview
***************************************************************************/
@color_splitview_spliter_bar : rgb(179, 179, 179);
@color_splitview_spliter_bar_active : rgb(87, 135, 194);
