@color_bg: rgba(222, 237, 255, 1);
@color_text: rgba(0, 0, 0, 1);
@color_content_bg: rgba(0, 80, 179, 0.3);
@color_bar_naviframe_bg: rgba(0, 80, 179, 1);
@color_bar_naviframe_press: rgba(0, 68, 150, 1);
@color_bar_title_button_all: rgba(255, 255, 255, 1);
@color_bar_title_button_all_press: rgba(255, 255, 255, 1);
@color_bar_title_text: rgba(255, 255, 255, 1);
@color_bar_title_sub_text: rgba(255, 255, 255, 1);
@color_bar_title_button_text: rgba(255, 255, 255, 1);
@color_bar_title_button_text_press: rgba(255, 255, 255, 1);
@color_bar_toolbar_bg: rgba(255, 255, 255, 1);
@color_bar_toolbar_press: rgba(255, 255, 255, 1);
@color_bar_toolbar_button_text: rgba(255, 255, 255, 0.6);
@color_tabbar_bg: rgba(0, 80, 179, 1);
@color_tabbar_divider: rgba(255, 255, 255, 0.18);
@color_tabbar_select_bar: rgba(255, 255, 255, 1);
@color_tabbar_btn_normal: rgba(255, 255, 255, 0.6);
@color_tabbar_btn_selected: rgba(255, 255, 255, 1);
@color_tabbar_btn_bg_normal: rgba(0, 80, 179, 1);
@color_tabbar_btn_bg_press: rgba(0, 68, 150, 1);
@color_tabbar_text_normal: rgba(255, 255, 255, 0.6);
@color_tabbar_text_selected: rgba(255, 255, 255, 1);
@color_editfield_bg: rgba(255, 255, 255, 1);
@color_editfield_outline: rgba(0, 0, 0, 0.2);
@color_editfield_selected_outline: rgba(0, 80, 179, 1);
@color_editfield_disabled_outline: rgba(0, 0, 0, 0.2);
@color_editfield_text: rgba(0, 0, 0, 1);
@color_editfield_selected_text: rgba(0, 0, 0, 1);
@color_editfield_placeholder_text: rgba(0, 0, 0, 0.5);
@color_editfield_placeholder_selected_text: rgba(0, 0, 0, 0.5);
@color_editfield_disabled_text: rgba(0, 0, 0, 0.3);
@color_editfield_clear_icon: rgba(0, 0, 0, 1);
@color_editfield_clear_icon_press: rgba(0, 80, 179, 1);
@color_editfield_clear_icon_disabled: rgba(0, 0, 0, 0.3);
@color_list_press: rgba(0, 80, 179, 0.3);
@color_list_border_bottom: rgba(198, 220, 247, 1);
@color_list_dialog_border: rgba(198, 220, 247, 1);
@color_list_main_text_normal: rgba(0, 0, 0, 1);
@color_list_sub_text_normal: rgba(77, 77, 77, 1);
@color_list_divider_text: rgba(0, 80, 179, 1);
@color_list_divider_line: rgba(217, 217, 217, 1);
@color_list_divider_bg: rgba(255, 255, 255, 1);
@color_list_divider_bg_press: rgba(255, 255, 255, 1);
@color_list_divider_text_press: rgba(0, 80, 179, 1);
@color_list_divider_select_all_text: rgba(0, 0, 0, 1);
@color_list_swipe_text: rgba(0, 0, 0, 1);
@color_list_swipe_left_bg: rgba(0, 80, 179, 1);
@color_list_editfield_text: rgba(0, 0, 0, 1);
@color_list_editfield_placeholder_text: rgba(0, 0, 0, 0.5);
@color_list_editfield_disabled_text: rgba(0, 0, 0, 0.3);
@color_list_collapsible_arrow: rgba(0, 0, 0, 1);
@color_fastscroll_rollover_bg: rgba(255, 255, 255, 0.8);
@color_fastscroll_rollover_text: rgba(0, 80, 179, 0.6);
@color_fastscroll_popup_bg: rgba(255, 255, 255, 1);
@color_fastscroll_popup_text: rgba(0, 80, 179, 1);
@color_fastscroll_popup_border: rgba(0, 80, 179, 1);
@color_searchbar_bg: rgba(255, 255, 255, 1);
@color_searchbar_clear_icon: rgba(0, 0, 0, 1);
@color_searchbar_clear_icon_press: rgba(0, 80, 179, 1);
@color_button_text_normal: rgba(255, 255, 255, 1);
@color_button_text_press: rgba(255, 255, 255, 1);
@color_button_icon: rgba(255, 255, 255, 1);
@color_button_icon_nobg: rgba(39, 119, 217, 1);
@color_button_icon_nobg_press: rgba(28, 84, 153, 1);
@color_button_bg: rgba(39, 119, 217, 1);
@color_button_bg_press: rgba(28, 84, 153, 1);
@color_button_warning: rgba(224, 34, 34, 1);
@color_button_warning_press: rgba(186, 28, 28, 1);
@color_ctxpopup_text: rgba(0, 0, 0, 1);
@color_ctxpopup_background: rgba(255, 255, 255, 1);
@color_ctxpopup_background_border: rgba(0, 80, 179, 1);
@color_ctxpopup_btn_press: rgba(0, 80, 179, 0.3);
@color_ctxpopup_divider: rgba(0, 80, 179, 0.25);
@color_popup_bg: rgba(242, 246, 250, 1);
@color_popup_title_bg: rgba(77, 128, 191, 1);
@color_popup_title_text: rgba(255, 255, 255, 1);
@color_popup_text: rgba(0, 0, 0, 1);
@color_popup_button_bg: rgba(255, 255, 255, 1);
@color_popup_button_text: rgba(255, 255, 255, 1);
@color_popup_dim_screen_bg: rgba(0, 0, 0, 0.4);
@color_ticker_bg: rgba(255, 255, 255, 1);
@color_ticker_text1: rgba(0, 0, 0, 1);
@color_ticker_text2: rgba(0, 0, 0, 1);
@color_smallpopup_bg: rgba(255, 255, 255, 1);
@color_smallpopup_outline: rgba(0, 80, 179, 1);
@color_smallpopup_text: rgba(0, 0, 0, 1);
@color_slider_handle_text: rgba(0, 80, 179, 1);
@color_slider_popup_text: rgba(0, 0, 0, 1);
@color_slider_popup_bg: rgba(255, 255, 255, 1);
@color_slider_popup_stroke: rgba(0, 80, 179, 1);
@color_slider_left_text: rgba(0, 0, 0, 1);
@color_slider_right_text: rgba(0, 0, 0, 1);
@color_slider_center: rgba(179, 179, 179, 1);
@color_slider_bg: rgba(179, 179, 179, 1);
@color_slider_active_bg: rgba(0, 80, 179, 1);
@color_slider_handle_bg: rgba(0, 80, 179, 1);
@color_slider_img_bg: rgba(0, 80, 179, 1);
@color_slider_switch_label_on_bg: rgba(28, 84, 153, 1);
@color_slider_switch_label_off_bg: rgba(179, 179, 179, 1);
@color_slider_switch_label_on_text: rgba(255, 255, 255, 1);
@color_slider_switch_label_off_text: rgba(0, 0, 0, 1);
@color_toggle_handle_on_bg: rgba(42, 184, 66, 1);
@color_toggle_handle_off_bg: rgba(0, 0, 0, 0.4);
@color_toggle_handle_icon: rgba(255, 255, 255, 1);
@color_progress_bg: rgba(179, 179, 179, 1);
@color_progress_value: rgba(0, 80, 179, 1);
@color_progress_circle_bg: rgba(0, 80, 179, 0.7);
@color_tokentextarea_block_text: rgba(255, 255, 255, 1);
@color_tokentextarea_block_text_press: rgba(255, 255, 255, 1);
@color_tokentextarea_block_bg: rgba(39, 119, 217, 1);
@color_tokentextarea_press_bg: rgba(28, 84, 153, 1);
@color_tokentextarea_input_text: rgba(0, 0, 0, 1);
@color_tokentextarea_label_text: rgba(0, 80, 179, 1);
@color_checkboxradio_checkbox_bg_icon: rgba(255, 255, 255, 1);
@color_checkboxradio_bg_on: rgba(0, 80, 179, 1);
@color_checkboxradio_bg_off: rgba(0, 0, 0, 0.3);
@color_checkboxradio_radio_bg_on: rgba(0, 80, 179, 1);
@color_checkboxradio_radio_bg_off: rgba(0, 0, 0, 0.3);
@color_checkboxradio_radio_bg_icon: rgba(255, 255, 255, 1);
@color_checkboxradio_favorite_off: rgba(0, 0, 0, 0.3);
@color_checkboxradio_favorite_on: rgba(255, 179, 0, 1);
@color_scrollview_handler_bg: rgba(0, 80, 179, 0.7);
@color_scrollview_handler_thumb_01: rgba(255, 255, 255, 0.5);
@color_scrollview_handler_thumb_02: rgba(0, 80, 179, 0.55);
@color_drawer_bg: rgba(222, 237, 255, 1);
@color_drawer_list_press: rgba(0, 80, 179, 0.3);
@color_drawer_overlay_bg: rgba(0, 0, 0, 0.4);
@color_drawer_icon: rgba(255, 255, 255, 1);
@color_drawer_icon_press: rgba(0, 68, 150, 1);
@color_drawer_border_left: rgba(198, 220, 247, 1);
@color_drawer_border_right: rgba(198, 220, 247, 1);
@color_emptystate_header_bg: rgba(0, 80, 179, 1);
@color_emptystate_content_bg: rgba(255, 255, 255, 0.9);
@color_emptystate_content_pattern_bg: rgba(0, 80, 179, 0.6);
@color_selectmenu_list_group_index_bg: rgba(255, 255, 255, 1);
@color_selectmenu_list_line: rgba(217, 217, 217, 1);
@color_selectmenu_border_placeholder: rgba(217, 217, 217, 1);
@color_selectmenu_label_bg: rgba(255, 255, 255, 1);
@color_selectmenu_list_group_stroke: rgba(0, 80, 179, 1);
@color_selectmenu_list_item_bg_press: rgba(0, 80, 179, 0.3);
@color_selectmenu_icon: rgba(0, 80, 179, 1);
@color_selectmenu_font_dim: rgba(0, 0, 0, 0.3);
@color_selectmenu_placeholder_bg: rgba(255, 255, 255, 1);
@color_navigation_text: rgba(255, 255, 255, 1);
@color_navigation_text_press: rgba(0, 0, 0, 1);
@color_navigation_bg: rgba(0, 80, 179, 1);
@color_navigation_bar_bg: rgba(0, 68, 150, 1);
@color_navigation_bar_icon: rgba(255, 255, 255, 1);
@color_navigation_tab_divider: rgba(255, 255, 255, 0.18);
