/***************************************************************************
                  Body
***************************************************************************/
@color_bg: rgb(0, 0, 0);					/* B011 : Main Background color */
@color_text: rgb(250, 250, 250);				/* B012 : Main font color */

/***************************************************************************
                   Naviframe
***************************************************************************/
@color_bar_title_text : rgba(250, 250, 250, 1);			/* B042 : title text */
@color_bar_title_button_text : rgba(250, 250, 250, 1);	/* B052L4 : Title text button */
@color_bar_title_button_text_press : rgba(59, 115, 182, 1);	/* B052L5 : Title text button press */
@color_bar_title_shadow : rgba(0, 0, 0, 0.75);
@color_bar_btn_press : rgba(49, 63, 102, 1);			/* B052L1P : Title text button press bg */
@color_bar_divider_line : rgba(255, 255, 255, 0.3);		/* 00_divider_line.9.png */
@color_bar_naviframe_bg : rgba(49, 63, 102, 1);
@color_bar_tabbar_bg : rgba(49, 63, 102, 1);
@color_bar_toolbar_bg : rgba(70, 76, 94, 1);			/* B0515L1: Toolbar bg */
@color_bar_toolbar_button_text : rgba(250, 250, 250, 1);	/* B052L4 : Toolbar button normal */
@color_bar_toolbar_button_text_press : rgba(250, 250, 250, 1);	/* B052L4P : Toolbar button pressed */
@color_bar_navbar_press : rgba(42, 57, 172, 1);		/* B0511P : Navigation bar bg press */

/***************************************************************************
                   Tabbar
***************************************************************************/
@color_tabbar_btn_tab_press : -webkit-linear-gradient(top, rgba(0, 0, 0,1) 0%, rgba(32, 35, 39,1) 100%); /* B0514P1 : 00_tab_press_ef.9.png */
@color_tabbar_btn_pressed : rgba(51, 67, 178, 1);	/* B052L6P */
@color_tabbar_border_active : rgba(93, 131, 255, 1);
@color_tabbar_btn_normal : rgba(240, 240, 240, 1);	/* B052L6 */
@color_tabbar_footer_btn_press : rgba(39, 53, 163, 1);

/***************************************************************************
                   List
***************************************************************************/
@color_list_bg:	rgba(0, 0, 0, 1);								/* B0211 */
@color_list_press : rgba(43, 58, 175, 1);						/* B041	*/
@color_list_border_bottom: rgba(64, 64, 64, 1);	/* B0223 */
@color_list_main_text_focus: rgba(250, 250, 250, 1);
@color_list_main_text_unfocus: rgba(250, 250, 250, 1);
@color_list_sub_text_default: rgba(110, 111, 118, 1);

@color_list_divider_expand_div : rgba(0, 0, 0, 0.5);
@color_list_divider_bg : rgba(0, 0, 0, 1);				/* W021L1 */
@color_list_divider_line : rgba(66, 87, 144, 1);			/* W021L2 */
@color_list_divider_text : rgba(66, 87, 144, 1);
@color_list_divider_bg_press : rgba(43, 58, 175, 1);
@color_list_divider_text_press : rgba(250, 250, 250, 1);

@color_list_swipe_bg : rgba(23, 25, 28, 1);				/* B0212 */

@color_list_dialogue_bg : rgba(17, 19, 27, 1);
@color_dialogue_main_text: rgba(93, 131, 255, 1);			/* F011L5 */
@color_dialogue_border_right: rgba(98, 105, 127, 0.3);
@color_dialogue_divider_bg : rgba(0, 0, 0, 1);

@color_list_expanded_bg : rgba(220, 218, 211, 1);

@color_list_editfield : rgba(32, 36, 50, 1);				/* F011L1 */
@color_editfield_focus_border : rgba(58, 114, 255, 1);

@color_checklist_btn_bg : rgba(0, 0, 0, 1);

@color_list_bubble_sent_text:	rgb(0, 0, 0);				/* W051 */
@color_list_bubble_receive_text:	rgb(0, 0, 0);				/* W051 */
@color_list_bubble_sos_text:	rgb(209, 0, 0);				/* F011L15 */
@color_list_bubble_date_text:	rgb(104, 104, 104);		/* F011L18 */
@color_list_bubble_date_bg:		rgba(225, 225, 225, 0);
@color_list_bubble_time_sent_text:	rgb(110, 111, 118);	/* F011L16 */
@color_list_bubble_time_receive_text:	rgb(110, 111, 118);	/* F011L17 */
@color_list_bubble_time_sos_text:	rgb(209, 0, 0);		/* F011L15 */
@color_list_bubble_name_text:	rgb(110, 111, 118);
@color_list_bubble_help_text:	rgb(110, 111, 118);
@color_list_bubble_link_text:	rgb(34, 129, 157);

@list-font-size-main:	22 * @unit_base;
@list-font-size-divider: 16 * @unit_base;	// NOTE: defined in dialogue group

@list-smallicon-size: 22 * @unit_base;
@list-li-padding-horizontal: 8 * @unit_base;

@list-bigicon-size2: 72 * @unit_base;

/***************************************************************************
                   Fast Scroll
***************************************************************************/
@color_fastscroll_rollover_bg: rgba(33, 36, 40, 1);		/* B0723 : 00_fast_scroll_rollover_bg.9.png */
@color_fastscroll_rollover_down_border: rgba(79, 102, 167, 1);
@color_fastscroll_rollover_text: rgba(215, 215, 215, 1);	/* B0721 : Rollover text */
@color_fastscroll_popup_bg: rgba(43, 58, 175, 1);		/* B0731 : 00_fast_scroll_popup_bg.png */
@color_fastscroll_popup_shadow: rgba(199, 199, 199, 0.5);
@color_fastscroll_popup_text: rgba(255, 255, 255, 1);		/* B0732 : Scroll popup text */
@color_fastscroll_popup_border: rgba(19, 26, 79, 1);
@color_fastscroll_default_border: rgba(64, 64, 64, 1);


/***************************************************************************
                   SearchBar(forms.textinput)
***************************************************************************/
@color_searchbar_bg : rgba(29, 38, 60, 1);
@color_searchbar_default_text : rgba(93, 97, 118, 1);		/* Search default text */
@color_searchbar_input_field_bg : rgba(0, 0, 0, 1);
@color_searchbar_border : rgba(63, 70, 88, 1);
@color_searchbar_border_focus : rgba(58, 114, 255, 1);
@color_searchbar_divider : rgba(59, 69, 98, 1);
@color_searchbar_button_shadow0 : rgba(122, 125, 134, 1);
@color_searchbar_button_shadow1 : rgba(34, 34, 34, 1);


/***************************************************************************
                   Popup
***************************************************************************/
@font_size_popup_info_style: 24 * @unit_base;
@color_popup_text_bg: rgba(42, 45, 48, 1);	/* B061L1 : Popop info */
@color_border_popup: rgba(98, 105, 127, 1);


/***************************************************************************
                        Button(connected with other winset)
***************************************************************************/

@color_button_text_black:	rgb(186, 186, 186);
@color_button_text_shadow:	0px 1px rgb(17, 18, 20);

@color_button_EditText:         rgb(249, 249, 249);
@color_button_EditTextPress:    rgb(61, 61, 61);

@color_button_text_normal:      rgb(250, 250, 250);
@color_button_text_press:       rgb(255, 255, 255);
@color_button_text_white:       rgb(249, 249, 249);

@color_button_normal:           rgb(68, 70, 78);
@color_button_normal_webkit:    -webkit-linear-gradient(top, rgb(53, 57, 61), rgb(45, 48, 51));
@color_button_normal_moz:       -moz-linear-gradient(top, rgb(53, 57, 61), rgb(45, 48, 51));
@color_button_normal_o:         -o-linear-gradient(top, rgb(53, 57, 61), rgb(45, 48, 51));
@color_button_normal_ms:        -ms-linear-gradient(top, rgb(53, 57, 61), rgb(45, 48, 51));
@color_button_press:            rgb(39, 54, 164);

@color_button_inner:            rgb(60, 64, 68);
@color_button_inner_webkit:     -webkit-linear-gradient(top, rgb(75, 77, 86), rgb(63, 65, 72));
@color_button_inner_moz:        -moz-linear-gradient(top, rgb(75, 77, 86), rgb(63, 65, 72));
@color_button_inner_o:          -o-linear-gradient(top, rgb(75, 77, 86), rgb(63, 65, 72));
@color_button_inner_ms:         -ms-linear-gradient(top, rgb(75, 77, 86), rgb(63, 65, 72));

@button_border_color:		rgba( 133, 131, 126, 1);
@button_shadow_outer:		1px 1px 2px rgba(19, 20, 23, 1);
@button_shadow_inner:		inset 0px 1px 1px rgba(122, 125, 134, 1);
@button_press_shadow_inner:		inset 0px 1px 1px rgba(22, 29, 95, 1);

@color_button_edit:		rgb(201, 88, 88);
@color_button_edit_webkit:	-webkit-gradient(linear, left top, left bottom, from(rgb(201, 88, 88)), to(rgb(161, 40, 40)));
@color_button_edit_moz:		-moz_linear-gradient(top, rgb(201, 88, 88), rgb(161, 40, 40));
@color_button_inner_border:	rgba(0, 0, 0, 1);

.LESSbutton_box_style{
        color: @color_button_text_normal;
}

.LESSbutton_up_style{
        background: @color_button_normal;
        background: @color_button_normal_webkit;
        background: @color_button_normal_moz;
        background: @color_button_normal_o;
        background: @color_button_normal_ms;
}

.LESSbutton_box_style{
	background: @color_button_normal;
	background: @color_button_normal_webkit;
	background: @color_button_normal_moz;
	background: @color_button_normal_o;
	background: @color_button_normal_ms;
	border: 1px solid;
	border-color: rgba(42, 44, 47, 1);
	.LESSbox-shadow-line( @button_shadow_outer );
}
.LESSbutton_inner_box_style{
	background: @color_button_inner;
	background: @color_button_inner_webkit;
	background: @color_button_inner_ms;
	background: @color_button_inner_o;
	background: @color_button_inner_moz;
	.LESSbox-shadow-line( @button_shadow_inner );
}
.LESSbutton_inner_pressstyle{
        color: @color_button_text_press;
}

.LESSbutton_text1_style{
        font-family: @font_family;
        font-weight: normal;
        font-size: 1.0rem;
        font-style:normal;
        color: @color_button_text_black;
}

.LESSbutton_hover_style{
        color: @color_button_text_normal;
}

.LESSbutton_down_style{
/*        background: @color_button_press;*/
        color: @color_button_text_press;
}

.LESSbutton_edit_style{
	background: @color_button_edit;
	background: @color_button_edit_webkit;
	background: @color_button_edit_moz;
}

/***************************************************************************
                        contextual popup
***************************************************************************/
@color_ctxpopup_text:                   rgb(255, 255, 255);
@color_ctxpopup_background:             rgb(29, 38, 60);
@color_ctxpopup_border_left:            rgb(98, 102, 117);
@color_ctxpopup_border_right:           rgb(98, 102, 117);
@color_ctxpopup_border_top:             rgb(98, 102, 117);
@color_ctxpopup_border_bottom:          rgb(29, 38, 60);

@color_ctxbutton_press:            rgb(43, 58, 175);		/* B044 */

@color_ctxpopup_timepicker_text:        rgba( 255, 255, 255, 0.7 );
@color_ctxpopup_timepicker_text_focus:  rgba( 255, 255, 255, 1 );


/***************************************************************************
                   Scrollview
***************************************************************************/
@color_scrollbar: 		rgb(57, 59, 65);
@color_scrollview_indicator_start:	rgb(186,186,186);
@color_scrollview_indicator_end:	rgb(32,35,39);
@color_scrollbar_thumb_shadow:		rgba(0, 0, 0, 50);

/***************************************************************************
                   Date Time picker
***************************************************************************/
@color_timepicker_selector_color:	rgb(37, 50, 150);
@font_size_datetime_main_text:              22 * @unit_base;
@font_size_datetime_sub_text:               16 * @unit_base;

/***************************************************************************
                   SegmentControl
***************************************************************************/
@color_segmentcontrol_Seg_text : rgba(199, 199, 199, 1);	/* B052L4 : Title text button */
@color_segmentcontrol_Seg_text_pressed : rgb(59,119,150);

/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_bg:		rgba(29, 38, 60, 1);
@color_popup_center_progressbar_title:	rgba(153, 153, 153, 1);
@color_popup_title_bg:		rgba(73, 87, 123, 1);	/* popup_title_bg.png */
@color_popup_title_text:	rgba(250, 250, 250, 1);	/* B063L9 : Basic Style_title */

@color_popup_button_bg:		rgba(150, 154, 156, 1);
@color_popup_font: rgba(248, 246, 239, 1); /* maybe not use only popupwindow*/
@color_popup_text_font:		rgba(249, 249, 249, 1);

@color_popup_buttonbg:		rgb(238, 238, 238);
@color_popup_buttonbg_webkit:	-webkit-gradient(linear, left top, left bottom, from(rgb(238, 238, 238)), to(rgb(225, 225, 225)));
@color_popup_buttonbg_moz:	-moz-linear-gradient(top, rgb(238, 238, 238), rgb(225, 225, 225));
@color_popup_buttonbg_ms:	-ms-linear-gradient(top, rgb(238, 238, 238), rgb(225, 225, 225));
@color_popup_buttonbg_o:	-o-linear-gradient(top, rgb(238, 238, 238), rgb(225, 225, 225));
@color_popup_buttontext:	rgb(0, 0, 0);
@color_popup_buttonbg_over:	rgb(94, 136, 163);
@color_popup_button_border:     rgb(125, 126, 130);

@color_popup_buttonbg_press:	rgb(39, 51, 159);
@color_popup_buttonbg_press_webkit:	-webkit-gradient(linear, left top, left bottom, from(rgb(39, 51, 159)), to(rgb(42, 57, 172)));
@color_popup_buttonbg_press_moz:	-moz-linear-gradient(top, rgb(39, 51, 159), rgb(42, 57, 172));
@color_popup_buttonbg_press_ms:		-ms-linear-gradient(top, rgb(39, 51, 159), rgb(42, 57, 172));
@color_popup_buttonbg_press_o:		-o-linear-gradient(top, rgb(39, 151, 159), rgb(42, 57, 172));

@color_popup_scroller_bg:	rgba(248, 246, 239, 1);


@font_size_popup_basic_style_title:		24 * @unit_base; //1.1875rem;	/* 38px */
@font_size_popup_center_progressbar_title:	26 * @unit_base; //0.8125rem;	/* 26px */
@font_size_popup_text_progress_title:		42 * @unit_base; //1.3125rem;	/* 42px */
@font_size_popup_button_text:			18 * @unit_base; //1.0rem;	/* 18px */

.LESSpopup_button_style{
	background: @color_popup_buttonbg;
	background: @color_popup_buttonbg_webkit;
	background: @color_popup_buttonbg_moz;
	background: @color_popup_buttonbg_ms;
	background: @color_popup_buttonbg_o;
	color: @color_popup_buttontext;
}

.LESSpopup_button_hover_style{
	background: @color_popup_buttonbg_over;
}

.LESSpopup_button_press_style{
	background: @color_popup_buttonbg_press;
	background: @color_popup_buttonbg_press_webkit;
	background: @color_popup_buttonbg_press_moz;
	background: @color_popup_buttonbg_press_ms;
	background: @color_popup_buttonbg_press_o;
	color: rgb(250, 250, 250);
}

.LESSpopup_padding_style{
}

/***************************************************************************
                    Tickernoti
***************************************************************************/
@color_ticker_bg:			rgb(34, 34, 34);			/* B061L5 */
@color_ticker_text1:			rgb(250, 250, 250);
@color_ticker_text2:			rgb(255, 255, 255);

/***************************************************************************
                    Smallpopup
***************************************************************************/
@color_smallpopup_bg:			rgba(43, 58, 175, 1);
@color_smallpopup_text:			rgb(250, 250, 250);

/***************************************************************************
                    Slider
***************************************************************************/
@color_slider_handle_text:		rgb(250, 250, 250);
@color_slider_handle_text_press:		rgb(250, 250, 250);
@color_slider_popup_text:		rgb(76, 81, 88);
@color_slider_left_text:		rgb(186, 186, 186);
@color_slider_right_text:		rgb(186, 186, 186);
@color_slider_label_text:		rgb(255, 255, 255);


/***************************************************************************
                    Progress
***************************************************************************/
@color_progress_bar:				rgb(51, 67, 83);
@color_progress_value:			rgb(65, 91, 254);
@color_progress_shadow:			rgb(116, 113, 127);
@color_progress_value_shadow0:	rgb(38, 53, 146);
@color_progress_value_shadow1:	rgb(98, 127, 203);
@color_progress_shadow0:			rgb(49, 49, 56);
@color_progress_shadow1:			rgb(116, 113, 127);


/***************************************************************************
                   Handler
***************************************************************************/
@color_scrollview_handler_bg : rgb(57, 59, 65);
@color_scrollview_handler_shadow : rgb(0, 0, 0, 0.4);


/***************************************************************************
                   multimediaview
***************************************************************************/
@color_multimediaview_bg : rgb(0, 0, 0);
@color_multimediaview_control_bg : rgba(0, 0, 0, 0.8);
@color_multimediaview_timestamp_text : rgb(104, 144, 255);
@color_multimediaview_duration_text : rgb(110, 111, 118);
@color_multimediaview_bar_gray : rgb(85, 88, 97);
@color_multimediaview_bar_active : rgb(65, 91, 254);
@color_multimediaview_bar_handle : rgb(60, 64, 68);
@color_multimediaview_bar_handle_shadow : inset 0px 1px 1px rgba(122, 125, 134, 1);
@color_multimediaview_bar_handle_shadow_press : inset 0px -1px 1px rgba(122, 125, 134, 1);

.LESSmultimediaview_bar_active_style{
	background-color : @color_multimediaview_bar_active;
	box-shadow: 0px -1px 1px @color_progress_shadow inset;
}

.LESSmultimediaview_bar_handle_style{
	background-color : @color_multimediaview_bar_handle;
	.LESSbox-shadow-line( @color_multimediaview_bar_handle_shadow );
}

.LESSmultimediaview_bar_handle_press_style{
	background-color : @color_button_press;
	.LESSbox-shadow-line( @color_multimediaview_bar_handle_shadow_press );
}


/***************************************************************************
                   tokentextarea
***************************************************************************/
@color_tokentextarea_bg : rgb(29, 38, 60);
@color_tokentextarea_block_text : rgb(250, 250, 250);	/* Contact button text */
@color_tokentextarea_block_bg : rgb(82, 87, 103);    /* W0711 : Contact button bg normal */
@color_tokentextarea_press_bg : rgb(43, 58, 175);     /* W0713 : Contact button bg press */
@color_tokentextarea_block_border : rgb(108, 116, 131);
@color_tokentextarea_press_border : rgb(89, 94, 106);
@color_tokentextarea_input_text : rgb(250, 250, 250);
@color_tokentextarea_label_text : rgb(250, 250, 250);	/* Text Contact style */

/***************************************************************************
                   Splitview
***************************************************************************/
@color_splitview_spliter_bar : rgb(52, 55, 57);			/* W131 */
@color_splitview_spliter_bar_active : rgb(43, 58, 175);		/* W132 */
@color_splitview_spliter_border : rgb(70, 73, 78);
