.ui-datetime-widget {
    position: relative;
    height: 100%;
}

.ui-datetime {
    text-align: center;
    padding-top: 56 * @virtual_px;
}
.ui-time-picker .ui-datetime {
    padding-top: 53 * @virtual_px;
}

.ui-datetime:only-child {
    padding-top: 92 * @virtual_px;
}

.ui-time-picker .ui-datetime:only-child {
    padding-top: 89 * @virtual_px;
}

.ui-datetime input[type='date'],
.ui-datetime input[type='datetime'],
.ui-datetime input[type='time'] {
    display: none;
}

.ui-datefield {
    height: 52 * @virtual_px;
    display: inline-block;
    vertical-align: top;
}

.ui-datefield > .ui-btn {
    float: left;
    height: 52 * @virtual_px;
    padding: 0;
    line-height: 52 * @virtual_px;
    font-size: 42 * @virtual_px;
    font-weight: 600;
    border-radius:2 * @virtual_px;
    background-color: rgba(255, 255, 255, 0.15);
}

.ui-datefield .ui-datefield-separator {
    display: block;
    height: 100%;
    float: left;
    width: 18 * @virtual_px;
    background: transparent url('./images/Datetimepicker/tw_timepicker_num_dot.png');
}

.ui-datefield > .ui-btn:enabled:focus {
    background-color: rgba(255, 255, 255, 0.15);
}

.ui-datefield > .ui-btn:disabled {
    color: rgb(64, 64, 64);
}

.ui-datafield > .ui-btn.ui-selected,
.ui-datefield > .ui-btn:enabled:active,
.ui-datefield > .ui-btn.ui-state-active:enabled,
.ui-datefield > .ui-btn.ui-selected:enabled {
    background-color: #ff9000;
    color: #000;
}

/* -- for datepicker -- */
.ui-date-picker .ui-datefield > .ui-btn:first-child {
    margin-right: 2 * @virtual_px;
}

.ui-date-picker .ui-datefield > .ui-btn:last-child {
    margin-left: 2 * @virtual_px;
}

.ui-date-picker .ui-datefield-year {
    width: 114 * @virtual_px;
}

.ui-date-picker .ui-datefield-month {
    width: 102 * @virtual_px;
}

.ui-date-picker .ui-datefield-day {
    width: 68 * @virtual_px;
}
/* -- end (for datepicker) -- */
/* -- for timepicker -- */
.ui-time-picker .ui-datefield-hour {
    width: 74 * @virtual_px;
}

.ui-time-picker .ui-datefield-min {
    width: 74 * @virtual_px;
}

.ui-time-picker .ui-datefield-period {
    width: 84 * @virtual_px;
    margin-left: 10 * @virtual_px;
}
.ui-time-picker .ui-datefield {
    height: 58 * @virtual_px;
}
.ui-time-picker .ui-datefield > .ui-btn {
    height: 58 * @virtual_px;
    line-height: 58 * @virtual_px;
    font-size: 50 * @virtual_px;
}

.ui-time-picker .ui-datefield > .ui-btn.ui-datefield-period {
    font-size: 48 * @virtual_px;
}
/* -- (end) for timepicker -- */

.ui-datetime-wheel {
    height: 68 * @virtual_px;
    margin: 0 10 * @virtual_px;
    margin-top: 30 * @virtual_px;
}

.ui-time-picker .ui-datetime-wheel {
    margin-top: 27 * @virtual_px;
}

.ui-datetime-wheel .ui-btn {
    width: 68 * @virtual_px;
    height: 68 * @virtual_px;
    float: left;
}

.ui-datetime-wheel .ui-btn.ui-datetime-wheel-plus {
    float: right;
    background: transparent url('./images/Datetimepicker/tw_timepicker_dialbtn_plus_normal.png') center center no-repeat;
}

.ui-datetime-wheel .ui-btn.ui-datetime-wheel-plus:active:hover,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-plus:enabled:active,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-plus:enabled:active:hover {
    background: transparent url('./images/Datetimepicker/tw_timepicker_dialbtn_plus_pressed.png') center center no-repeat;
}

.ui-datetime-wheel .ui-btn.ui-datetime-wheel-plus:disabled,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-plus:disabled:active:hover,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-plus.ui-state-disabled,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-plus.ui-state-disabled:active:hover {
    background: transparent url('./images/Datetimepicker/tw_timepicker_dialbtn_plus_dim.png') center center no-repeat;
}

.ui-datetime-wheel .ui-btn.ui-datetime-wheel-minus {
    background: transparent url('./images/Datetimepicker/tw_timepicker_dialbtn_minus_normal.png') center center no-repeat;
}

.ui-datetime-wheel .ui-btn.ui-datetime-wheel-minus:active:hover,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-minus:enabled:active,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-minus:enabled:active:hover {
    background: transparent url('./images/Datetimepicker/tw_timepicker_dialbtn_minus_pressed.png') center center no-repeat;
}

.ui-datetime-wheel .ui-btn.ui-datetime-wheel-minus:disabled,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-minus:disabled:active:hover,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-minus.ui-state-disabled,
.ui-datetime-wheel .ui-btn.ui-datetime-wheel-minus.ui-state-disabled:active:hover {
    background: transparent url('./images/Datetimepicker/tw_timepicker_dialbtn_minus_dim.png') center center no-repeat;
}

.ui-datetime-wheel .ui-wheel {
    display:block;
    margin-left: 68 * @virtual_px;
    margin-right: 68 * @virtual_px;
    height: 68 * @virtual_px;
    padding: 10 * @virtual_px 0;
    background: url('./images/Datetimepicker/tw_timepicker_wheel_01.png') center center no-repeat;
}

.ui-datetime-btns {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 76 * @virtual_px;
    border-top: 2 * @virtual_px solid #262626;
}

/* Button separator */
.ui-datetime-btns::before {
    content: "";
    height: 34 * @virtual_px;
    width: 1 * @virtual_px;
    background-color: #262626;
    position: absolute;
    left: 160 * @virtual_px;
    top: 20 * @virtual_px;
}

.ui-datetime-btns .ui-btn {
    height: 100%;
    position: relative;
    background-color: transparent;
}

.ui-datetime-btns .ui-btn:enabled:active,
.ui-datetime-btns .ui-btn:enabled:focus,
.ui-datetime-btns .ui-btn:enabled:active:focus {
    background-color: transparent;
}

.ui-datetime-btns .ui-btn-left {
    width: 160 * @virtual_px;
    float: left;
    background: url('./images/Datetimepicker/tw_timepicker_left_softbtn.png') center center no-repeat;
}

.ui-datetime-btns .ui-btn-right {
    width: 159 * @virtual_px;
    float: right;
    background: url('./images/Datetimepicker/tw_timepicker_right_softbtn.png') center center no-repeat;
}

.ui-datetime-btns .ui-btn:disabled,
.ui-datetime-btns .ui-btn.ui-state-disabled {
    opacity: 0.2;
}

/* ---------------- */

.ui-datetime-periods {
    height: 102 * @virtual_px;
    margin-top: 7 * @virtual_px;
    display: inline-block;
}

.ui-datetime-periods .ui-btn,
.ui-datetime-periods .ui-datetime-periods-separator {
    height: 100%;
    float: left;
    padding: 0;
    background: transparent;
}

.ui-datetime-periods .ui-btn {
    width: 102 * @virtual_px;
    font-size: 34 * @virtual_px;
    line-height: 102 * @virtual_px;
}

.ui-datetime-periods .ui-btn:enabled:focus {
    background: transparent;
}

.ui-datetime-periods .ui-btn:enabled:active,
.ui-datetime-periods .ui-btn:enabled:active:focus,
.ui-datetime-periods .ui-btn.ui-selected:enabled:active,
.ui-datetime-periods .ui-btn.ui-state-active:enabled:active {
    color: inherit;
    text-decoration: none;
    background: url('./images/Datetimepicker/tw_timepicker_time_bg.png') center center no-repeat;
}

.ui-datetime-periods .ui-btn.ui-selected:enabled,
.ui-datetime-periods .ui-btn.ui-state-active:enabled {
    color: #ff9000;
    text-decoration: underline;
}

.ui-datetime-periods .ui-datetime-periods-separator {
    width: 24 * @virtual_px;
    background: url('./images/Datetimepicker/tw_timepicker_num_dot_01.png') center center no-repeat;
}

.ui-datetime-wheel.ui-hidden,
.ui-datetime-periods.ui-hidden {
    display: none;
}