.ui-virtualgrid, .ui-grid {
	.ui-btn {
		color: @color_grid_txt_normal;
	}

	.grid-icon {
		width: 210 * @virtual_px;
		margin: 0 20 * @virtual_px 20 * @virtual_px 0;
		display: block;
		overflow: hidden;

		&.ui-btn-icon-top .ui-btn-inner.ui-btn-hastxt {
			padding-top: 126 * @virtual_px;
		}

		&.ui-btn .ui-icon {
			width: 106 * @virtual_px;
			height: 106 * @virtual_px;
			.mask-size(106 * @virtual_px 106 * @virtual_px);
			margin-left: -53 * @virtual_px;
			background-size: 106 * @virtual_px 106 * @virtual_px;
		}
		&:not(.ui-focus) {
			background-color: rgb(28, 62, 59);
		}
	}
	.grid-thumbnail {
		width: 303 * @virtual_px;
		margin: 0 20 * @virtual_px 20 * @virtual_px 0;
		display: block;
		overflow: hidden;

		&.ui-btn .ui-btn-inner {
			margin: 0;
		}

		.grid-thumbnail-info {
			left: 21 * @virtual_px;
			right: 21 * @virtual_px;
			top: 8 * @virtual_px;
			position: absolute;
			color: rgb(200, 200, 200);
			font-size: 22 * @virtual_px;
			text-align: right;
			z-index: 3;
		}

		.grid-thumbnail-pic {
			z-index: 2;
			width: 303 * @virtual_px;
			height: 303 * @virtual_px;
			overflow: hidden;
			background-color: rgb(26,70,95);
			position: relative;
			img {
				min-width: 200 * @virtual_px;
				min-height: 200 * @virtual_px;
				max-width: 200 * @virtual_px;
				max-height: 200 * @virtual_px;
				position: absolute;
				top: 152 * @virtual_px;
				left: 152 * @virtual_px;
				margin: -100 * @virtual_px;
			}
		}

		.grid-thumbnail-pic-full {
			width: 303 * @virtual_px;
			height: 303 * @virtual_px;
			overflow: hidden;
			position: relative;
			z-index: 2;
			img {
				min-width: 303 * @virtual_px;
				min-height: 303 * @virtual_px;
				position: absolute;
				top: 152 * @virtual_px;
				left: 152 * @virtual_px;
				margin: -152 * @virtual_px;
			}
		}

		.grid-thumbnail-contents {
			background: rgb(33, 36, 13);
			padding: 15 * @virtual_px 20 * @virtual_px;
			font-size: 26 * @virtual_px;
			overflow: hidden;
			text-overflow: ellipsis;
			color: rgb(211, 211, 211);
			z-index: 2;
			.grid-thumbnail-content {
				overflow: hidden;
				text-overflow: ellipsis;
				height: 31 * @virtual_px;
				display: block;
			}
			.grid-thumbnail-subtext {
				overflow: hidden;
				text-overflow: ellipsis;
				color: rgb(128,128,128);
				font-size: 22 * @virtual_px;
				margin-top: -6 * @virtual_px;
				display: block;
			}
		}

		&.ui-btn.ui-focus {
			.grid-thumbnail-pic {
				border: solid  @color_grid_btn_focus_border;
				border-top-width: 8 * @virtual_px;
				border-left-width: 8 * @virtual_px;
				border-right-width: 8 * @virtual_px;
				img {
					top: 144 * @virtual_px;
					left: 144 * @virtual_px;
					margin: -100 * @virtual_px;
				}
			}

			.grid-thumbnail-pic-full {
				border: solid  @color_grid_btn_focus_border;
				border-top-width: 8 * @virtual_px;
				border-left-width: 8 * @virtual_px;
				border-right-width: 8 * @virtual_px;
				img {
					top: 144 * @virtual_px;
					left: 144 * @virtual_px;
					margin: -152 * @virtual_px;
				}
			}

			.grid-thumbnail-contents {
				background: @color_grid_btn_focus_thumb_content;
				.grid-thumbnail-content, .grid-thumbnail-subtext {
					color: rgb(255, 255, 255);
				}
			}
		}

		&.ui-btn.ui-selected {
			.ui-btn-inner {
				border: solid rgb(255, 169, 85) 10 * @virtual_px;
			}
			.ui-btn-text{
				margin: -10  * @virtual_px;
			}
		}
	}
}

.ui-grid {
	margin: 20 * @virtual_px 0 0 20 * @virtual_px;
	overflow: hidden;
	li {
		float: left;
	}
}

.ui-content {
	>.ui-virtualgrid, >.ui-grid {
		margin-top: 20 * @virtual_px -@fixed_header_content_margin;
		margin-right: -@fixed_header_content_margin;
		margin-bottom: -@fixed_header_content_margin;
		margin-left: 20 * @virtual_px - @fixed_header_content_margin;
	}
}
