.ui-listview.white {
	background-color: @color_listview_bg_color_white;
}

.ui-listview {
	li {
		font-size: @fixed_list_item_font_size;
		width: 100%;
		border-bottom: 1 * @virtual_px solid @color_listview_border;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: relative;
		color: @color_listview_text;

		padding: 32 * @virtual_px 43 * @virtual_px;

		&.rowspan-2 {
			height: 182 * @virtual_px;
		}

		> * {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			.user-select(none);
			color: @color_listview_text;
		}
		a.ui-btn {
			display: block;
			text-align: left;
			margin: -32 * @virtual_px -43 * @virtual_px;
			padding: 32 * @virtual_px;
			border-radius: 0;
			.ui-btn-inner {
				margin: 0;
				color: rgb(164, 167, 174);
				.ui-btn-text {
					margin: 11 * @virtual_px 0;
					display: block;
					> img {
						margin: -32 * @virtual_px;
						height: 125 * @virtual_px;
						float: right;
					}
				}
				.ui-icon {
					background-color: rgb(164, 167, 174);
				}
			}
			&.ui-btn-icon-right {
				.ui-icon {
					right: -2 * @virtual_px;
					top: -4 * @virtual_px;
				}
			}

		}
		a.ui-btn.ui-focus {
			.ui-btn-inner {
				color: @color_list_btn_txt_focus;
			}
		}
		label.ui-popup-radio-label,
		label.ui-popup-checkbox-label {
			width: 70%;
			padding: 0;
			float: left;
		}
		.checkboxradio-container {
			position: relative;
		}
		.li-text-sub {
			display: block;
			color: @list_sub_txt_color;
			font-size: 68%;
			text-overflow: ellipsis;
			overflow: hidden;
			line-height: 30 * @virtual_px;
		}
		.li-has-multiline {
			padding-top: 6 * @virtual_px;
			padding-bottom: 5 * @virtual_px;
			min-height: 90 * @virtual_px;
			.disabled,
			.disabled > * {
				color: rgb(51, 51, 51);
			}
			.li-has-radio.disabled,
			.li-has-radio.disabled .li-text-sub,
			.li-has-checkbox.disabled,
			.li-has-checkbox.disabled .li-text-sub {
				color: @color_listview_txt_disabled;
			}
		}
		.li-has-multiline > a {
			margin-top: -6 * @virtual_px;
			margin-bottom: -6 * @virtual_px;
			padding-top: 6 * @virtual_px;
			padding-bottom: 6 * @virtual_px;
		}
		.li-has-multiline-sup {
			padding-top: 6 * @virtual_px;
			padding-bottom: 5 * @virtual_px;
			min-height: 90 * @virtual_px;
			.disabled,
			.disabled > * {
				color: rgb(51, 51, 51);
			}
			> a {
				margin-top: -36 * @virtual_px;
				margin-bottom: -5 * @virtual_px;
				padding-top: 36 * @virtual_px;
				padding-bottom: 5 * @virtual_px;
			}
		}
		progress {
			display: block;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.ui-li-divider,
	.ui-li-divider-btn {
		box-sizing: border-box;
		padding-top: 18 * @virtual_px;
		padding-bottom: 18 * @virtual_px;
		font-size: @fixed_list_divider_font_size;
		background-color: @color_listview_bg_color_white;
		color: @color_listview_text;
		border: 0;

		.ui-divider-normal-line {
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 2 * @virtual_px;
			background-color: @color_list_divider_line_bg;
		}

		&>.ui-btn-text {
			box-sizing: border-box;
			color: @color_list_divider_text;
		}
	}
}

.ui-content > .ui-listview,
.ui-content > .ui-scrollview-view > .ui-listview,
{
	margin: -@fixed_header_title_margin;
}

div[data-role="popup"] .ui-listview {
	.li-has-checkbox,
	.li-has-radio {
		border-bottom-style: solid;
		border-bottom-width: thick;
	}
}
