/** Slider unit divisor */
@unit_base_slider: @virtual_px * 0.5;
/** Slider popup z-index */
@z_base_slider_popup: 11;

label.ui-slider {
	display: block;
}

select.ui-slider-switch {
	display: none;
}

.ui-slider-container {
	position: relative;
	vertical-align: middle;

	height: 27 * @unit_base_slider;
	padding-top: 21 * @virtual_px;
	padding-bottom: 21 * @virtual_px;
	padding-left: 36 * @unit_base_slider;
	padding-right: 36 * @unit_base_slider;

	// focused slider, but not pressed
	&.ui-focus {
		.ui-slider-handle {
			background: url(images/Slider/00_slider_handle_press.png) no-repeat;
		}
	}
}

.ui-li > .ui-slider-container {
	margin-top: -14 * @virtual_px;
	margin-bottom: -14 * @virtual_px;
}

.ui-slider-left-volume,
.ui-slider-left-bright {
	position: absolute;
	vertical-align: middle;
	margin-top: 10 * @virtual_px;
	margin-bottom: 10 * @virtual_px;
	margin-left: -44 *@virtual_px;
	top: 0 * @virtual_px;
	height: @fixed_slider_image_height;
	width: @fixed_slider_image_width;

	background: url(images/Slider/00_slider_button_brightness_01.png) no-repeat;
	.LESSbackground-size(@fixed_slider_image_width, @fixed_slider_image_height);
}

.ui-slider-left-volume {
	background: url(images/Slider/00_slider_button_volume_01.png) no-repeat;
	.LESSbackground-size(@fixed_slider_image_width, @fixed_slider_image_height);
}

.ui-slider-right-volume,
.ui-slider-right-bright {
	position: absolute;
	vertical-align: middle;
	margin-top: 10 * @virtual_px;
	margin-bottom: 10 * @virtual_px;
	top: 0 * @virtual_px;
	right: -44 * @virtual_px;
	height: @fixed_slider_image_height;
	width: @fixed_slider_image_width;

	background: url(images/Slider/00_slider_button_brightness_02.png) no-repeat;
	.LESSbackground-size(@fixed_slider_image_width, @fixed_slider_image_height);
}

.ui-slider-right-volume {
	background: url(images/Slider/00_slider_button_volume_02.png) no-repeat;
	.LESSbackground-size(@fixed_slider_image_width, @fixed_slider_image_height);
}

.ui-slider-left-text {
	position: absolute;
	left: 0 !important;

	top: 6 * @virtual_px;
	height: 37 * @virtual_px;

	text-align: center;
	color: @color_slider_left_text;

	margin-top: -10 * @virtual_px;
}

.ui-slider-right-text {
	position: absolute;
	right: 0 !important;

	top:  6 * @virtual_px;
	height: 37 * @virtual_px;

	text-align: center;
	color: @color_slider_right_text;

	margin-top: -10 * @virtual_px;
}

div.ui-slider:not(.ui-toggle-switch) {
	position: relative;

	top: 9 * @unit_base_slider;
	height: 13 * @unit_base_slider;
	margin-left: 8 * @unit_base_slider;
	margin-right: 8 * @unit_base_slider;

	.LESSborder-radius-all( 10 * @virtual_px );
	.LESSbox-shadow(0 * @virtual_px, 0 * @virtual_px, 2 * @virtual_px, @slider_lessbox_shadow);
	background-color: @color_slider_bg;

	.ui-btn {
		&.ui-focus {
			background-color: transparent;
		}
		top: -0.75rem;
		margin-top: 0;
	}
	.ui-btn-inner {
		padding: 0.3rem 0 0 0;
	}
	.ui-btn-text {
		color: @color_slider_handle_text;
	}

	a.ui-slider-handle-press {
		background-image: url(images/Slider/00_slider_handle_press.png);

		.ui-btn-text {
			color: @color_slider_handle_text_press;
		}
	}
}

a.ui-slider-handle {
	position: relative;
	z-index: 10;

	min-width: 40 * @virtual_px;
	min-height: 40 * @virtual_px;
	width: 40 * @virtual_px;
	height: 40 * @virtual_px;

	color: @color_slider_handle_text;
	font-size: 0.95rem;

	background: url(images/Slider/00_slider_handle.png) no-repeat;
	.LESSbackground-size(@fixed_slider_handle_width, @fixed_slider_handle_height);

	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;

	.ui-background {
		visibility: hidden;
	}
}

.ui-ctxpopup.ui-popup.ui-slider-popup {
	z-index: @z_base_slider_popup;

	min-width: @fixed_slider_popup_min_width;
	width: auto;
	line-height: @fixed_slider_popup_min_height;
	padding-left: 5 * @virtual_px;
	padding-right: 5 * @virtual_px;

	background-color: @color_slider_popup_bg;
	color: @color_slider_popup_text;
	text-align: center;
	font-size: 1.5rem;

	.LESSborder-radius-all(@fixed_slider_border_radius);

	&>.ui-arrow {
		border-width: 6 * @virtual_px;
		background-color: @color_slider_popup_bg;
	}
}

.ui-slider-bg {
	position: absolute;

	height: 13 * @unit_base_slider;
	width: 0;

	.LESSborder-radius-all( 10 * @virtual_px );
	.LESSbox-shadow(0 * @virtual_px, 0 * @virtual_px, 2 * @virtual_px, @slider_lessbox_shadow);
	background-color: @color_slider_bg;

	&.ui-slider-bg-has-center {
		.LESSborder-radius-all( 0 );
	}
}

.ui-slider {
	text-align: center;
	.calc-width(~"100% - " 40 * @virtual_px);

	a {
		&:focus {
			background-color: @color_slider_bg;

			&.ui-slider-handle {
				background: url(images/Slider/00_slider_handle_press.png) no-repeat;
				.LESSbackground-size(@fixed_slider_handle_width, @fixed_slider_handle_height);
				-o-box-shadow: none;
				-ms-box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}
	}
}

.ui-slider-center {
	display: inline-block;
	position: absolute;
	left: 49.8%;
	top: -8 * @virtual_px;
	width: 5 * @virtual_px;
	height: 20 * @virtual_px;
	background-color: #555;
	z-index: 10;
}
