/***************************************************************************
                            Body
***************************************************************************/
@color_bg: rgb(0, 0, 0); // #[color] main background body color
@color_text: rgb(250, 250, 250); // #[color] main body text color
@default_color: rgb(69, 143, 255); // #[color] default color for button elements

/***************************************************************************
                            Action Bar
***************************************************************************/
@color_actionbar_title_text: rgb(255, 255, 255); // #[color] title text color
@color_actionbar_title_bg: rgb(42,76,130); // #[color] title background color
@color_actionbar_more_pressed_bg: rgb(99, 93, 89); // #[color] more pressed background color
@icon_actionbar_more_detail_normal: "./images/Actionbar/tw_ic_menu_detail_normal_holo_dark.png";
@icon_actionbar_more_detail_disable: "./images/Actionbar/tw_ic_menu_detail_disable_holo_dark.png";
@icon_actionbar_more_overflow_normal: "./images/Actionbar/tw_ic_menu_moreoverflow_normal_holo_dark.png";
@icon_actionbar_more_overflow_disable: "./images/Actionbar/tw_ic_menu_moreoverflow_disable_holo_dark.png";
@icon_actionbar_more_selectall_normal: "./images/Actionbar/tw_ic_menu_selectall_normal_holo_dark.png";
@icon_actionbar_more_selectall_disable: "./images/Actionbar/tw_ic_menu_selectall_disable_holo_dark.png";

/****************************************************************************
                            Page
****************************************************************************/
@color_page_black_header: rgb(7, 10, 17); // #[color] background color of header in black mode
@color_page_black_content: rgba(7, 10, 17, 0.5); // #[color] background color of header in black mode
@color_content_bg: rgb(53, 80, 123); // #[color] background color
@color_gray_content_bg: rgb(233, 236, 240); // #[color] gray page background color
@color_gray_content_text: rgb(98, 103, 112); // #[color] gray page text color

/****************************************************************************
                            Progress Bar
****************************************************************************/
@color_progressbar_text: rgb(255, 255, 255); // #[color] text color
@color_progressbar_normal_bg: rgba(255, 255, 255, 0.1); // #[color] normal background color
@color_progressbar_value_bg: rgba(255, 255, 255, 0.7); // #[color] value background color

/***************************************************************************
                            Buttons
***************************************************************************/
@color_button_basic_normal: rgb(204, 204, 204); // #[color] Color of basic button background - normal
@color_button_basic_txt_normal: rgb(89, 89, 89); // #[color] Color of basic button text - normal
@color_button_basic_txt_focus: rgb(255, 255, 255); // #[color] Color of basic button text - focused

@color_button_icon_source: @default_color; // #[color] Background color of icon source button
@color_button_icon_app: @default_color; // #[color] Background color of icon app button
@color_button_icon_movie: rgb(255, 99, 86); // #[color] Background color of icon movie button
@color_button_icon_show: rgb(255, 168, 0); // #[color] Background color of icon show button
@color_button_icon_live: @default_color; // #[color] Background color of icon live button
@color_button_icon_add_bg: rgba(81, 91, 110, 0.45); // #[color] Background color of icon add button
@color_button_icon_add: rgba(255, 255, 255, 0.30); // #[color] Color of icon add button
@color_button_icon_add_bg_focus: rgb(20, 71, 159); // #[color] Background color of icon add button
@color_button_icon_add_focus: rgb(255, 255, 255); // #[color] Color of icon add button
@color_button_icon_add_box_bg_focus: @default_color; // #[color] Background color of whole box after focus
@color_button_with_icon: rgb(255, 255, 255); // #[color] Text color of button with icon

@color_button_icon_text: rgb(211, 211, 211); // #[color] Icon button text color
@color_button_icon_text_focus: rgb(255, 255, 255); // #[color] Focused icon button text color
@color_button_icon_text_dim: rgba(255, 255, 255, 0.2); // #[color] Disabled icon button text color
@color_button_icon_normal: rgba(0, 0, 0, 0.3);


@color_bar_header_btn: rgba(95, 159, 232, 1); // #[color] Bar header button background color
@color_bar_btn_normal: rgba(244, 244, 244, 1); // #[color] Bar button normal background color

@color_type_button_text_normal: rgb(164, 167, 174);  // #[color] Color of text in button with class ui-button-text
@color_type_button_text_txt_focus: rgb(255, 255, 255); // #[color] Color of text in focused button with class ui-button-text
/***************************************************************************
                            Popup
***************************************************************************/
@color_popup_title_text: rgb(255, 255, 255); // #[color] title text color
@color_popup_title_text_no_box: rgb(211, 211, 211); // #[color] title text color (no-box mode)
@color_popup_bg: rgb(255, 255, 255); // #[color] background color
@color_popup_border: rgb(128, 72, 0); // #[color] border background color
@color_popup_header_bg: rgb(42,76,130); // #[color] header background color
@color_popup_header_border: rgb(67, 67, 67); // #[color] header border background color
@color_popup_text: rgb(61, 61, 61); // #[color] content text color
@color_popup_text_no_box: rgb(134, 134, 134); // #[color] content text color (no-box mode)
@color_popup_footer_btn_focus: @default_color; // #[color] button background color - focused
@color_popup_text_content: rgb(61, 61, 61); // #[color] list item text color
@color_popup_shadow: rgba(0, 0, 0, 0.67); // #[color] shadow color
@color_popover: rgb(89, 89, 89); // #[color] text color of list item in popover
@color_popover_focus: rgb(255, 255, 255); // #[color] text color of list item in popover (focus)
@color_popover_focus_disabled: rgba(255, 255, 255, 0.2); // #[color] text color of list item in popover (focus,disabled)
@color_popover_border: rgb(222, 222, 222); // #[color] border color for li element in list in popover
@color_popover_disabled: rgba(89, 89, 89, 0.2); // #[color] text color of list item in popover (disabled)
@color_tooltip: rgb(29, 29, 29); // #[color] color of tooltip text

/***************************************************************************
                            Index scrollbar (vertical)
***************************************************************************/
@color_indexscrollbar_bg: rgb(34, 34, 34); // #[color] bar background color
@color_indexscrollbar_bg_supplementary: rgb(44, 44, 44); // #[color] bar supplementary background color
@color_indexscrollbar_text: rgb(89, 89, 89); // #[color] bar text color
@color_indexscrollbar_selected_bg: #f99107; // #[color] bar selected background color
@color_indexscrollbar_selected_text: rgb(255, 255, 255); // #[color] bar selected text color
@color_indexscrollbar_selected_text_supplementary: rgb(255, 144, 0); // #[color] bar selected supplementary text color

@color_indexscrollbar_indicator_bg: rgb(88, 73, 58); // #[color] bar indicator background color
@color_indexscrollbar_indicator_text_normal: rgb(255, 255, 255); // #[color] bar indicator text normal color
@color_indexscrollbar_indicator_text_selected: rgb(255, 144, 0); // #[color] bar indicator text selected color

/***************************************************************************
                            Listview
***************************************************************************/
@color_listview_border: rgb(74, 102, 144); // #[color] list border color
@color_listview_text: rgb(255, 255, 255); // #[color] text color
@color_list_btn_txt: rgb(164, 167, 174); // #[color] list item text color
@color_list_btn_txt_focus: rgb(255, 255, 255); // #[color] focused list item text color
@color_listview_txt_disabled: rgb(51, 51, 51); // Disabled element text color
@color_list_divider_text: rgb(66, 87, 144); // #[color] List divider text color
@color_list_divider_line_bg: rgb(66, 87, 144); // #[color] List divider normal line background color
@color_listview_bg_color_white: rgb(255, 255, 255); // #[color] list divider background color
@list_sub_txt_color: rgb(189, 167, 146); // #[color] list item sub text color
@gray_content_listview_bg: rgb(221, 224, 228); // #[color] list item background color for gray page
@gray_content_listview_text: rgb(89, 89, 89); // #[color] list item text color for gray page
@gray_content_list_divider_line_bg: rgb(89, 89, 89); // #[color] list divider background color for gray page

/***************************************************************************
                            Scroller
***************************************************************************/
@color_tab_normal: rgb(53, 48, 44); // #[color] Tab indicator normal background color
@color_tab_active: rgb(249, 145, 7); // #[color] Tab indicator active background color
@color_scroller_scrollbar_color: #666666; // #[color] scrollbar color
@bg_scroller_bouncing_effect_top: "./images/Scroller/scrollbar-bouncing-effect-top.png";
@bg_scroller_bouncing_effect_bottom: "./images/Scroller/scrollbar-bouncing-effect-bottom.png";
@bg_scroller_bouncing_effect_left: "./images/Scroller/scrollbar-bouncing-effect-left.png";
@bg_scroller_bouncing_effect_right: "./images/Scroller/scrollbar-bouncing-effect-right.png";

/***************************************************************************
                        Scrollview
****************************************************************************/
@color_scrollview_handler_bright: rgba(255, 255, 255, 0.1); // #[color] handler background color
@color_scrollview_handler_dark: rgba(0, 0, 0, 0.25);

/***************************************************************************
                            Drawer
***************************************************************************/
@color_drawer_bg: rgba(0,0,0,.85); // #[color] background color
@color_drawer_back_bg: rgba(0,0,0,.5);
@color_drawer_border: rgba(64, 64, 64, 1); // #[color] border color
@color_drawer_list_press: rgba(95, 160, 233, 1); // listview button press background color
@drawer_back_background: "./images/Drawer/ico_homebar_menu_arrow.png";
@color_drawer_btn_close_background: @default_color; // button close background color
@color_drawer_footer_btn_background: @default_color; // #[color] list item, footer button background color
@color_drawer_btn: rgb(255, 255, 255); // #[color] listview text color
@color_drawer_listview_not_divider: rgb(42, 50, 64); // #[color] list item background color
@color_drawer_listview_not_divider_border: rgb(6, 8, 11); // #[color] List bottom line background color
@color_drawer_divider_btn: rgb(211, 211, 211); // #[color] list divider text color
@color_drawer_footer_btn: rgb(211, 211, 211); // #[color] footer button color
@color_drawer_dynamic_footer_background: rgb(45, 45, 45); // #[color] footer background color of dynamic list elements
@color_drawer_poster_icon_footer_background: rgb(45, 45, 45); // #[color] footer background color of poster/icon elements
@color_drawer_progressbar_bg: rgba(255, 255, 255, 0.1); // #[color] progress bar background
@color_drawer_progressbar_value: rgba(255, 255, 255, 0.7); // #[color] progress bar value

@drawer_up: "./images/HomeBar/ico_homebar_editmode_arrow_up.png";
@drawer_down: "./images/HomeBar/ico_homebar_editmode_arrow_down.png";
@drawer_close: "./images/HomeBar/ico_close.png";

/***************************************************************************
                            Grid
***************************************************************************/
@color_grid_txt_normal: rgb(211, 211, 211); // #[color] buttons text basic color
@color_grid_btn_focus_border: @default_color; // #[color] Focused button border color
@color_grid_btn_focus_thumb_content: @default_color; // #[color] Focused thumbnail content background color
@color_grid_2_line_content: rgba(255, 255, 255, 0.8); // #[color] Grid 2 line icon text color
@color_grid_2_line_content_subtext: rgba(255, 255, 255, 0.5); // #[color] Grid 2 line icon subtext color

/***************************************************************************
                            Input
***************************************************************************/
@color_input_bg: rgb(255, 255, 255); // #[color] background color
@color_input_text: rgb(204, 204, 204); // #[color] text color
@color_input_border: rgba(61, 61, 61, 0.5); // #[color] border color
@color_input_text_small: rgba(61, 61, 61, 0.5); // #[color] text color for small input
@color_input_border: rgba(61, 61, 61, 0.5); // #[color] border color
@color_input_text_focus: rgb(61, 61, 61); // #[color] Focused text color
@color_input_number_text: @default_color; // #[color] Number text color
@color_input_number_bg_focus: @default_color; // #[color] Focused number background color
@color_input_number_border_focus: @default_color; // #[color] Focused number border color
@color_input_number_text_focus: rgb(255, 255, 255); // #[color] Focused number text color

/***************************************************************************
                            Scrollbar
***************************************************************************/
@color_scrollbar_thumb_bg: rgba(0, 0, 0, 0.25); // #[color] thumb background color

/***************************************************************************
                            Slider
***************************************************************************/
@color_slider_handle_text: rgb(250, 250, 250); // #[color] handle text color
@color_slider_handle_text_press: rgb(250, 250, 250); // #[color] handle pressed text color
@color_slider_popup_text: rgb(76, 81, 88); // #[color] popup text color
@color_slider_popup_bg: rgb(238, 238, 238); // #[color] popup background color
@color_slider_left_text: rgba(255, 255, 255, 0.7); // #[color] left text color
@color_slider_right_text: rgba(255, 255, 255, 0.7); // #[color] right text color
@color_slider_bg: rgba(255, 255, 255, 0.25); // #[color] background color
@color_slider_value: rgb(255, 255, 255); // #[color] value color
@slider_lessbox_shadow: green;//rgb(116, 113, 127); // #[color] shadow over slider

/***************************************************************************
                            SelectMenu
***************************************************************************/
@color_selectmenu_list_group_index_bg : rgb(76,115,33);//W021L1; // #[color] list group background color
@color_selectmenu_list_line : rgb(76,115,33);//W021L2; // #[color] list group divider line color
@color_selectmenu_border_placeholder: rgb(76,115,33);//W021L2; // #[color] placeholder border color
@color_selectmenu_label_bg : rgb(176,115,3);// B0733; // #[color] label background color
@color_selectmenu_list_group_stroke: rgb(76,115,33);//B0733L1; // #[color] list stroke line color
@color_selectmenu_list_item_bg_press: rgb(76,115,33);//B0733P; // #[color] list item background press color
@color_selectmenu_icon: rgb(176,115,4); //B0734; // #[color] icon color
@color_selectmenu_font_dim: rgb(18, 53, 29); //12351D; // #[color] color for dimmed font
@color_selectmenu_placeholder_bg: rgb(76,115,33); // #[color] selectmenu placeholder background
@color_selectmenu_list_item_bg: rgb(255, 255, 255); // #[color] selectmenu list item background
@color_selectmenu_bg: rgba(0, 0, 0, 0.3); // #[color] main background
@color_selectmenu_placeholder: rgba(193, 193, 193, 0.8); // #[color] main background for placeholder
@color_selectmenu_arrow_background: rgba(89, 89, 89, 0.9); // #[color] arrow backgorund will change color of image
@color_selectmenu_active: rgba(0, 0, 0, 0.5); // #[color] active selectmenu
@color_selectmenu_list_item: rgb(89, 89, 89); // #[color] color of text in option
@color_selectmenu_list_item_border_top: rgb(222, 222, 222); // #[color] border in the list
@color_selectmenu_list_item_txt: rgb(175, 175, 175); // #[color] default color for text
@color_selectmenu_list_item_focus: rgba(255, 255, 255, 0.9); // #[color] focus for list item
@color_selectmenu_list_item_selected: rgba(69, 143, 255, 0.9); // #[color] selected list item
@color_selectmenu_list_item_selected_focus:rgb(255, 255, 255); // #[color] selected and focused list item
@color_selectmenu_list_item_focus_txt: rgb(255, 255, 255); // #[color] text for focused elements
/***************************************************************************
                            InputSearchBar
***************************************************************************/
@color_list_editfield : rgb(255, 255, 255); // #[color] text input background color
@color_searchbar: rgb(255, 255, 255); //#[color] background color of searchbar input
@color_searchbar_default_text : rgb(93, 97, 118); // #[color] search input color of text
@color_searchbar_border : rgb(255, 255, 255); // #[color] color of search bar input border
@color_searchbar_border_focus : @default_color;// #[color] color of search bar input border (focus)
@color_searchbar_button_shadow0 : rgb(122, 125, 134); // #[color] color of shadow of searchbar
@color_searchbar_button_shadow1 : rgb(34, 34, 34); // #[color] color of shadow of searchbar
@color_searchbar_icon: rgba(61, 61, 61, 0.5); // #[color] color of icon on searchbar
@color_searchbar_icon_focus: @default_color; // #[color] color of icon on searchbar (focus)
@color_input_border_small: rgb(178, 178, 178); //#[color] color of small textinput border
@color_input_border_small_focus: @default_color; //#[color] color of small textinput border (focus)

/***************************************************************************
                            Checkboxradio
***************************************************************************/
@gray_content_checkboxradio_label_text: rgb(69, 143, 255); // #[color] label text color for gray page
@checkboxradio_label_text_focus: rgb(255, 255, 255); // #[color] label text color when focused
/***************************************************************************
                            SpinControl
***************************************************************************/
@color_spincontrol_separator: rgba(125, 125, 125, 0.15); //#[color] spin control separator color
