/***************************************************************************
                  Body
***************************************************************************/
@color_bg: B011;
@color_text: T0811;

/***************************************************************************
                   Action Bar
***************************************************************************/
@color_actionbar_title_text: T012;
@color_actionbar_title_bg: B0511;
@color_actionbar_more_pressed_bg: @color_button_default_press_bg;
@icon_actionbar_more_detail_normal: "./images/Actionbar/tw_ic_menu_detail_normal_holo_dark.png";
@icon_actionbar_more_detail_disable: "./images/Actionbar/tw_ic_menu_detail_disable_holo_dark.png";
@icon_actionbar_more_overflow_normal: "./images/Actionbar/tw_ic_menu_moreoverflow_normal_holo_dark.png";
@icon_actionbar_more_overflow_disable: "./images/Actionbar/tw_ic_menu_moreoverflow_disable_holo_dark.png";
@icon_actionbar_more_selectall_normal: "./images/Actionbar/tw_ic_menu_selectall_normal_holo_dark.png";
@icon_actionbar_more_selectall_disable: "./images/Actionbar/tw_ic_menu_selectall_disable_holo_dark.png";

/****************************************************************************
                Content
****************************************************************************/

@color_content_bg: rgba(75, 66, 55, 0.4);

/****************************************************************************
		Progress Bar
****************************************************************************/
@color_progressbar_text: @color_text;
@color_progressbar_normal_bg: B065L3;
@color_progressbar_value_bg: B065L2;

/****************************************************************************
		Processing
****************************************************************************/
@color_processing_text: T097;

/****************************************************************************
		Toggle Switch
****************************************************************************/
@color_switch_text: T0811;

/***************************************************************************
                   Buttons
***************************************************************************/
@color_button_default_text: T041;
@color_button_default_text_pressed: T041P;
@color_button_default_text_disable: T041D;

@color_button_default_normal_bg: W011;
@color_button_default_focus_bg: W011;
@color_button_default_press_bg: W011P;
@color_button_default_disable_bg: W011D;

@color_button_red_text: T041;
@color_button_red_text_pressed: T041P;
@color_button_red_text_disable: T041D;
@color_button_red_normal_bg: W012;
@color_button_red_focus_bg: W012;
@color_button_red_press_bg: W012P;
@color_button_red_disable_bg: W012D;

@color_button_orange_text: T041;
@color_button_orange_text_pressed: T041P;
@color_button_orange_text_disable: T041D;
@color_button_orange_normal_bg: W013;
@color_button_orange_focus_bg: W013;
@color_button_orange_press_bg: W013P;
@color_button_orange_disable_bg: W013D;

@color_button_green_text: T041;
@color_button_green_text_pressed: T041P;
@color_button_green_text_disable: T041D;
@color_button_green_normal_bg: W014;
@color_button_green_focus_bg: W014;
@color_button_green_press_bg: W014P;
@color_button_green_disable_bg: W014D;

@color_bar_naviframe_press : B0511P;
@color_bar_btn_normal : B052L1;
@color_bar_btn_press : B052L1P;


/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_title_text: T091;
@color_popup_bg: B061L1E;
@color_popup_header_bg: B061L2;
@color_popup_border: B061L7;
@color_popup_button_bg: B065L4;
@color_popup_button_press_bg: B065L4P;
@color_popup_overlay: W1712;
@color_popup_text: rgb(61, 61, 61);
/***************************************************************************
                  index scrollbar (vertical)
***************************************************************************/
@color_indexscrollbar_bg: B0722;
@color_indexscrollbar_bg_supplementary: B0723;
@color_indexscrollbar_text: T0311;
@color_indexscrollbar_selected_bg: B0724;
@color_indexscrollbar_selected_text: T0311P;
@color_indexscrollbar_selected_text_supplementary: T0313;

@color_indexscrollbar_indicator_bg: B0731;
@color_indexscrollbar_indicator_text_normal: T0312;
@color_indexscrollbar_indicator_text_selected: T0312P;

/***************************************************************************
                  Listview
***************************************************************************/
@color_list_press_bg: B041P;
@color_listview_border: B0222;
@color_listview_text: T0211;
@color_listview_text_press: T0211P;
@color_listview_text_dim: T0211D;
@color_listview_text_highlight: T0212;

@color_list_border_bottom: B0223;

/***************************************************************************
                   Scroller
***************************************************************************/
@color_tab_normal: B0514;
@color_tab_active: B0514P1;
@color_scroller_scrollbar_color: B071;
@bg_scroller_bouncing_effect_top: "./images/Scroller/scrollbar-bouncing-effect-top.png";
@bg_scroller_bouncing_effect_bottom: "./images/Scroller/scrollbar-bouncing-effect-bottom.png";
@bg_scroller_bouncing_effect_left: "./images/Scroller/scrollbar-bouncing-effect-left.png";
@bg_scroller_bouncing_effect_right: "./images/Scroller/scrollbar-bouncing-effect-right.png";

/***************************************************************************
                        Drawer
***************************************************************************/
@color_drawer_bg : B077;
@color_drawer_list_press : B041P;
@color_drawer_overlay_bg : B016;

@drawer_back_background: "./images/Drawer/ico_homebar_menu_arrow.png";
@drawer_icon_background: "./images/icons/dynamicbar_ico_bg.png";