/****************************
 collapsible
****************************/
.ui-collapsible-heading {
	.ui-btn-icon-right .ui-btn-inner {
		padding-left: 8 * @unit_base; padding-right: 40px;
	}
}

.ui-collapsible-content {
	.ui-li-dialogue {
		>.ui-li-text-sub {
			right : 10 * @unit_base;
		}
	}
}



/****************************
 controlgroup
****************************/
fieldset.ui-controlgroup {
	width: 100%;
}

.ui-controlgroup-horizontal {
	[data-role="button"] {
		>.ui-btn-inner {
			padding-bottom : 0px;
		}
	}
}



/****************************
 core
****************************/
.ui-mobile, .ui-mobile .ui-page {
	height: 100%;
}

.ui-content { padding-left : 15 * @unit_base; padding-right : 15 * @unit_base; }

/* 140520 Heeju Joo
   To improve performance of touch overflowscroll, we need to use this style for ui-page */
.ui-page { -webkit-overflow-scrolling: touch; }

/****************************
 forms.select
****************************/
.ui-selectmenu-hidden { top: -9999px; left: -9999px; visibility: hidden;}



/****************************
 forms.textinput
****************************/
input.ui-tokentextarea-input {
	font-size : 20 * @unit_base;
}

input.ui-input-text.ui-focus, textarea.ui-input-text.ui-focus {
	&[type="month"],
	&[type="week"],
	&[type="datetime-local"] {
		border : 1px solid @color_bar_body_border;
		outline-color : @color_bar_body_border;
	}
}

input::-webkit-input-placeholder {
	max-width : 100% !important;
	text-overflow : ellipsis !important;
	white-space : nowrap !important;
	overflow : hidden !important;
}



/****************************
 listview
****************************/
.ui-listview {
	.ui-li-last {
		> .ui-btn-inner {
			border-bottom-color: @color_bg;
		}
	}

	li.ui-btn-down-s {
		> .ui-btn-inner {
			border-bottom-color : @color_list_press;
		}
	}
}

.ui-listview li.ui-divider-btn {
	&:active {
		background-color: @color_list_divider_bg_press;

		.ui-divider-normal-line {
			background: @color_list_divider_text_press;
		}

		a {
			color: @color_list_divider_text_press;
		}
	}

	.ui-link-inherit {
		color: @color_list_divider_text;
		font-weight: bold;
	}

	&[data-style="check"] {
		&:active label .ui-btn-inner{
			background-color: @color_list_divider_bg_press;
		}
	}
}

.ui-listview {
	li.ui-li-dialogue {
		&.ui-collapsible-heading {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}



/****************************
 segmentctrl
****************************/
.ui-footer {
	.ui-controlgroup {
		.ui-btn-inner {
			font-size : 15 * @unit_base;
			padding-top : 2px;
			padding-bottom : 1px;
		}
	}
	.ui-btn-inline {
		display: block;
		float: left;
	}
}

.ui-controlgroup .ui-btn-inner.ui-corner-left {
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ui-controlgroup .ui-btn-inner.ui-corner-right.ui-controlgroup-last {
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ui-controlgroup.ui-controlgroup-horizontal {
	.ui-radio-on .ui-btn-inner {
		color : #fafafa;
	}
	.ui-radio .ui-btn-down-s .ui-btn-inner {
		color : #fafafa;
		background : @color_tabbar_btn_tab_press;
	}
}

/****************************
 ctxpopup
****************************/
.ui-ctxpopup-container {
	display: inline-block;
}

/****************************
 tizen.notification
****************************/
.ui-smallpopup-text-bg {
	margin-top: 4 * @unit_base;
	margin-bottom: 4 * @unit_base;
}



/****************************
 tizen.popup
****************************/
.ui-popup-scroller-bg {
	max-height : 256 * @unit_base;
}

.ui-popup-container {
	.ui-popup-text {
		input[type="checkbox"], input[type="radio"] {
			display : none;
		}
	}

	.ui-popup-button-bg {
		> .ui-btn {
			min-width : 30%;
		}
	}

	.center_info,
	.center_title {}

	.center_basic_1btn,
	.center_title_1btn {
		.ui-popup-button-bg {
			.ui-btn {
			max-width: 250 * @unit_base;
			width: 70%;
			}
		}
	}

	.center_basic_2btn,
	.center_title_2btn {
				.ui-popup-button-bg {
						.ui-btn {
				width: 40%;
								min-width: 120*@unit_base;
						}
				}
		}

	.center_basic_3btn,
	.center_title_3btn {
		.ui-btn {
			width: 30%;
			max-width: 180 * @unit_base;
		}
	}

	.center_button_vertical {
		.ui-popup-button-bg {
			display : block;
			height : auto;
			> .ui-btn {
				margin: 5px auto 5px auto;
			}
		}
	}

	.center_checkbox {
		.ui-popup-check-bg {
			display: inline-block;

			.ui-checkbox {
				.ui-btn {
					text-align: center;
					border: 0*@unit_base;

					.ui-btn-inner {
						border: 0*@unit_base;
					}
				}
			}
		}
	}

	.center_liststyle_1btn {
		.ui-popup-button-bg {
			.ui-btn {
				max-width: 250 * @unit_base;
				width: 70%;
			}
		}
	}

	.center_liststyle_2btn {
		.ui-popup-button-bg {
			.ui-btn {
				width: 40%;
			}
		}
	}

	.center_liststyle_3btn {
		.ui-popup-button-bg {
			.ui-btn {
				width: 30%;
					max-width: 180 * @unit_base;
					height: 37*@unit_base;
					display: inline-block;
			}
		}
	}
}


/****************************
 tizen.slider
****************************/
.ui-slider-container {
	padding-top: 21 * @unit_base;
	padding-bottom: 21 * @unit_base;
}

.ui-li > .ui-slider-container {
	margin-top: -14 * @unit_base;
	margin-bottom: -14 * @unit_base;
}

.ui-slider-left-volume,
.ui-slider-left-bright {
	margin-top: 10 * @unit_base;
	margin-bottom: 10 * @unit_base;
	margin-left: -44 *@unit_base;
	top: 0px;
}

.ui-slider-right-volume,
.ui-slider-right-bright {
	vertical-align: middle;
	margin-top: 10 * @unit_base;
	margin-bottom: 10 * @unit_base;
	top: 0px;
	right: -44 * @unit_base;
}
.ui-slider-left-text {
	top: 6 * @unit_base;
}

.ui-slider-right-text {
	top:  6 * @unit_base;
}

/****************************
 tizen.tabbar
****************************/
.ui-header {
	.ui-tabbar {
		a.ui-btn.ui-btn-down-s {
			border-bottom-color : @color_tabbar_btn_pressed;
		}
	}

	.ui-tabbar:not(.ui-tabbar-persist) {
		a.ui-btn {
			&.ui-btn-active {
				border-bottom-color : @color_tabbar_btn_pressed;
			}
		}
	}

	.ui-tabbar.ui-tabbar-persist {
		a.ui-btn {
			&.ui-btn-active.ui-state-persist {
				border-bottom-color : @color_tabbar_btn_pressed;
			}
		}
	}
}

.ui-footer {
	.ui-tabbar {
		.ui-btn-inner {
			border-color : @color_bar_toolbar_divider;
			border-left : 1px solid;
		}
	}
}



/****************************
 tizen.tokentextarea
****************************/
.ui-tokentextarea {
	margin-left : -15 * @unit_base;
	margin-right : -15 * @unit_base;
	display : flex;
	display : -webkit-flex;
	flex-direction : row;
	flex-wrap : wrap;
	justify-content : flex-start;
	align-content : stretch;
	align-items : flex-start;
	-webkit-flex-direction : row;
	-webkit-flex-wrap : wrap;
	-webkit-justify-content : flex-start;
	-webkit-align-content : stretch;
	-webkit-align-items : flex-start;
}
.ui-tokentextarea-input-area {
	order : 0;
	flex : 1 1 auto;
	-webkit-flex : 1 1 auto;
	width: 3rem;
	padding-right: 52px !important;
}
.ui-tokentextarea-input {
	order : 0;
	flex : 1 1 auto;
	-webkit-flex : 1 1 auto;
	width: 0px;
	margin-right: 35px;
}
.ui-tokentextarea-span-block {
	flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	align-self: auto;
	-webkit-align-self: auto;
	display : inline;
	max-width: 50%;
	text-align : center;
	cursor : pointer;
	position : relative;
	margin : .3em;
	padding : .2em .5em;
	font-size : 1em;
	text-shadow : 0 2px rgba(0,0,0,.75);
	-ms-border-radius : .2em;
	-o-border-radius : .2em;
	-webkit-border-radius : .2em;
	-moz-border-radius : .2em;
	border-radius : .2em;
	.LESSbox-shadow(0, .1em, .1em, rgba(0,0,0,.2));
	color : @color_tokentextarea_block_text;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
}
span.ui-tokentextarea-invisible {
	display: none;
}
.ui-tokentextarea .ui-tokentextarea-desclabel {
	padding: .6em 0em;
}


/****************************
 tizen.multimediaview
****************************/
:-webkit-full-screen {
	height: 100%;
}
:-webkit-full-screen video{
	height: 100%;
}
.ui-multimediaview-wrap .fade-out {
	transition-property: bottom;
	transition-timing-function: ease-out;
	transition-duration: 0.5s;
}

.ui-selectmenu {
  position: initial;
}
