<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/PageTester" version="0.1.0" viewmodes="maximized">
    <access origin="*"></access>
    <tizen:application id="aTa26fmP6r.PageTester" package="aTa26fmP6r" required_version="2.2"/>
    <content src="src/index.html"/>
    <icon src="icon.png"/>
    <name>PageTester</name>
    <tizen:privilege name="http://tizen.org/privilege/fullscreen"/>
    <tizen:setting screen-orientation="portrait" context-menu="disable" background-support="enable" encryption="disable"/>
</widget>
