@import "config.less";

@bar-height: 16px;
@bar-margin: 16px;

@-webkit-keyframes ui-scale-animation {
	from {
		-webkit-transform: scaleX(0);
	} to {
		-webkit-transform: scaleX(1);
	}
}

.ui-progressbar-value {
	background-image: url(images/00_winset_list_progress_bar.png);
	height: 100%;
}

.ui-progressbar {
	position: relative;
	background-image: url(images/00_winset_list_progress_bg.png);
	margin-left: @bar-margin;
	margin-right: @bar-margin;
	height: @bar-height;
}

.ui-progress-bg {
	position: relative;
	top: 0;
	background-image: url(images/00_winset_list_progress_bg.png);
	width: 100%;
	height: @bar-height;
}

.ui-progress-bar {
	position: relative;
	top: -@bar-height;
	width: 100%;
	height: @bar-height;

	background-image: url(images/00_winset_list_progress_bar.png);

	-webkit-animation: ui-scale-animation 5s infinite linear;
	-webkit-transform-origin: 0% 0%;
}
