#moreoptionsDrawer {
	display: none;
}

@media all and (-tizen-geometric-shape: circle) {
	#moreoptionsDrawer {
		display: block;
		background-color: rgba(255, 255, 255, 0.1);
		-webkit-mask-image: -webkit-radial-gradient(black 71%,transparent 0);
	}
	#moreoptionsPopup {
		display: none;
	}
}