/************************************************************************/
/*                           fixedUIStyle.less                          */
/************************************************************************/
/* When system font-size is changed, winset size (ex. header, footer, button, etc,
   include font) also changed. But in UX guide, some UI elements should have fixed
   size regardless of system font size.
   So, this less file supports fixed style for some elements.
   - Layout: header, footer, button
   - Popup : popup header, popup footer
   - toggleswitch
   - progress: text for ratio
*/

/***********************************************************************/
/*                         Layout(FIXED)                               */
/***********************************************************************/
@fixed_header_height: 52px;
@fixed_header_line_height: 52px;
@fixed_header_title_font_size: 30px;
@fixed_header_title_padding: 16px;
@fixed_header_title_icon_padding: 60px;
@fixed_header_title_icon_position_x: 16px;
@fixed_header_title_icon_position_y: 9px;
@fixed_header_title_icon_size: 34px;
@fixed_header_more_title_padding: 78px;
@fixed_header_more_width: 68px;
@fixed_footer_height: 76px;

/**********************************************************************/
/*                        Button(FIXED)                               */
/**********************************************************************/
@fixed_button_padding_top: 24px;
@fixed_button_padding_bottom: 24px;
@fixed_button_padding_left: 10px;
@fixed_button_padding_right: 10px;
@fixed_button_font_size: 31px;
@fixed_button_line_height: 28px;
@fixed_button_multiline_padding_top: 10px;
@fixed_button_multiline_padding_bottom: 10px;
@fixed_button_icon_height: 76px;
@fixed_button_icon_bg_size: 60px;

/**********************************************************************/
/*                       Popup(FIXED)                                 */
/**********************************************************************/
@fixed_popup_header_height: 54px;
@fixed_popup_header_font_size: 30px;
@fixed_popup_header_padding_top: 7px;
@fixed_popup_header_padding_bottom: 7px;
@fixed_popup_header_padding_left: 16px;
@fixed_popup_header_padding_right: 16px;
@fixed_popup_footer_height: 70px;
@fixed_popup_footer_btn_padding_top: 21px;
@fixed_popup_footer_btn_padding_bottom: 21px;
@fixed_popup_footer_btn_font_size: 30px;

/**********************************************************************/
/*                      ToggleSwitch(FIXED)                           */
/**********************************************************************/
@fixed_toggleswitch_width: 140px;
@fixed_toggleswitch_height: 70px;
@fixed_toggleswitch_text_margin_top: 30px;
@fixed_toggleswitch_text_margin_bottom: 40px;
@fixed_toggleswitch_text_font_size: 34px;
@fixed_toggleswitch_act_margin_top: 23px;
@fixed_toggleswitch_handler_width: 86px;
@fixed_toggleswitch_handler_height: 70px;

/*********************************************************************/
/*                     Progress(FIXED)                               */
/*********************************************************************/
@fixed_progress_proportion_font_size: 20px;
@fixed_progress_ratio_font_size: 20px;
