/***************************************************************************
				  checkbox / radio button
***************************************************************************/
input[type="checkbox"]:not(.ui-switch-input),
input[type="radio"] {
	height: 86px;
	width: 86px;
}

input[type="checkbox"]:not(.ui-switch-input) {
	//gray bg, light gray check mark
	-webkit-mask-image: none;
	background: -webkit-radial-gradient(@color_checkboxradio_checkbox_bg_uncheck 67%, transparent 71%, transparent), url("images/Controller_icon/Check/ref_btn_check_holo_dark.png") no-repeat;
	background-size: 100% 100%;
	//green bg
	&::before {
		content: "";
		-webkit-mask-image: none;
		background: -webkit-radial-gradient(@color_checkboxradio_checkbox_bg 67%, transparent 71%, transparent);
		height: 100%;
		width: 100%;
		opacity: 0;
		position: absolute;
		.transition(all 300ms ease-in);
	}
	// white check mark
	&::after {
		.mask-image('images/Controller_icon/Check/tw_btn_check_holo_dark.png');
		.mask-repeat(repeat);
		.mask-position(center bottom);
		background-color: @color_checkboxradio_check;
		height: 0;
		.transition-property(height);
		.transition-duration(500ms);
		bottom: 0;
		.mask-size(100%);
	}
	&:checked {
		&::before {
			.animation(checkon 300ms ease-out);
			.transition(none);
			-webkit-mask-image: none;
			background: -webkit-radial-gradient(@color_checkboxradio_checkbox_bg 67%, transparent 71%, transparent);
			opacity: 1;
		}
		&::after {
			height: 100%;
		}
	}

	&:active {
		background-color: transparent;
		&::after {
			width: 100%;
			height: 0;
		}
		&:checked {
			&::before {
				-webkit-mask-image: none;
				background: -webkit-radial-gradient(@color_checkboxradio_checkbox_bg 67%, transparent 71%, transparent);
			}
			&::after {
				background-color: @color_checkboxradio_check;
				height: 100%;
			}
		}
	}
}

//check on animation
@-webkit-keyframes checkon {
	.transition-checkon();
}
@-o-keyframes slideupinreverse {
	.transition-checkon();
}
@-ms-keyframes slideupinreverse {
	.transition-checkon();
}
@-moz-keyframes slideupinreverse {
	.transition-checkon();
}
@keyframes slideupinreverse {
	.transition-checkon();
}

.transition-checkon() {
	from {
		opacity: 0.5;
		.transform(scale(0.8));
	}
	100% {
		opacity: 1.0;
		.transform(scale(1.0));
	}
}

input[type="radio"] {
	background: -webkit-radial-gradient(transparent, transparent 59%, @color_checkboxradio_radiobox_line 63%, @color_checkboxradio_radiobox_line 68%, transparent 72%, transparent);
	-webkit-mask-image: none;
	&::after {
		content: "";
		.mask-image('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
		background-color: @color_checkboxradio_radio_off;
	}
	&::before {
		content: "";
		background-color: @color_checkboxradio_radio;
		.mask-image('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
		.mask-repeat(no-repeat);
		width: 100%;
		height: 100%;
		.mask-size(100% 100%);
		position: absolute;
		.transform(scale(0));
		.transition(transform 300ms);
	}
	&:checked {
		&::before {
			background-color: @color_checkboxradio_radio;
			.mask-image('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
			.transform(scale(1.0));
			z-index: 1;
		}
	}
	&:active {
		background-color: transparent;
		-webkit-mask-image: initial;
		&::after {
			.mask-image('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
			background-color: @color_checkboxradio_radio_off;
		}
		&:checked::before {
			background-color: @color_checkboxradio_radio;
			.mask-image('images/Controller_icon/Radio/tw_btn_radio_holo_dark.png');
		}
		&:checked::after {
			content: none;
		}
	}
}
