/***************************************************************************
                  circle progress bar
***************************************************************************/
.ui-progressbar {
	.ui-progressbar-value {
		.ui-progressbar-value-left {
			border: 13 * @unit_base solid @color_circleprogressbar_value;
		}

		.ui-progressbar-value-right {
			border: 13 * @unit_base solid @color_circleprogressbar_value;
		}
	}

	.ui-progressbar-bg {
		border: 13 * @unit_base solid @color_circleprogressbar_bg;
	}

	&.ui-progressbar-small {
		.ui-progressbar-value {
			.ui-progressbar-value-left,
			.ui-progressbar-value-right {
				border: 5 * @unit_base solid @color_circleprogressbar_value;
			}
		}

		.ui-progressbar-bg {
			border: 5 * @unit_base solid @color_circleprogressbar_bg;
		}
	}
}
