/***************************************************************************
                   Common Style

***************************************************************************/
/***************************************************************************
                   Development Tip
  If you want to implement specific css code of circle device,
  you should implement specific code here.
  But when you implement code, you should check duplicate value
  between common/layout.less and this file.
  If you have duplicate value, please change static value to variable value.
***************************************************************************/
body {
	background: @color_bg_cover;
	color : @color_text;
}

.ui-header {
	height: @fixed_header_height;
	line-height: @fixed_header_line_height;
	background-color: transparent;

	.ui-title {
		color: @color_actionbar_title_text;
		text-align: center;
		padding-top: @fixed_header_title_padding_top;
	margin-left: 40 * @unit_base;
		margin-right: 40 * @unit_base;
		padding-left: 24 * @unit_base;
		padding-right: 24 * @unit_base;
		&.ui-icon {
			background: none !important;
			padding-left: 24 * @unit_base;
		}
	}

	&.ui-header-small {
		height: @fixed_header_small_height;
		.ui-title {
			padding-top: @fixed_header_small_title_padding_top;
		}
	}

	&.ui-has-more {
		.ui-title {
			padding-right: 24 * @unit_base;
			-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 95%);
		}
		.ui-more {
			position: fixed;
			top: 50%;
			right: -@fixed_header_more_width / 2 * @unit_base;
			width: @fixed_header_more_width;
			height: @fixed_header_more_height;
			transform: translate(0, -50%);
			&.ui-icon-overflow {
				.mask-image();
				.mask-position(initial);
				background-color: transparent;
				&[disabled="disabled"] {
					.mask-position(initial);
				}
				&:active {
					background-color: transparent;
				}
			}
			&::before {
				content: "";
				position: absolute;
				width: 140 * @unit_base;
				height: 140 * @unit_base;
				background-color: @color_moreoptions_handler;
				border-radius: 50%;
				.transform(scale(0));
				top: 0;
				right: 0;
				.transition(transform ease-out 300ms);
			}
			&:active::before {
				.transition(transform ease-out 300ms);
				.transform(scale(1));
			}
			&::after {
				content: "";
				position: absolute;
				width: 32 * @unit_base;
				height: 36 * @unit_base;
				.mask-box-image("images/Actionbar/tw_ic_menu_moreoverflow_holo_dark.png");
				background-color: @color_moreoptions_bg;
				border-radius: 50%;
				top: 50%;
				right: 50%;
				.transform(translate(0, -50%));
			}
		}
	}
}
.ui-page {
	background-image: -webkit-radial-gradient(transparent -200%, transparent -190%, @color_bg_cover 69%), -webkit-radial-gradient(@color_bg 71%, transparent 0px);
	background-position: 0px 0px, 0px 0px;
	.ui-content {
		text-align: center;
	}
	.ui-footer.ui-bottom-button{
		position: fixed !important;
		bottom: 0;
		z-index: 1000;
		height: 28%;
		.ui-btn {
			left: 50%;
			width: 100%;
			height: 130%;
			position: relative;
			margin: 0;
			padding: 8% 22% 16%;
			background: -webkit-radial-gradient(center, circle cover, @color_footer_button_bg 50%, transparent 50%);
			background-size: 300% 840%;
			background-position: 50% 17%;
			background-repeat: no-repeat;
			-webkit-transition: transform 150ms ease-out;
			-webkit-transform: translate(-50%, 0);

			&:active {
				background: -webkit-radial-gradient(center, circle cover, @color_footer_button_bg_press 50%, transparent 50%);
				background-position: 50% 17%;
				background-repeat: no-repeat;
				background-size: 300% 840%;
				-webkit-transform: translate(-50%, -23%);
			}

			&.ui-btn-icon-only::before {
				top: 0;
				-webkit-transform: translate(-50%, 56%);
				-webkit-transition: transform 150ms ease-out;
			}
		}

	}
}

/***************************************************************************
                   Page Scroll
***************************************************************************/
.ui-page.ui-scroll-on {
	overflow: hidden;
	.touch-scrolling-clear();

	.ui-content {
		margin-top: 122 * @unit_base;
		padding-bottom: 114 * @unit_base;
		padding-top: 0;
	}
	.ui-header  {
		~ .ui-content {
			margin-top: 0;
		}
		~ .ui-scroller > .ui-content {
			margin-top: 0;
		}
	}
	.ui-content ~ .ui-footer:not(.ui-expandable-footer) {
		margin-top: -85 * @unit_base;
	}
}
