/****************************************************
		Page Indicator
*****************************************************/
.ui-page-indicator {
	position: absolute;

	.ui-page-indicator-item {
		width: 10 * @unit_base;
		height: 10 * @unit_base;
		-webkit-mask-image: -webkit-radial-gradient(black 2 * @unit_base, transparent 4 * @unit_base);
		background-color: @color_page_indicator_normal;
		.transition-property(transform);
		.transition-duration(250ms);
		.transition-timing-function(ease-out);
		&.ui-page-indicator-active {
			background-color: @color_page_indicator_selected;
		}
	}

	&.ui-page-indicator-linear {
		.ui-page-indicator-item {
			position: relative;
			display: inline-block;
			margin-right: 9 * @unit_base;
			&:last-child {
				margin-right: 0;
			}
			&.ui-page-indicator-active {
				.transform(scale3d(1.5, 1.5, 1.5));
			}
		}
	}
}
