/***************************************************************************
                  popup
***************************************************************************/

@font_size_popup_toast: 24 * @unit_base;
@font_size_popup_body: 34 * @unit_base;

.ui-popup {
	width:100%;
	height: 100%;
	overflow: hidden;
	border: 0;
	border-radius: 50% 50%;
	background-image: -webkit-radial-gradient(transparent -100%, transparent -90%, @color_bg_cover 69%), -webkit-radial-gradient(@color_bg 71%, transparent 0px);

	& ::-webkit-scrollbar {
		display: none;
	}

	.ui-popup-header {
		text-align: center;
		min-height: @fixed_popup_header_height;
		background-color: transparent;
		color: @color_popup_title_text;
		padding-top: @fixed_popup_header_padding_top;
		padding-right: @fixed_popup_header_padding_right;
		padding-bottom: @fixed_popup_header_padding_bottom;
		padding-left: @fixed_popup_header_padding_left;
		+ .ui-popup-content {
			padding-top: 26 * @px_base;
		}
	}

	.ui-popup-content {
		color: @color_popup_content_text;
		background-color: transparent;
		padding: 16% 8% 4%;
		text-align: center;
		.ui-listview,
		.ui-inline-listview {
			margin: -25 * @unit_base -55 * @unit_base -16 * @unit_base -55 * @unit_base;
		}
	}

	&.ui-has-side-buttons .ui-popup-content{
		padding-left: 19%;
		padding-right: 19%;
	}

	.ui-popup-footer.ui-side-button{
		.ui-btn {
			height: 100%;
			width: 26%;
			border: none;
			position: absolute;
			text-indent: -9999px;
			&::before {
				content: "";
				-webkit-mask-size: @fixed_popup_icon_width @fixed_popup_icon_height;
				-webkit-mask-repeat: no-repeat;
				width: @fixed_popup_icon_width;
				height: @fixed_popup_icon_height;
				position: absolute;
			}
		}

		.ui-btn:nth-child(n) {
			top: 50%;
			.transform(translate3d(68%, -50%, 0));
			background: -webkit-radial-gradient(center, circle cover, @color_popup_side_button_bg 50%, transparent 50%);
			background-repeat: no-repeat;
			background-size: 570% 150%;
			&::before {
				top: 50%;
				-webkit-transform: translate3d(0, -50%, 0);
			}
			&:active {
				background: -webkit-radial-gradient(center, circle cover, @color_popup_side_button_bg_press 50%, transparent 50%);
				background-repeat: no-repeat;
				background-size: 570% 150%;
			}
		}
		.ui-btn:nth-child(1) {
			.transform(translate3d(68%, -50%, 0));
			background-position: 83% 50%;
			right: 100%;
			&::before {
				left: 38%;
			}
			&:active {
				background-position: 83% 50%;
			}
		}
		.ui-btn:nth-child(2) {
			.transform(translate3d(-68%, -50%, 0));
			left: 100%;
			background-position: 17% 50%;
			&::before {
				right: 38%;
			}
			&:active {
				background-position: 17% 50%;
			}
		}
	}

	.ui-popup-footer.ui-bottom-button{
		.ui-btn {
			position: absolute;
			top: 100%;
			left: 50%;
			height: 36%;
			width: 100%;
			border: none;
			padding: 8% 22% 16%;
			background: -webkit-radial-gradient(center, circle cover, @color_footer_button_bg 50%, transparent 50%);
			background-position: 50% 17%;
			background-repeat: no-repeat;
			background-size: 300% 840%;
			.transform(translate3d(-50%, -77%, 0));

			&:active {
				.transition(all 300ms ease-out);
				background: -webkit-radial-gradient(center, circle cover, @color_footer_button_bg_press 50%, transparent 50%);
				background-position: 50% 17%;
				background-repeat: no-repeat;
				background-size: 300% 840%;
			}

			&.ui-btn-icon-only::before {
				top: 26 * @unit_base;
				.transform(translate3d(-50%, 0, 0));
			}
		}
	}
}

.ui-popup.ui-popup-active {
	.ui-popup-footer.ui-side-button {
		&:active {
			.ui-btn:not(:active) {
				.transform(translate3d(0, -50%, 0));
			}
		}
		.ui-btn:nth-child(n) {
			&:active {
				.transition(all 150ms ease-out);
			}
		}
		.ui-btn:nth-child(1) {
			&:active {
				.transform(translate3d(100%, -50%, 0));
			}
		}
		.ui-btn:nth-child(2) {
			&:active {
				.transform(translate3d(-100%, -50%, 0));
			}
		}
	}
	.ui-popup-footer.ui-bottom-button {
		.ui-btn {
			&:active {
				.transform(translate3d(-50%, -100%, 0));
			}
		}
	}
}
/***********************
Popup Container Scroll
***********************/
.ui-popup.ui-scroll-on:not(.ui-ctxpopup):not(.ui-popup-toast) {
	.ui-popup-content {
		margin-top: 122 * @unit_base;
		margin-bottom: 98 * @unit_base;
		padding-top: 0;
	}

	.ui-popup-header + .ui-popup-content {
		margin-top: 0;
		padding-top: 26 * @px_base;
	}

	.ui-popup-footer {
		margin-top: -98 * @unit_base;
	}
}

/****************************************
Popup Toast
****************************************/
.ui-popup.ui-popup-toast {
	min-height: 30%;
	border-top: 3px solid @color_toast_popup_border;
	border-bottom: 3px solid @color_toast_popup_border;
	margin-bottom: 13%;
	background-color: @color_toast_popup_bg;
	background-image: none;
	.ui-popup-content {
		background-color: transparent;
		font-size: 32 * @px_base;
		text-align: center;
		line-height: 42 * @px_base;
	}
}

.ui-popup.ui-popup-toast.ui-popup-toast-graphic {
	border: none;
	background-color: transparent;
	margin-bottom: 24 * @unit_base;
	pointer-events: none;
	.ui-popup-content {
		color: @color_toast_graphic_text;
	}
	.ui-popup-toast-icon {
		width: 164 * @unit_base;
		height: 164 * @unit_base;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			background-color: @color_toast_popup_image_bg;
			.mask-image('images/Popup/tw_toast_popup_image_bg.png');
			.mask-repeat(no-repeat);
			.mask-size(100% 100%);
		}

		&::after {
			.mask-size(50% 50%);
		}
	}
}
/***********************
Option Popup
***********************/
.ui-popup.ui-ctxpopup {
	height: auto;
}
