/***************************************************************************
                  Body
***************************************************************************/
@color_bg: B011;
@color_bg_cover: B013;
@color_text: T011;

/***************************************************************************
                   Action Bar
***************************************************************************/
@color_actionbar_title_text: T012;
@color_actionbar_title_bg: B011;
@color_actionbar_title_bg_disable: B0511D;

/****************************************************************************
               Circle Progress Bar
****************************************************************************/
@color_circleprogressbar_bg: B065L3;
@color_circleprogressbar_value: B065L2;

/****************************************************************************
		Progress Bar
****************************************************************************/
@color_progressbar_text: @color_text;
@color_progressbar_normal_bg: B065L3;
@color_progressbar_value_bg: B065L2;
@color_progressbar_indeterminate: B065L6;

/****************************************************************************
		Processing
****************************************************************************/
@color_processing_text: T097;
@color_processing: B065L6;

/***************************************************************************
                   Buttons
***************************************************************************/
@color_button_default_text: T041;
@color_button_default_text_pressed: T041P;
@color_button_default_text_disable: T041D;

@color_button_default_normal_bg: W011;
@color_button_default_focus_bg: W011;
@color_button_default_press_bg: W011P;
@color_button_default_disable_bg: W011D;

@color_button_red_text: T041;
@color_button_red_text_pressed: T041P;
@color_button_red_text_disable: T041D;
@color_button_red_normal_bg: W012;
@color_button_red_focus_bg: W012;
@color_button_red_press_bg: W012P;
@color_button_red_disable_bg: W012D;

@color_button_orange_text: T041;
@color_button_orange_text_pressed: T041P;
@color_button_orange_text_disable: T041D;
@color_button_orange_normal_bg: W013;
@color_button_orange_focus_bg: W013;
@color_button_orange_press_bg: W013P;
@color_button_orange_disable_bg: W013D;

@color_button_green_text: T041;
@color_button_green_text_pressed: T041P;
@color_button_green_text_disable: T041D;
@color_button_green_normal_bg: W014;
@color_button_green_focus_bg: W014;
@color_button_green_press_bg: W014P;
@color_button_green_disable_bg: W014D;

/***************************************************************************
                   Popup
***************************************************************************/
@color_popup_title_text: T091;
@color_popup_content_text: T092;
@color_popup_bg: B061L1E;
@color_popup_edge_shadow: B061L1;
@color_popup_bg_cover: B061L1;
@color_popup_header_bg: B061L2;
@color_popup_toast_border: B061L7;
@color_popup_border: B061L8;
@color_popup_overlay: W1712;
@color_popup_button_bg_press: B065L4P;
@color_popup_side_button_bg: B065L4;
@color_popup_side_button_bg_press: B065L4P;
@color_popup_button_icon_bg: F022L1i;
@color_popup_button_icon_bg_press: F022L1iP;

/***************************************************************************
                   Footer
***************************************************************************/
@color_footer_button_bg: B065L4;
@color_footer_button_bg_press: B065L4P;
@color_footer_button_bg_press: W011P;
@color_footer_button_icon_bg: F022L1i;
@color_footer_button_icon_bg_press: F022L1iP;
/***************************************************************************
                   Toast Popup
***************************************************************************/
@color_toast_popup_border: B061L7;
@color_toast_popup_bg: B068;
@color_toast_popup_image_bg: B067;
@color_toast_graphic_text: T099;

/***************************************************************************
                   Option Popup
***************************************************************************/

/***************************************************************************
                  circular index scrollbar
***************************************************************************/
@color_circularindexscrollbar_bg: B0722;
@color_circularindexscrollbar_text_normal: T0311;
@color_circularindexscrollbar_text_selected: T0311P;

@color_circularindexscrollbar_indicator_bg: B0731;
@color_circularindexscrollbar_indicator_text: T0312P;

/***************************************************************************
                  Listview
***************************************************************************/
@color_list_press_bg: B041P;
@color_listview_border: B0222;
@color_listview_text: T0211;
@color_listview_text_press: T0211P;
@color_listview_text_dim: T0211D;
@color_listview_text_highlight: T0212;
@color_list_actionicon_divider: B0221L1;
@color_list_actionicon_image_normal: F022L1i;
@color_list_actionicon_image_disable: F022L1iD;
@color_list_divider_bg: B023;
@color_list_divider_text: T0231;
@color_listview_sub_text: T022;
@color_listview_sub_text_press: T022P;
@color_listview_sub_text_dim: T022D;
@color_listview_focus: B0210;
@color_listview_focus_press: B0210P;
@color_listview_focus_ef: B027;
@color_listview_focus_ef_press: B027P;

/****************************************************************************
               Listview with Marquee
****************************************************************************/
@color_listview_fadeout_bg: B0211;
@color_listview_fadeout_pressed_bg: B041P;

/***************************************************************************
                   Checkbox/Radio
***************************************************************************/
@color_checkboxradio_radio: W013L3;
@color_checkboxradio_radio_press: W013L3P;
@color_checkboxradio_radio_dim: W013L3D;
@color_checkboxradio_radio_off: W013L4;
@color_checkboxradio_radio_off_press: W013L4P;
@color_checkboxradio_radio_off_dim: W013L4D;
@color_checkboxradio_radiobox_line: W013L1;
@color_checkboxradio_radiobox_line_press: W013L1P;
@color_checkboxradio_radiobox_line_dim: W013L1D;

@color_checkboxradio_check: W012L3;
@color_checkboxradio_check_press: W012L3P;
@color_checkboxradio_check_dim: W012L3D;
@color_checkboxradio_uncheck: W012L4;
@color_checkboxradio_uncheck_press: W012L4P;
@color_checkboxradio_uncheck_dim: W012L4D;
@color_checkboxradio_checkbox_bg: W012L1;
@color_checkboxradio_checkbox_bg_press: W012L1P;
@color_checkboxradio_checkbox_bg_dim: W012L1D;
@color_checkboxradio_checkbox_bg_uncheck: W012L2;
@color_checkboxradio_checkbox_bg_uncheck_press: W012L2P;
@color_checkboxradio_checkbox_bg_uncheck_dim: W012L2D;

/***************************************************************************
						Page Indicator
***************************************************************************/
@color_page_indicator_normal: T0211D;
@color_page_indicator_selected: W1911;

/****************************************************************************
		Toggle Switch
****************************************************************************/
@color_switch_text: T0811;
@color_switch_sub_text: T161;
@color_toggle_on_handler: W014L3;
@color_toggle_on_handler_press: W014L3P;
@color_toggle_on_handler_dim: W014L3D;
@color_toggle_off_handler: W014L4;
@color_toggle_off_handler_press: W014L4P;
@color_toggle_off_handler_dim: W014L4D;
@color_toggle_on_bg: W014L1;
@color_toggle_on_bg_press: W014L1P;
@color_toggle_on_bg_dim: W014L1D;
@color_toggle_off_bg: W014L2;
@color_toggle_off_bg_press: W014L2P;
@color_toggle_off_bg_dim: W014L2D;

/***************************************************************************
                   Scroller
***************************************************************************/
@bg_scroller_bouncing_effect_right_glow: "./images/Scroller/bouncing_circle_right_glow.png";
@bg_scroller_bouncing_effect_right_edge: "./images/Scroller/bouncing_circle_right_edge.png";
@bg_scroller_bouncing_effect_bottom_glow: "./images/Scroller/bouncing_circle_bottom_glow.png";
@bg_scroller_bouncing_effect_bottom_edge: "./images/Scroller/bouncing_circle_bottom_edge.png";
@bg_scroller_bouncing_effect_left_glow: "./images/Scroller/bouncing_circle_left_glow.png";
@bg_scroller_bouncing_effect_left_edge: "./images/Scroller/bouncing_circle_left_edge.png";
@color_option_popup_bg: W011;
@color_option_popup_list_border: B212;
@color_option_popup_list_text: T181;
/***************************************************************************
                   More options
***************************************************************************/
@color_drawer_bg: B0511D;
@color_moreoptions_bg: #fafafa;
@color_moreoptions_handler: rgba(60, 60, 60, 0.8);