// Basic color set
@color_bg: 				rgb(0, 0, 0);	// 0 0 0
@color_bg_sub:			rgb(36, 36, 36);	// 36 36 36	// TODO: used only in dialog group. Check more.

@color_border:			rgb(42, 42, 42);	// 42 42 42
@color_header: 			rgb(68, 68, 74);	// 68 68 74

@color_text:				rgb(249, 249, 249);	// 249 249 249
@color_text_dim:			rgb(108, 115, 118);	// 108 115 118
@color_text_focus:		@color_text;
@color_text_sub:			rgb(102, 102, 102);	// 102 102 102
@color_text_setting:		rgb(42, 109, 140);	// 42 109 140
@color_text_input:		rgb(70, 70, 70);	// 70 70 70
@color_text_cursor:		@color_text_setting;
@color_text_segctrl:		rgb(158, 195, 213);	// 158 195 213	// TODO: used only in segctrl. Check more.

//Dialogue color set
@color_dialogue_main_text:				rgb(249,249,249);
@color_dialogue_sub_text:				rgb(146,146,146);

//Dialogue Editor color set
@color_dialogue_editor_default_text:	rgb(70, 70, 70);
@color_dialogue_editor_bg:				rgb(0, 0, 0);
@color_dialogue_editor_border:			rgba(68, 68, 68, 255);	

/*************************
  Vars/Mixins for Widgets

  NOTE:
    * Color variables' name: @color_<widget name>_<identifier>
	* Color values: Use rgb() or rgba()
 *************************/


/***************************************************************************
                   List 
***************************************************************************/
@color_list_main_text_read:		rgba(158, 158, 158, 1);
@color_list_main_text_unread:	rgba(249, 249, 249, 1);
@color_list_main_text_focus:		rgba(249, 249, 249, 1);
@color_list_sub_text_default:		rgba(100, 100, 100, 1);
@color_list_sub_text_settings:	rgba(0, 140, 210, 1);
@color_list_sub_text_focus:		rgba(249, 249, 249, 1);
@color_list_flexible_text_main:	rgba(249, 249, 249, 1);
@color_list_flexible_text_sub:		rgba(149, 149, 149, 1);
@color_list_index_list:			rgba(164, 164, 164, 1);
@color_list_editfield_text:			rgba(70, 70, 70, 1);
@color_list_editfield_text_cursor:	rgba(0, 140, 210, 1);
@color_list_multiline_text:		rgba(149, 149, 149, 1);
@color_list_3line_main_text:		rgba(249, 249, 249, 1);
@color_list_3line_main_text_read:	rgba(249, 249, 249, 1);
@color_list_3line_main_text_focus:	rgba(249, 249, 249, 1);
@color_list_3line_main_text2:		rgba(104, 137, 152, 1);
@color_list_3line_main_text2_focus:	rgba(249, 249, 249, 1);
@color_list_converter_style:		rgba(249, 249, 249, 1);
@color_list_converter_style_focus:	rgba(249, 249, 249, 1);
@color_list_unread_email:		rgba(249, 249, 249, 1);
@color_list_contents_text:		rgba(210, 210, 210, 1);
@color_list_name_text:			rgba(129, 129, 129, 1);
@color_list_name_text_dim:		rgba(0, 140, 210, 1);
@color_list_colorbar:				rgba(80, 107, 207, 1); //Temp, not defined
@color_list_bubble_box_shadow:	rgb(77, 58, 23);	// Not defined in GUI guide.
@color_list_bubble_left_text:	rgb(0, 0, 0);
@color_list_bubble_left_bg:		rgb(221, 206, 122);	// Not defined in GUI guide. Picked from image.
@color_list_bubble_right_text:	rgb(96, 96, 96);
@color_list_bubble_right_bg:	rgb(194, 209, 218); // Not defined in GUI guide. Picked from image.
@color_list_bubble_sos_text:	rgb(211, 0, 0);
@color_list_bubble_date_text:	rgb(57, 166, 215);
@color_list_bubble_date_bg:		rgb(66, 66, 66);
@color_list_bubble_time_text:	rgb(57, 166, 215);
@color_list_bubble_link_text:	rgb(34, 129, 157);
@color_list_bubble_failed_text:	rgb(211, 0, 0);
@color_list_bubble_name_text:	rgb(57, 166, 215);
@color_list_bubble_help_text:	rgb(146, 146, 146);
@color_list_divider_bg :		rgb(66, 66, 66); /* #424242 */
@color_list_divider_text :		rgb(164, 164, 164); /* #a4a4a4 */

@font_size_list_main_text:		44 * @unit_base; //1.375rem;	/* 44 px */
@font_size_list_sub_text:		32 * @unit_base; //1.0rem;	/* 32 px */
@font_size_list_flexible_text_main:	48 * @unit_base; //1.5rem;	/* 48 px */
@font_size_list_flexible_text_sub:	36 * @unit_base; //1.125rem;	/* 36 px */
@font_size_list_index_list:		32 * @unit_base; //1.0rem;	/* 32 px */
@font_size_list_editfield_text:		44 * @unit_base; //1.375rem;	/* 44 px */
@font_size_list_multiline_text:		32 * @unit_base; //1.0rem;	/* 32 px */
@font_size_list_3line_main_text:	42 * @unit_base; //1.3125rem;	/* 42 px */
@font_size_list_3line_main_text2:	36 * @unit_base; //1.125rem;	/* 36 px */
@font_size_list_converter_style:	40 * @unit_base; //1.3rem;	/* 40 px */
@font_size_list_unread_email:		44 * @unit_base; //1.375rem;	/* 44 px */
@font_size_list_contents_text:		30 * @unit_base; //0.94rem;	/* 30 px */
@font_size_list_name_text:		32 * @unit_base; //1.0rem;	/* 32 px */


/***************************************************************************
                   Shortcut Scroll
***************************************************************************/
@color_shortcutscroll_rollover_bg: rgba(68, 68, 68, 0.5); // 00_fast_scroll_rollover_bg.png
@color_shortcutscroll_rollover_text: rgba(180, 180, 180, 0.6);
@color_shortcutscroll_popup_bg: rgba(115, 137, 147, 1); // 00_fast_scroll_popup_bg.png
@color_shortcutscroll_popup_shadow: rgba(199, 199, 199, 0.5);
@color_shortcutscroll_popup_text: rgb(249, 249, 249);


/***************************************************************************
                   Popup 
***************************************************************************/
@color_popup_info_style:		rgba(249, 249, 249, 1);
@color_popup_basic_style_title:		rgba(249, 249, 249, 1);
@color_popup_small_popup_info:		rgba(249, 249, 249, 1);
@color_popup_center_progressbar_title:	rgba(153, 153, 153, 1);
@color_popup_text_progress_title:	rgba(249, 249, 249, 1);
@color_popup_text_background:		rgba(33, 60, 73, 1); /* #213c49 */
@color_popup_button_background:		rgba(86, 93, 96, 1); /* #565d60 */

@font_size_popup_info_style:			42 * @unit_base; //1.3125rem;	/* 42px */
@font_size_popup_basic_style_title:		38 * @unit_base; //1.1875rem;	/* 38px */
@font_size_popup_small_popup_info:		32 * @unit_base; //1.0rem;	/* 32px */
@font_size_popup_center_progressbar_title:	26 * @unit_base; //0.8125rem;	/* 26px */
@font_size_popup_text_progress_title:		42 * @unit_base; //1.3125rem;	/* 42px */
@font_size_popup_button_text:			32 * @unit_base; //1.0rem;	/* 32px */


/***************************************************************************
                    Button
***************************************************************************/
@color_button_normal:		rgb(59, 59, 59);	
@color_button_press:		rgb(0, 140, 210);
@color_button_hover: 		rgb(69, 69, 69);
@color_button_text_normal:	rgb(249, 249, 249);
@color_button_text_press: 	rgb(249, 249, 249);

@color_button_EditText:		rgb(207, 41, 41);
@color_button_EditTextPress:	rgb(249, 249, 249);
@color_button_EditBG:		rgb(0, 0, 0);
@color_button_EditBGPress:	rgb(0, 140, 210);
.LESSbutton_text1_style{
	font-family: @font_family;
	font-weight: normal;
	font-size: 1.0rem;
	font-style:normal;
	color: @color_button_text_normal;
	&:hover {color: @color_button_text_press;}
}

/***************************************************************************
		    Date Time picker color set
***************************************************************************/
@color_timepicker_selector_color:	rgb(0,140,210);

/***************************************************************************
                  Contextual Popup 
***************************************************************************/
@color_ctxpopup_border_left:	rgb(70, 70, 70); 
@color_ctxpopup_border_right:	rgb(0, 0, 0);
@color_ctxpopup_timepicker_text:	rgb( 105, 151, 173 );
@color_ctxpopup_timepicker_text_focus:	rgb( 249, 249, 249 );

/***************************************************************************
                    DaySelector
***************************************************************************/
@color_dayselector_Btn_Sat:		rgba(0, 168, 231, 1); /* #00a8e7 */
@color_dayselector_Btn_Sun:		rgba(240, 20, 2, 1); /* #f01402 */
@color_dayselector_Btn_Mon_to_Fri:	rgba(249, 249, 249, 1); /* #f9f9f9 */	
@color_dayselector_Btn_border:		rgba(100, 100, 100, 1); /* #646464 */	
@color_dayselector_Btn_normal:		rgba(59, 59, 59, 1); /* #3b3b3b */
@color_dayselector_Btn_press:		rgba(0, 140, 210, 1); /* #008cd2 */	


/***************************************************************************
                    OptionHeader
***************************************************************************/
@color_optionheader_Background:	rgba(72, 72, 72, 1); /* #484848 */
@color_optionheader_bt:		rgba(32, 32, 32, 1); /* #202020 */
@color_optionheader_bt_press:	rgba(35, 132, 182, 1); /* #2384b6 */
@color_optionheader_tab_text:	rgba(249, 249, 249, 1); /* #f9f9f9 */


/***************************************************************************
                    SearchBar(forms.textinput)
***************************************************************************/
@color_searchbar_bg : rgba(36, 36, 36, 1);   /* #242424 */
@color_searchbar_default_text : rgba(130, 130, 130, 1);       /* #828282 */


/***************************************************************************
                    SegmentControl
***************************************************************************/
@color_segmentcontrol_btn_normal : rgba(230, 230, 230, 1); /* #e6e6e6 */
@color_segmentcontrol_btn_press : rgba(61, 61, 61, 1); /* #3d3d3d; */
@color_segmentcontrol_Seg_text : rgba(144, 144, 144, 1); /* #909090 */
@color_segmentcontrol_Seg_text_pressed : rgba(0, 0, 0, 1); /* #000000 */


/***************************************************************************
                    ControlGroup
***************************************************************************/
@color_controlgroup_btn_border : rgba(37, 37, 37, 1); /* #252525 */


/***************************************************************************
                    Header / Footer 
                    NavigationBar / ControlBar
***************************************************************************/
@color_bar_bg : rgba(31, 31, 31, 1); /* #1F1F1F */
@color_bar_back_btn_press : rgba(10, 140, 210, 1); /* #0a8cd2 */
@color_bar_btn_press : rgba(10, 140, 210, 1); /* #0a8cd2 */
@color_bar_btn_bg : rgba(31, 31, 31, 1); /* #1F1F1F */

@color_bar_seg_btn_border : rgba(43, 43, 43, 1); /* #2B2B2B */
@color_bar_seg_text_press : rgba(0, 0, 0, 1); /* #000000 */
@color_bar_seg_text_normal : rgba(118, 118, 118, 1); /* #767676 */
@color_bar_seg_btn_press : rgba(249, 249, 249, 1); /* #F9F9F9 */
@color_bar_seg_btn_normal : rgba(67, 67, 67, 1); /* #434343 */

@color_bar_title_text : rgba(249, 249, 249, 1); /* #F9F9F9 */
@color_bar_title_bg : rgba(108, 108, 108, 1); /* #6c6c6c */
@color_bar_title_btn_bg : rgba(132, 132, 132, 1); /* #848484 */
@color_bar_title_btn_border : rgba(76, 76, 76, 1); /* #4C4C4C */

@color_bar_footer_bg : rgba(31, 31, 31, 1); /* #1F1F1F */
@color_bar_footer_btn_bg : rgba(53, 53, 53, 1); /* #353535 */

@color_controlbar_btn_border : rgba(42, 42, 42, 1); /* #2A2A2A */
@color_controlbar_tabbbar_bg : rgba(31, 31, 31, 1); /* #1F1F1F */
@color_controlbar_toolbbar_bg : rgba(31, 31, 31, 1); /* #1F1F1F */
@color_controlbar_bg : rgba(31, 31, 31, 1); /* #1F1F1F */
@color_controlbar_btn_text : rgba(249, 249, 249, 1); /* #F9F9F9 */
@color_controlbar_btn_press : rgba(76, 76, 76, 1); /* #4c4c4c */


/***************************************************************************
                    Tickernoti
***************************************************************************/
@color_ticker_bg:			rgb(108, 108, 108);
@color_ticker_text1:			rgb(186, 186, 186);
@color_ticker_text2:			rgb(244, 244, 244);


/***************************************************************************
                    Smallpopup
***************************************************************************/
@color_smallpopup_bg:			rgb(52, 74, 85);
@color_smallpopup_text:			rgb(249, 249, 249);


/***************************************************************************
                    No Contents
***************************************************************************/
@color_nocontents_text:			rgb(81, 78, 76);


/***************************************************************************
                    Slider
***************************************************************************/
@color_slider_handle_text:		rgb(42, 109, 140);


/***************************************************************************
                   Handler
***************************************************************************/
@color_scrollview_handler_bg : rgba(255, 255, 255, 0.5);

/***************************************************************************
                   multimediaview
***************************************************************************/
@color_multimediaview_bg : rgb(0, 0, 0);
@color_multimediaview_control_bg : rgba(0, 0, 0, 0.5);
@color_multimediaview_button_bg : rgb(85, 85, 85);
@color_multimediaview_timestamp_text : rgb(42, 109, 140);
@color_multimediaview_duration_text : rgb(255, 255, 255);
@color_multimediaview_bar_gray : rgb(55, 55, 55);
@color_multimediaview_bar_active : rgb(42, 109, 140);
@color_multimediaview_bar_handle : rgb(249, 249, 249);
